$or-role-list: ( toggle-btn: ( height: 50px, width: 40px, color: #bdbdbd, hover-color: #333, top: 10px, theme: ( gray: ( background-color: #F7F7F7))), content: ( placeholder: ( space: 30px, header: ( font-size: 2rem, padding: 20px 30px 15px, border-color: #e0e0e0, height: 70px), container: ( padding: 30px), group: ( margin-bottom: 40px, header: ( border-color: #dcdce5, title: ( color: #35383d, font-size: 15px)), item: ( margin-bottom: 20px, ), wings: ( border-color: #dcdce5, )), form-group: ( title: ( color: #939393, font-size: 11px)))), aside: ( padding: 48px 10px 10px, border-color: #dcdce5, background-color: #ffffff, min-width: 20px, max-width: 240px, theme: ( gray: ( background-color: #F7F7F7)), footer: ( width: 100%, height: 70px, padding: 0 30px, margin: 0, background-color: #35383d, border-color: #dcdce5, button: ( background-color: #21242b, color: #ffffff)), placeholder: ( space: 10px, color: #35383d, font-size: 1rem, container: ( padding: 20px), group: ( margin-bottom: 20px, header: ( border-color: #dcdce5, title: ( color: #939393, font-size: 11px)), item: ( margin-bottom: 10px, ), list: ( label: ( font-size: 13px, color: #333333))), form-group: ( title: ( color: #939393, font-size: 11px)))));
$or-role-list: map-merge($or-role-list, getSettingsMap("or-role-list"));
$o-map: $or-role-list;
.or-role-list {
    display: block;
    .c-container-canvas {
        .c-text-input {
            &__bar {
                background-color: #ffffff;
            }
        }
    }
    .c-responsive-table__row {
        padding-top: 1.2em;
        padding-bottom: 1.2em;
    }
    .c-responsive-table__action-btn {
        width: inherit;
        top: 44% !important;
    }
    .c-primary-column-line__title {
        @include ffamily('bold');
    }
    .c-selectbox {
        margin-right: 5px;
    }
    .p-header {
        @include ffamily('light');
        font-size: map-deep-get($content, placeholder, header, font-size);
        padding: map-deep-get($content, placeholder, header, padding);
        max-height: map-deep-get($content, placeholder, header, height);
        &+.p-full-content {
            height: calc(100% - #{map-deep-get($content, placeholder, header, height)});
        }
        &-bar__left {
            h2 {
                @include ffamily('regular');
            }
        }
        &--border {
            border-bottom: solid 1px map-deep-get($content, placeholder, header, border-color);
        }
        .c-button--circle.c-button--lg {
            vertical-align: middle;
            transform: translateY(-0.2em);
        }
    }
}

$o-map: null;