<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
</head>
<body style="padding:20px;">
	<!-- Your Component Goes Here -->

	<ul class="c-tab-bar">
	  <li class="c-tab-bar__item">
	    <a class="c-tab-bar__item__link" href="#">TEK GÜNLÜ ETKİNLİKLER</a>
	  </li>
	  <li class="c-tab-bar__item">
	    <a class="c-tab-bar__item__link c-tab-bar__item__link--active" href="#">ÇOK GÜNLÜ ETKİNLİKLER</a>
	  </li>
	  <li class="c-tab-bar__item">
	    <a class="c-tab-bar__item__link" href="#">ÇATI ETKİNLİKLERİ</a>
	  </li>
	</ul>


</body>
</html><!-- End Of Html -->
