<!DOCTYPE html>
<html lang="tr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
	<script src="../../../bower_components/jquery/dist/jquery.min.js"></script>
	<style media="screen">
		.sample {
			float: left;
			margin-right: 50px;
			width: 240px
		}
	</style>
</head>
<body style="padding:20px;">
	<!-- Your Component Goes Here -->


  <div class="sample"> <!-- Örnek kapsayıcı. Master'a birleştirilirken bu div görmezden gelinecek -->

    <div class="c-narrow-col-status-feeback">
      <i class="c-narrow-col-status-feeback__icon icon__n icon__n--snooze"></i>

      <span class="c-narrow-col-status-feeback__title">Bu Etinlik Ertelenmiş</span>
      <span class="c-narrow-col-status-feeback__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>

      <span class="c-narrow-col-status-feeback__sub-title">Erteleyen</span>
      <span class="c-narrow-col-status-feeback__content">altugc, 12.12.2016, 20:30</span>

      <a href="#" class="c-narrow-col-status-feeback__action-button btn btn-secondary">Ertelemeyi Kaldır</a>
    </div><!-- /.c-call-to-action-box -->

  </div>

	<div class="sample">
		<div class="c-narrow-col-status-feeback">
			<i class="c-narrow-col-status-feeback__icon icon__n icon__n--do_not_disturb"></i>

			<span class="c-narrow-col-status-feeback__title">Bu Etinlik İptal Edilmiş</span>
			<span class="c-narrow-col-status-feeback__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>

			<span class="c-narrow-col-status-feeback__sub-title">İptal Eden</span>
			<span class="c-narrow-col-status-feeback__content">altugc, 12.12.2016, 20:30</span>
		</div><!-- /.c-call-to-action-box -->
	</div><!-- /.sample -->


</body>
</html><!-- End Of Html -->
