<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
  <script src="../../../bower_components/jquery/dist/jquery.min.js"></script>


  <style>
    .theme-section {
      padding: 10px 30px
    }

    .theme-section--dark {
      background-color: #35383d;
      color: #aeaeae;
    }

    .theme-section--dark .preview-card {
      border: solid 1px #878787;
    }

    .preview-card {
      display: inline-block;
      position: relative;
      margin: 20px 20px 0px 0px;
      border: solid 1px #ececea;
      width: 340px;
      height: 320px;
      padding: 40px;
      overflow: hidden;
    }

    .preview-card__header {

    }

    .preview-card__content {
      position: absolute;
      bottom: 40px;
      left: 40px;
      width: calc(100% - 80px);
    }
  </style>

</head>
<body>

  <div class="theme-section theme-section--dark">

		<div class="preview-card">
      <div class="preview-card__header">
        <h3>By font-size</h3>
				<smaller>font-size: 80px</smaller>
      </div>

      <div class="preview-card__content">

				<span class="c-avatar" style="font-size: 80px;">
					<figure>
						<img src="http://lorempixel.com/600/400/people/9" alt="">
					</figure>
				</span>

      </div>

    </div>

		<div class="preview-card">
      <div class="preview-card__header">
        <h3>By font-size --circle custom size</h3>
				<smaller>font-size: 120px</smaller>
      </div>

      <div class="preview-card__content">

				<span class="c-avatar c-avatar--autosize c-avatar--circle" style="font-size: 120px;">
					<figure>
						<img src="http://lorempixel.com/600/400/people/9" alt="">
					</figure>
				</span>

      </div>

    </div>

		<div class="preview-card">
      <div class="preview-card__header">
        <h3>By font-size --circle <span class="text-nowrap">--autosize</span></h3>
				<smaller>parent font-size: 75px</smaller>
      </div>

      <div class="preview-card__content">
				<span style="font-size: 75px; line-height: 0px;">
				<span class="c-avatar c-avatar--autosize c-avatar--circle">
					<figure>
						<img src="http://lorempixel.com/600/400/people/9" alt="">
					</figure>
				</span>
			</span>

      </div>

    </div>

    <div class="preview-card">
      <div class="preview-card__header">
        <h3>Small Size --sm</h3>
      </div>

      <div class="preview-card__content">

				<span class="c-avatar c-avatar--sm">
					<figure>
						<img src="http://lorempixel.com/600/400/people/9" alt="">
					</figure>
				</span>

      </div>

    </div>

    <div class="preview-card">
      <div class="preview-card__header">
        <h3>Medium Size --md</h3>
      </div>

      <div class="preview-card__content">

        <span class="c-avatar">
					<figure>
						<img src="http://lorempixel.com/600/400/people/9" alt="">
					</figure>
				</span>

      </div>

    </div>

    <div class="preview-card">
      <div class="preview-card__header">
        <h3>Large Size --lg</h3>
      </div>

      <div class="preview-card__content">

				<span class="c-avatar c-avatar--lg">
					<figure>
						<img src="http://lorempixel.com/600/400/people/9" alt="">
					</figure>
				</span>

      </div>

    </div>

    <div class="preview-card">
      <div class="preview-card__header">
        <h3>Small Size --sm --circle</h3>
      </div>

      <div class="preview-card__content">

				<span class="c-avatar c-avatar--sm c-avatar--circle">
					<figure>
						<img src="http://lorempixel.com/600/400/people/9" alt="">
					</figure>
				</span>

      </div>

    </div>

    <div class="preview-card">
      <div class="preview-card__header">
        <h3>Medium Size --md --circle</h3>
      </div>

      <div class="preview-card__content">

				<span class="c-avatar c-avatar--circle">
					<figure>
						<img src="http://lorempixel.com/600/400/people/9" alt="">
					</figure>
				</span>

      </div>

    </div>

    <div class="preview-card">
      <div class="preview-card__header">
        <h3>Large Size --lg --circle</h3>
      </div>

      <div class="preview-card__content">

				<span class="c-avatar c-avatar--lg c-avatar--circle">
					<figure>
						<img src="http://lorempixel.com/600/400/people/9" alt="">
					</figure>
				</span>

      </div>

    </div>

  </div>

  <script>

  </script>

</body>
</html>
