<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
	<style media="screen">
		.sample {
			margin-bottom: 50px;
		}
		h1 {
			margin-bottom: 25px;
		}
	</style>
	<script src="../../../bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body style="padding:20px;">
	<!-- Your Component Goes Here -->

	<div class="sample">
		<h1>Kapalı Durum</h1>

		<div class="c-collapsible-card-to-form">
			<div class="c-collapsible-card-to-form__header">
				<span class="c-collapsible-card-to-form__handle"><i class="icon__n icon__n--dehaze"></i></span>
				<span class="c-collapsible-card-to-form__title">
					<span class="c-collapsible-card-to-form__title-inner">Title</span>
				</span>
				<div class="c-collapsible-card-to-form__actions">
					<a href="#" class="c-collapsible-card-to-form__expand"><i class="icon__n icon__n--unfold_more"></i></a>
					<a href="#" class="c-collapsible-card-to-form__collapse"><i class="icon__n icon__n--unfold_less"></i></a>
					<a href="#" class="c-collapsible-card-to-form__more-actions"><i class="icon__n icon__n--more_vert"></i></a>
				</div><!-- /.c-collapsible-card-to-form__actions -->
			</div><!-- /.c-collapsible-card-to-form__header -->

			<div class="c-collapsible-card-to-form__body">
				<div class="c-collapsible-card-to-form__row c-collapsible-card-to-form__row--half">
					<div class="c-collapsible-card-to-form__row-label"><label for="select-box">SELECT BOX</label></div><!-- /.p-group__label -->
					<div class="c-collapsible-card-to-form__row-select">
						<div class="c-selectbox">
							<div class="c-selectbox__field">
							<select id="select-box">
								<option>Option 1</option>
								<option>Option 2</option>
								<option>Option 3</option>
							</select>
							</div>
						</div>
					</div><!-- /.p-group__select -->
				</div><!-- /.c-collapsible-card-to-form__row -->

				<div class="c-collapsible-card-to-form__row c-collapsible-card-to-form__row--half">
					<div class="c-collapsible-card-to-form__row-label"><label for="input-half">HALF WIDTH INPUT</label></div><!-- /.p-group__label -->
					<div class="c-collapsible-card-to-form__row-input"><input type="text" class="form-control" id="input-half"></div><!-- /.p-group__input -->
				</div><!-- /.c-collapsible-card-to-form__row -->

				<div class="c-collapsible-card-to-form__row">
					<div class="c-collapsible-card-to-form__row-label"><label for="input-full">FULL WIDTH INPUT</label></div><!-- /.p-group__label -->
					<div class="c-collapsible-card-to-form__row-input"><input type="text" class="form-control" id="input-full"></div><!-- /.p-group__input -->
				</div><!-- /.c-collapsible-card-to-form__row -->

				<div class="c-collapsible-card-to-form__row">
					<div class="c-collapsible-card-to-form__row-label">
						<label class="c-lightswitch">
							<input type="checkbox">
							<span class="c-lightswitch__label">LIGHTSWITCH</span>
							<div class="c-lightswitch__toggle">
								<span class="c-lightswitch__toggle-wrap"><span class="c-lightswitch__toggle-on"></span><span class="c-lightswitch__toggle-handle"></span><span class="c-lightswitch__toggle-off"></span></span>
							</div>
						</label>
					</div><!-- /.p-group__label -->
				</div><!-- /.c-collapsible-card-to-form__row -->

			</div><!-- /.c-collapsible-card-to-form__body -->
		</div><!-- /.c-collapsible-card-to-form -->

		<div class="c-collapsible-card-to-form">
			<div class="c-collapsible-card-to-form__header">
				<span class="c-collapsible-card-to-form__handle"><i class="icon__n icon__n--dehaze"></i></span>
				<span class="c-collapsible-card-to-form__title">
					<span class="c-collapsible-card-to-form__title-inner">Title</span>
				</span>
				<div class="c-collapsible-card-to-form__actions">
					<a href="#" class="c-collapsible-card-to-form__expand"><i class="icon__n icon__n--unfold_more"></i></a>
					<a href="#" class="c-collapsible-card-to-form__collapse"><i class="icon__n icon__n--unfold_less"></i></a>
					<a href="#" class="c-collapsible-card-to-form__more-actions"><i class="icon__n icon__n--more_vert"></i></a>
				</div><!-- /.c-collapsible-card-to-form__actions -->
			</div><!-- /.c-collapsible-card-to-form__header -->

			<div class="c-collapsible-card-to-form__body">
				<div class="c-collapsible-card-to-form__row c-collapsible-card-to-form__row--half">
					<div class="c-collapsible-card-to-form__row-label"><label for="select-box">SELECT BOX</label></div><!-- /.p-group__label -->
					<div class="c-collapsible-card-to-form__row-select">
						<div class="c-selectbox">
							<div class="c-selectbox__field">
							<select id="select-box">
								<option>Option 1</option>
								<option>Option 2</option>
								<option>Option 3</option>
							</select>
							</div>
						</div>
					</div><!-- /.p-group__select -->
				</div><!-- /.c-collapsible-card-to-form__row -->

				<div class="c-collapsible-card-to-form__row c-collapsible-card-to-form__row--half">
					<div class="c-collapsible-card-to-form__row-label"><label for="input-half">HALF WIDTH INPUT</label></div><!-- /.p-group__label -->
					<div class="c-collapsible-card-to-form__row-input"><input type="text" class="form-control" id="input-half"></div><!-- /.p-group__input -->
				</div><!-- /.c-collapsible-card-to-form__row -->

				<div class="c-collapsible-card-to-form__row">
					<div class="c-collapsible-card-to-form__row-label"><label for="input-full">FULL WIDTH INPUT</label></div><!-- /.p-group__label -->
					<div class="c-collapsible-card-to-form__row-input"><input type="text" class="form-control" id="input-full"></div><!-- /.p-group__input -->
				</div><!-- /.c-collapsible-card-to-form__row -->

				<div class="c-collapsible-card-to-form__row">
					<div class="c-collapsible-card-to-form__row-label">
						<label class="c-lightswitch">
							<input type="checkbox">
							<span class="c-lightswitch__label">LIGHTSWITCH</span>
							<div class="c-lightswitch__toggle">
								<span class="c-lightswitch__toggle-wrap"><span class="c-lightswitch__toggle-on"></span><span class="c-lightswitch__toggle-handle"></span><span class="c-lightswitch__toggle-off"></span></span>
							</div>
						</label>
					</div><!-- /.p-group__label -->
				</div><!-- /.c-collapsible-card-to-form__row -->

			</div><!-- /.c-collapsible-card-to-form__body -->
		</div><!-- /.c-collapsible-card-to-form -->

	</div><!-- /.sample -->

	<div class="sample">
		<h1>Açık Durum</h1>

		<div class="c-collapsible-card-to-form c-collapsible-card-to-form--expanded">
			<div class="c-collapsible-card-to-form__header">
				<span class="c-collapsible-card-to-form__handle"><i class="icon__n icon__n--dehaze"></i></span>
				<span class="c-collapsible-card-to-form__title">
					<span class="c-collapsible-card-to-form__title-inner">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
				</span>
				<div class="c-collapsible-card-to-form__actions">
					<a href="#" class="c-collapsible-card-to-form__expand"><i class="icon__n icon__n--unfold_more"></i></a>
					<a href="#" class="c-collapsible-card-to-form__collapse"><i class="icon__n icon__n--unfold_less"></i></a>
					<a href="#" class="c-collapsible-card-to-form__more-actions"><i class="icon__n icon__n--more_vert"></i></a>
				</div><!-- /.c-collapsible-card-to-form__actions -->
			</div><!-- /.c-collapsible-card-to-form__title -->

			<div class="c-collapsible-card-to-form__body">
				<div class="c-collapsible-card-to-form__row c-collapsible-card-to-form__row--half">
					<div class="c-collapsible-card-to-form__row-label"><label for="select-box">SELECT BOX</label></div><!-- /.p-group__label -->
					<div class="c-collapsible-card-to-form__row-select">
						<div class="c-selectbox">
							<div class="c-selectbox__field">
							<select id="select-box">
								<option>Option 1</option>
								<option>Option 2</option>
								<option>Option 3</option>
							</select>
							</div>
						</div>
					</div><!-- /.p-group__select -->
				</div><!-- /.c-collapsible-card-to-form__row -->

				<div class="c-collapsible-card-to-form__row c-collapsible-card-to-form__row--half">
					<div class="c-collapsible-card-to-form__row-label"><label for="input-half">HALF WIDTH INPUT</label></div><!-- /.p-group__label -->
					<div class="c-collapsible-card-to-form__row-input"><input type="text" class="form-control" id="input-half"></div><!-- /.p-group__input -->
				</div><!-- /.c-collapsible-card-to-form__row -->

				<div class="c-collapsible-card-to-form__row">
					<div class="c-collapsible-card-to-form__row-label"><label for="input-full">FULL WIDTH INPUT</label></div><!-- /.p-group__label -->
					<div class="c-collapsible-card-to-form__row-input"><input type="text" class="form-control" id="input-full"></div><!-- /.p-group__input -->
				</div><!-- /.c-collapsible-card-to-form__row -->

				<div class="c-collapsible-card-to-form__row">
					<div class="c-collapsible-card-to-form__row-label">
						<label class="c-lightswitch">
							<input type="checkbox">
							<span class="c-lightswitch__label">LIGHTSWITCH</span>
							<div class="c-lightswitch__toggle">
								<span class="c-lightswitch__toggle-wrap"><span class="c-lightswitch__toggle-on"></span><span class="c-lightswitch__toggle-handle"></span><span class="c-lightswitch__toggle-off"></span></span>
							</div>
						</label>
					</div><!-- /.p-group__label -->
				</div><!-- /.c-collapsible-card-to-form__row -->

			</div><!-- /.c-collapsible-card-to-form__body -->
		</div><!-- /.c-collapsible-card-to-form -->

	</div><!-- /.sample -->

</body>
</html><!-- End Of Html -->
