<!DOCTYPE html>
<html lang="tr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
	<script src="../../../bower_components/jquery/dist/jquery.min.js"></script>
	<style media="screen">
		.sample {
			margin-bottom: 50px;
		}
		.sample--narrow {
			width: 250px;
		}
		h1 {
			margin-bottom: 25px;
		}
		.c-container-canvas {
			padding: 8px 10px;
			min-height: auto;
			text-align: left;
		}
	</style>
</head>
<body style="padding:20px;">
	<!-- Your Component Goes Here -->

<div class="sample">
	<h1>Standart Kullanım</h1>
	<div class="c-container-canvas c-container-canvas--dashed-border">

		<div class="c-basic-button-group">
			<ul class="c-basic-button-group__inner">
				<li class="c-basic-button-group__item"><a href="#" class="c-basic-button-group__button">Alt Başlık</a></li>
				<li class="c-basic-button-group__item"><a href="#" class="c-basic-button-group__button">Özet</a></li>
				<li class="c-basic-button-group__item"><a href="#" class="c-basic-button-group__button">İçerik Metni</a></li>
				<li class="c-basic-button-group__item"><a href="#" class="c-basic-button-group__button">Tarih</a></li>
				<li class="c-basic-button-group__item"><a href="#" class="c-basic-button-group__button">Ana Görsel</a></li>
			</ul><!-- /.c-basic-button-group__inner -->
		</div><!-- /.c-basic-button-group -->

	</div><!-- /.container-canvas -->

</div><!-- /.sample -->

<div class="sample sample--narrow">
	<h1>[Dar] Standart Kullanım</h1>
	<div class="c-container-canvas c-container-canvas--dashed-border">

		<div class="c-basic-button-group">
			<ul class="c-basic-button-group__inner">
				<li class="c-basic-button-group__item"><a href="#" class="c-basic-button-group__button">Alt Başlık</a></li>
				<li class="c-basic-button-group__item"><a href="#" class="c-basic-button-group__button">Özet</a></li>
				<li class="c-basic-button-group__item"><a href="#" class="c-basic-button-group__button">İçerik Metni</a></li>
				<li class="c-basic-button-group__item"><a href="#" class="c-basic-button-group__button">Tarih</a></li>
				<li class="c-basic-button-group__item"><a href="#" class="c-basic-button-group__button">Ana Görsel</a></li>
			</ul><!-- /.c-basic-button-group__inner -->
		</div><!-- /.c-basic-button-group -->

	</div><!-- /.container-canvas -->

</div><!-- /.sample -->

<div class="sample">
	<h1>İkonla Beraber Kullanım</h1>
	<div class="c-container-canvas c-container-canvas--dashed-border">

		<div class="c-basic-button-group">
			<div class="c-basic-button-group__icon">
				<i class="icon__n icon__n--add"></i>
			</div>

			<ul class="c-basic-button-group__inner">
				<li class="c-basic-button-group__item"><a href="#" class="c-basic-button-group__button">Alt Başlık</a></li>
				<li class="c-basic-button-group__item"><a href="#" class="c-basic-button-group__button">Özet</a></li>
				<li class="c-basic-button-group__item"><a href="#" class="c-basic-button-group__button">İçerik Metni</a></li>
				<li class="c-basic-button-group__item"><a href="#" class="c-basic-button-group__button">Tarih</a></li>
				<li class="c-basic-button-group__item"><a href="#" class="c-basic-button-group__button">Ana Görsel</a></li>
			</ul><!-- /.c-basic-button-group__inner -->
		</div><!-- /.c-basic-button-group -->

	</div><!-- /.container-canvas -->

</div><!-- /.sample -->

<div class="sample sample--narrow">
	<h1>[Dar] İkonla Beraber Kullanım</h1>
	<div class="c-container-canvas c-container-canvas--dashed-border">

		<div class="c-basic-button-group">
			<div class="c-basic-button-group__icon">
				<i class="icon__n icon__n--add"></i>
			</div>

			<ul class="c-basic-button-group__inner">
				<li class="c-basic-button-group__item"><a href="#" class="c-basic-button-group__button">Alt Başlık</a></li>
				<li class="c-basic-button-group__item"><a href="#" class="c-basic-button-group__button">Özet</a></li>
				<li class="c-basic-button-group__item"><a href="#" class="c-basic-button-group__button">İçerik Metni</a></li>
				<li class="c-basic-button-group__item"><a href="#" class="c-basic-button-group__button">Tarih</a></li>
				<li class="c-basic-button-group__item"><a href="#" class="c-basic-button-group__button">Ana Görsel</a></li>
			</ul><!-- /.c-basic-button-group__inner -->
		</div><!-- /.c-basic-button-group -->

	</div><!-- /.container-canvas -->

</div><!-- /.sample -->

</body>
</html><!-- End Of Html -->
