<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
	<script src="../../../bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body style="padding:20px;">
	<!-- Your Component Goes Here -->

  <div class="sample" style="float:left; margin: 50px; width: 240px"> <!-- Örnek kapsayıcı. Master'a birleştirilirken bu div görmezden gelinecek -->

    <div class="c-cta-box">
      <i class="c-cta-box__icon icon__n icon__n--announcement"></i>
      <p class="c-cta-box__content"><i>Program bilgisi oluşturulmamış.</i> <b>Program bilgisini oluşturmak ister misiniz?</b></p>
      <a href="#" class="c-cta-box__action-link">İçerik Yönetimine Git</a>
    </div><!-- /.c-call-to-action-box -->

    <div class="c-cta-box c-cta-box--dark">
      <i class="c-cta-box__icon icon__n icon__n--announcement"></i>
      <p class="c-cta-box__content"><i>Bu performans henüz ürünleştirilmedi.</i> <b>Ürünleştirmek ister misiniz?</b></p>
      <a href="#" class="c-cta-box__action-link">Ürünleştir</a>
    </div><!-- /.c-call-to-action-box -->

  </div>


  <div class="sample" style="float:left; margin: 50px; width: 240px"> <!-- Örnek kapsayıcı. Master'a birleştirilirken bu div görmezden gelinecek -->

    <div class="c-cta-box c-cta-box--centered">
      <i class="c-cta-box__icon icon__n icon__n--snooze"></i>
      <span class="c-cta-box__title">Bu Etinlik Ertelenmiş</span>
      <p class="c-cta-box__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

      <span class="c-cta-box__sub-title">Erteleyen</span>
      <p class="c-cta-box__content">altugc, 12.12.2016, 20:30</p>

      <a href="#" class="c-cta-box__action-button btn-secondary">Ertelemeyi Kaldır</a>
    </div><!-- /.c-call-to-action-box -->

    <div class="c-cta-box c-cta-box--centered">
      <i class="c-cta-box__icon icon__n icon__n--do_not_disturb"></i>
      <span class="c-cta-box__title">Bu Etinlik İptal Edilmiş</span>
      <p class="c-cta-box__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

      <span class="c-cta-box__sub-title">İptal Eden</span>
      <p class="c-cta-box__content">altugc, 12.12.2016, 20:30</p>
    </div><!-- /.c-call-to-action-box -->

  </div>


</body>
</html><!-- End Of Html -->
