<!DOCTYPE html>
<html class="no-js" lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="../../../css/main.css">
    <style>
        section {
            margin-bottom: 30px;
        }
    </style>
</head>

<body style="padding:20px;">

    <section>
        <div class="c-product-item-line-boxoffice">

            <div class="c-product-item-line-boxoffice__item c-product-item-line-boxoffice__item--expand">

                <div class="c-product-item-line-boxoffice__ticket-effect c-product-item-line-boxoffice__ticket-effect-left"></div>

                <div class="c-product-item-line-boxoffice__ticket-content">

                    <div class="c-product-item-line-boxoffice__item-summary">
                        <div class="c-product-item-line-boxoffice__title">
                            <strong class="c-product-item-line-boxoffice__title-name">Lorem Ipsum Dolor Sit Amet Bileti Lorem Ipsum Dolor Sit Amet </strong>
                            <div class="c-product-item-line-boxoffice__title-subtitle"><time datetime="10-10-2016 22:00">22 KASIM, Salı 22:00</time>’a kadar satışta</div>
                            <i class="icon__n icon__n--close"></i>
                            <i class="icon__n icon__n--info_outline"></i>
                        </div>

                        <div class="c-product-item-line-boxoffice__amount">
                            <span class="c-product-item-line-boxoffice__amount-value">50,00 <sup>TL</sup></span>
                        </div>

                        <div class="c-product-item-line-boxoffice__action-area">
                            <div class="row c-product-item-line-boxoffice__action-area-elements">
                                <div class="col-xs-8 c-product-item-line-boxoffice__action-area-item">
                                    <app-selectbox></app-selectbox><small class="c-product-item-line-boxoffice_small"><strong>20 ADET</strong> Boş yer.</small></div>
                                <div class="col-xs-8 c-product-item-line-boxoffice__action-area-item"><button class="btn btn-primary btn-block">SEPETE EKLE</button></div>
                            </div>
                        </div>
                    </div>

                    <div class="c-product-item-line-boxoffice__item-content">
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Quisque vitae nisl turpis.</li>
                            <li>Mauris porttitor justo sed magna dignissim, vitae bibendum urna semper.</li>
                            <li>In mattis tellus elit, quis pulvinar sapien laoreet ac. Ut eget velit nec dolor laoreet sodales vitae ut odio.</li>
                            <li>Nunc vel feugiat eros.</li>
                        </ul>
                    </div>

                </div>

                <div class="c-product-item-line-boxoffice__ticket-effect c-product-item-line-boxoffice__ticket-effect-right"></div>

            </div>
            <!--end c-product-item-line-boxoffice__item-->

            <div class="c-product-item-line-boxoffice__item">

                <div class="c-product-item-line-boxoffice__ticket-effect c-product-item-line-boxoffice__ticket-effect-left"></div>

                <div class="c-product-item-line-boxoffice__ticket-content">

                    <div class="c-product-item-line-boxoffice__item-summary">

                        <div class="c-product-item-line-boxoffice__title">
                            <strong class="c-product-item-line-boxoffice__title-name">Lorem Ipsum Dolor Sit Amet Bileti Lorem Ipsum Dolor Sit Amet </strong>
                            <div class="c-product-item-line-boxoffice__title-subtitle"><time datetime="10-10-2016 22:00">22 KASIM, Salı 22:00</time>’a kadar satışta</div>
                            <i class="icon__n icon__n--close"></i>
                            <i class="icon__n icon__n--info_outline"></i>
                        </div>

                        <div class="c-product-item-line-boxoffice__amount">
                            <span class="c-product-item-line-boxoffice__amount-value">50,00 <sup>TL</sup></span>
                        </div>

                        <div class="c-product-item-line-boxoffice__action-area">
                            <div class="row c-product-item-line-boxoffice__action-area-elements">
                                <div class="col-xs-8 c-product-item-line-boxoffice__action-area-item">
                                    <app-selectbox></app-selectbox><small class="c-product-item-line-boxoffice_small"><strong>20 ADET</strong> Boş yer.</small></div>
                                <div class="col-xs-8 c-product-item-line-boxoffice__action-area-item"><button class="btn btn-primary btn-block">SEPETE EKLE</button></div>
                            </div>
                        </div>
                    </div>

                    <div class="c-product-item-line-boxoffice__item-content">
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Quisque vitae nisl turpis.</li>
                            <li>Mauris porttitor justo sed magna dignissim, vitae bibendum urna semper.</li>
                            <li>In mattis tellus elit, quis pulvinar sapien laoreet ac. Ut eget velit nec dolor laoreet sodales vitae ut odio.</li>
                            <li>Nunc vel feugiat eros.</li>
                        </ul>
                    </div>

                </div>

                <div class="c-product-item-line-boxoffice__ticket-effect c-product-item-line-boxoffice__ticket-effect-right"></div>

            </div>
            <!--end c-product-item-line-boxoffice__item-->

            <div class="c-product-item-line-boxoffice__item">

                <div class="c-product-item-line-boxoffice__ticket-effect c-product-item-line-boxoffice__ticket-effect-left"></div>

                <div class="c-product-item-line-boxoffice__title">
                    <strong class="c-product-item-line-boxoffice__title-name">Dolor Sit Amet Bileti</strong>
                    <div class="c-product-item-line-boxoffice__title-subtitle"><time datetime="10-10-2016 22:00">22 KASIM, Salı 22:00</time>’a kadar satışta</div>
                    <i class="icon__n icon__n--close"></i>
                    <i class="icon__n icon__n--info_outline"></i>
                </div>

                <div class="c-product-item-line-boxoffice__amount">
                    <span class="c-product-item-line-boxoffice__amount-value">50,00 <sup>TL</sup></span>
                </div>

                <div class="c-product-item-line-boxoffice__action-area">
                    <div class="row c-product-item-line-boxoffice__action-area-elements">
                        <div class="col-xs-8 c-product-item-line-boxoffice__action-area-item">
                            <app-number-stepper></app-number-stepper><small class="c-product-item-line-boxoffice_small"><strong>20 ADET</strong> Boş yer.</small></div>
                        <div class="col-xs-8 c-product-item-line-boxoffice__action-area-item"><button class="btn btn-primary btn-block">SEPETE EKLE</button></div>
                    </div>
                    <div class="c-product-item-line-boxoffice__action-area-results">
                        <span>Ürün Sepete Eklendi</span> <i class="icon__n icon__n--check"></i>
                    </div>
                </div>

                <div class="c-product-item-line-boxoffice__ticket-effect c-product-item-line-boxoffice__ticket-effect-right"></div>

            </div>
            <!--end c-product-item-line-boxoffice__item-->

            <div class="c-product-item-line-boxoffice__item c-product-item-line-boxoffice__item--basket-added">

                <div class="c-product-item-line-boxoffice__ticket-effect c-product-item-line-boxoffice__ticket-effect-left"></div>

                <div class="c-product-item-line-boxoffice__title">
                    <div class="c-product-item-line-boxoffice__border" style="background-color:#55e200"></div>
                    <strong class="c-product-item-line-boxoffice__title-name">Dolor Sit Amet Bileti</strong>
                    <div class="c-product-item-line-boxoffice__title-subtitle"><time datetime="10-10-2016 22:00">22 KASIM, Salı 22:00</time>’a kadar satışta</div>
                    <i class="icon__n icon__n--close"></i>
                    <i class="icon__n icon__n--info_outline"></i>
                </div>

                <div class="c-product-item-line-boxoffice__amount">
                    <span class="c-product-item-line-boxoffice__amount-value">50,00 <sup>TL</sup></span>
                </div>

                <div class="c-product-item-line-boxoffice__action-area">
                    <div class="row c-product-item-line-boxoffice__action-area-elements">
                        <div class="col-xs-8 c-product-item-line-boxoffice__action-area-item">
                            <app-selectbox></app-selectbox><small class="c-product-item-line-boxoffice_small"><strong>20 ADET</strong> Boş yer.</small></div>
                        <div class="col-xs-8 c-product-item-line-boxoffice__action-area-item"><button class="btn btn-primary btn-block">SEPETE EKLE</button></div>
                    </div>
                    <div class="c-product-item-line-boxoffice__action-area-results">
                        <span>Ürün Sepete Eklendi</span> <i class="icon__n icon__n--check"></i>
                    </div>
                </div>

                <div class="c-product-item-line-boxoffice__ticket-effect c-product-item-line-boxoffice__ticket-effect-right"></div>

            </div>
            <!--end c-product-item-line-boxoffice__item-->

            <div class="c-product-item-line-boxoffice__item">

                <div class="c-product-item-line-boxoffice__ticket-effect c-product-item-line-boxoffice__ticket-effect-left"></div>

                <div class="c-product-item-line-boxoffice__title">
                    <strong class="c-product-item-line-boxoffice__title-name">Lorem Ipsum Dolor </strong>
                    <div class="c-product-item-line-boxoffice__title-subtitle"><time datetime="10-10-2016 22:00">22 KASIM, Salı 22:00</time>’a kadar satışta</div>
                </div>

                <div class="c-product-item-line-boxoffice__amount">
                    <span class="c-product-item-line-boxoffice__amount-value">50,00 <sup>TL</sup></span>
                </div>

                <div class="c-product-item-line-boxoffice__action-area">
                    <div class="row c-product-item-line-boxoffice__action-area-elements">
                        <div class="col-xs-8 c-product-item-line-boxoffice__action-area-item">
                            <app-selectbox></app-selectbox><small class="c-product-item-line-boxoffice_small"><strong>20 ADET</strong> Boş yer.</small></div>
                        <div class="col-xs-8 c-product-item-line-boxoffice__action-area-item"><button class="btn btn-secondary btn-block">YER SEÇ</button></div>
                    </div>
                    <div class="c-product-item-line-boxoffice__action-area-results">
                        <span>Ürün Sepete Eklendi</span> <i class="icon__n icon__n--check"></i>
                    </div>
                </div>

                <div class="c-product-item-line-boxoffice__ticket-effect c-product-item-line-boxoffice__ticket-effect-right"></div>

            </div>
            <!--end c-product-item-line-boxoffice__item-->

            <div class="c-product-item-line-boxoffice__item c-product-item-line-boxoffice__item--disabled">

                <div class="c-product-item-line-boxoffice__ticket-effect c-product-item-line-boxoffice__ticket-effect-left"></div>

                <div class="c-product-item-line-boxoffice__title">
                    <strong class="c-product-item-line-boxoffice__title-name">Lorem Ipsum Dolor </strong>
                    <div class="c-product-item-line-boxoffice__title-subtitle"><time datetime="10-10-2016 22:00">22 KASIM, Salı 22:00</time>’a kadar satışta</div>
                </div>

                <div class="c-product-item-line-boxoffice__amount">
                    <span class="c-product-item-line-boxoffice__amount-value">50,00 <sup>TL</sup></span>
                </div>

                <div class="c-product-item-line-boxoffice__action-area">
                    <div class="row c-product-item-line-boxoffice__action-area-elements">
                        <div class="col-xs-8 c-product-item-line-boxoffice__action-area-item">
                            <app-selectbox></app-selectbox><small class="c-product-item-line-boxoffice__small"><strong>TÜKENDİ</strong></small></div>
                        <div class="col-xs-8 c-product-item-line-boxoffice__action-area-item"><button class="btn btn-transparent btn-block" disabled>YER SEÇ</button></div>
                    </div>
                    <div class="c-product-item-line-boxoffice__action-area-results">
                        Ürün Sepete Eklendi <i class="icon__n icon__n--check"></i>
                    </div>
                </div>

                <div class="c-product-item-line-boxoffice__ticket-effect c-product-item-line-boxoffice__ticket-effect-right"></div>

            </div>
            <!--end c-product-item-line-boxoffice__item-->

        </div>
        <!--end c-product-item-line-boxoffice-->
    </section>

    <section>
        <div class="c-product-item-line-boxoffice">

            <div class="c-product-item-line-boxoffice__item">

                <div class="c-product-item-line-boxoffice__ticket-effect c-product-item-line-boxoffice__ticket-effect-left"></div>

                <div class="c-product-item-line-boxoffice__title">
                    <strong class="c-product-item-line-boxoffice__title-name">Lorem Ipsum Dolor </strong>
                    <div class="c-product-item-line-boxoffice__title-subtitle"><time datetime="10-10-2016 22:00">22 KASIM, Salı 22:00</time>’a kadar satışta</div>
                </div>

                <div class="c-product-item-line-boxoffice__amount">
                    <span class="c-product-item-line-boxoffice__amount-value">50,00 <sup>TL</sup></span>
                    <small class="c-product-item-line-boxoffice_small"><strong>2 ADET</strong> Boş yer.</small>
                </div>

                <div class="c-product-item-line-boxoffice__action-area">
                    <div class="row c-product-item-line-boxoffice__action-area-elements">
                        <div class="col-xs-8 c-product-item-line-boxoffice__action-area-item">
                            <div class="c-selectbox">
                                <div class="c-selectbox__field">
                                    <select>
                    <option>ADA GÖRE</option>
                    <option>SIRAYA GÖRE</option>
                  </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-8 c-product-item-line-boxoffice__action-area-item"><button class="btn btn-secondary btn-block">YER SEÇ</button></div>
                    </div>
                    <div class="c-product-item-line-boxoffice__action-area-results">
                        <span>Ürün Sepete Eklendi</span> <i class="icon__n icon__n--check"></i>
                    </div>
                </div>

                <div class="c-product-item-line-boxoffice__ticket-effect c-product-item-line-boxoffice__ticket-effect-right">
                    <a href=""><i class="icon__n icon__n--more_vert"></i></a>
                </div>

            </div>
            <!--end c-product-item-line-boxoffice__item-->

            <div class="c-product-item-line-boxoffice__item">

                <div class="c-product-item-line-boxoffice__ticket-effect c-product-item-line-boxoffice__ticket-effect-left"></div>

                <div class="c-product-item-line-boxoffice__title">
                    <strong class="c-product-item-line-boxoffice__title-name">Lorem Ipsum Dolor </strong>
                    <div class="c-product-item-line-boxoffice__title-subtitle"><time datetime="10-10-2016 22:00">22 KASIM, Salı 22:00</time>’a kadar satışta</div>
                </div>

                <div class="c-product-item-line-boxoffice__amount">
                    <span class="c-product-item-line-boxoffice__amount-value">50,00 <sup>TL</sup></span>
                    <small class="c-product-item-line-boxoffice_small"><strong>2 ADET</strong> Boş yer.</small>
                </div>

                <div class="c-product-item-line-boxoffice__action-area">
                    <div class="row c-product-item-line-boxoffice__action-area-elements">
                        <div class="col-xs-8 c-product-item-line-boxoffice__action-area-item">
                            <div class="c-selectbox">
                                <div class="c-selectbox__field">
                                    <select>
                    <option>ADA GÖRE</option>
                    <option>SIRAYA GÖRE</option>
                  </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-8 c-product-item-line-boxoffice__action-area-item"><button class="btn btn-secondary btn-block">YER SEÇ</button></div>
                    </div>
                    <div class="c-product-item-line-boxoffice__action-area-results">
                        <span>Ürün Sepete Eklendi</span> <i class="icon__n icon__n--check"></i>
                    </div>
                </div>

                <div class="c-product-item-line-boxoffice__ticket-effect c-product-item-line-boxoffice__ticket-effect-right">
                    <a href=""><i class="icon__n icon__n--more_vert"></i></a>
                </div>

            </div>
            <!--end c-product-item-line-boxoffice__item-->

        </div>
        <!--end c-product-item-line-boxoffice-->
    </section>

</body>

</html>