<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
  <script src="../../../bower_components/jquery/dist/jquery.min.js"></script>

	<style>
		body {
			background-color: #fff;
		}
		.theme-section {
			padding: 10px 30px
		}

		.preview-card {
			display: block;
			position: relative;
			margin: 20px 20px 30px 0px;
			border: solid 1px #ececea;
			width: 100%;
			padding: 40px;
		}

		.preview-card__header {
			color: #acacae;
			margin-bottom: 1em;
		}

		.preview-card__content {

		}
	</style>

</head>
<body>

  <div class="theme-section">

			<div class="preview-card">
				<div class="preview-card__header">
					<h3>Mini Grid</h3>
				</div>

				<div class="preview-card__content">
					<div class="c-responsive-table container-fluid theme__mini-grid">

						<div class="c-responsive-table__caption row">

							<div class="c-responsive-table__primary-column hidden-xs-down col-sm-8">
								<span class="c-sort-title">SANATÇI ADI</span>
							</div>

							<div class="c-responsive-table__secondary-column hidden-xs-down col-sm-8">
								<div class="col-sm-12">
									<span class="c-sort-title">ÜLKE</span>
								</div>
								<div class="col-sm-4">
									<span class="c-sort-title">TİP</span>
								</div>

							</div>
						</div>

		        <div class="c-responsive-table__row row">

		            <div class="c-responsive-table__primary-column col-sm-8">

									<div class="c-primary-column-line">

											<div class="c-primary-column-line__primary-content">
												<span>Nick Cave</span>
					            </div>

					            <div class="c-primary-column-line__secondary-content">

												<div class="c-responsive-table__secondary-item hidden-sm-up">
													<span class="c-responsive-table__secondary-item-label">SANATÇI ADI</span>
													<span class="c-responsive-table__secondary-item-value">Nick Cave</span>
												</div>

												<div class="c-responsive-table__secondary-item hidden-sm-up">
													<span class="c-responsive-table__secondary-item-label">ÜLKE</span>
													<span class="c-responsive-table__secondary-item-value">Australia</span>
												</div>

												<div class="c-responsive-table__secondary-item hidden-sm-up">
													<span class="c-responsive-table__secondary-item-label">TİP</span>
													<span class="c-responsive-table__secondary-item-value"><i class="icon__n icon__n--person"></i></span>
												</div>

					            </div>
					        </div>

		            </div>

		            <div class="c-responsive-table__secondary-column hidden-xs-down col-sm-8">

									<div class="col-sm-12">
										<span>Australia</span>
									</div>
									<div class="col-sm-4">
										<span><i class="icon__n icon__n--person"></i></span>
									</div>

		            </div>

		        </div>

						<div class="c-responsive-table__row row">

		            <div class="c-responsive-table__primary-column col-sm-8">

									<div class="c-primary-column-line">

											<div class="c-primary-column-line__primary-content">
												<span>Nick Cave</span>
					            </div>

					            <div class="c-primary-column-line__secondary-content">

												<div class="c-responsive-table__secondary-item hidden-sm-up">
													<span class="c-responsive-table__secondary-item-label">SANATÇI ADI</span>
													<span class="c-responsive-table__secondary-item-value">Nick Cave</span>
												</div>

												<div class="c-responsive-table__secondary-item hidden-sm-up">
													<span class="c-responsive-table__secondary-item-label">ÜLKE</span>
													<span class="c-responsive-table__secondary-item-value">Australia</span>
												</div>

												<div class="c-responsive-table__secondary-item hidden-sm-up">
													<span class="c-responsive-table__secondary-item-label">TİP</span>
													<span class="c-responsive-table__secondary-item-value"><i class="icon__n icon__n--person"></i></span>
												</div>

					            </div>
					        </div>

		            </div>

		            <div class="c-responsive-table__secondary-column hidden-xs-down col-sm-8">

									<div class="col-sm-12">
										<span>Australia</span>
									</div>
									<div class="col-sm-4">
										<span><i class="icon__n icon__n--person"></i></span>
									</div>

		            </div>

		        </div>

						<div class="c-responsive-table__row row">

		            <div class="c-responsive-table__primary-column col-sm-8">

									<div class="c-primary-column-line">

											<div class="c-primary-column-line__primary-content">
												<span>Nick Cave</span>
					            </div>

					            <div class="c-primary-column-line__secondary-content">

												<div class="c-responsive-table__secondary-item hidden-sm-up">
													<span class="c-responsive-table__secondary-item-label">SANATÇI ADI</span>
													<span class="c-responsive-table__secondary-item-value">Nick Cave</span>
												</div>

												<div class="c-responsive-table__secondary-item hidden-sm-up">
													<span class="c-responsive-table__secondary-item-label">ÜLKE</span>
													<span class="c-responsive-table__secondary-item-value">Australia</span>
												</div>

												<div class="c-responsive-table__secondary-item hidden-sm-up">
													<span class="c-responsive-table__secondary-item-label">TİP</span>
													<span class="c-responsive-table__secondary-item-value"><i class="icon__n icon__n--person"></i></span>
												</div>

					            </div>
					        </div>

		            </div>

		            <div class="c-responsive-table__secondary-column hidden-xs-down col-sm-8">

									<div class="col-sm-12">
										<span>Australia</span>
									</div>
									<div class="col-sm-4">
										<span><i class="icon__n icon__n--person"></i></span>
									</div>

		            </div>

		        </div>

						<div class="c-responsive-table__row row">

		            <div class="c-responsive-table__primary-column col-sm-8">

									<div class="c-primary-column-line">

											<div class="c-primary-column-line__primary-content">
												<span>Nick Cave</span>
					            </div>

					            <div class="c-primary-column-line__secondary-content">

												<div class="c-responsive-table__secondary-item hidden-sm-up">
													<span class="c-responsive-table__secondary-item-label">SANATÇI ADI</span>
													<span class="c-responsive-table__secondary-item-value">Nick Cave</span>
												</div>

												<div class="c-responsive-table__secondary-item hidden-sm-up">
													<span class="c-responsive-table__secondary-item-label">ÜLKE</span>
													<span class="c-responsive-table__secondary-item-value">Australia</span>
												</div>

												<div class="c-responsive-table__secondary-item hidden-sm-up">
													<span class="c-responsive-table__secondary-item-label">TİP</span>
													<span class="c-responsive-table__secondary-item-value"><i class="icon__n icon__n--person"></i></span>
												</div>

					            </div>
					        </div>

		            </div>

		            <div class="c-responsive-table__secondary-column hidden-xs-down col-sm-8">

									<div class="col-sm-12">
										<span>Australia</span>
									</div>
									<div class="col-sm-4">
										<span><i class="icon__n icon__n--person"></i></span>
									</div>

		            </div>

		        </div>

		      </div>
				</div>
			</div>


  </div>

  <script>
    $('').click(function(){

    })
  </script>

</body>
</html>
