<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
  <script src="../../../bower_components/jquery/dist/jquery.min.js"></script>

	<style>
		body {
			background-color: #fff;
		}
		.theme-section {
			padding: 10px 30px
		}

		.preview-card {
			display: block;
			position: relative;
			margin: 20px 20px 30px 0px;
			border: solid 1px #ececea;
			width: 100%;
			padding: 40px;
		}

		.preview-card__header {
			color: #acacae;
			margin-bottom: 1em;
		}

		.preview-card__content {

		}
	</style>

</head>
<body>

  <div class="theme-section">

			<div class="preview-card">
				<div class="preview-card__header">
					<h3>Responsive Table</h3>
				</div>

				<div class="preview-card__content">
					<div class="c-responsive-table container-fluid">

						<div class="c-responsive-table__caption row">

							<div class="c-responsive-table__primary-column hidden-sm-down col-md-9 col-lg-7">
								<span class="c-sort-title">ETKİNLİK ADI</span>
							</div>

							<div class="c-responsive-table__secondary-column hidden-sm-down col-md-7 col-lg-9">
								<div class="col-md-8 col-lg-6 col-xl-4">
									<span class="c-sort-title">TARİHİ</span>
								</div>
								<div class="col-md-8 col-lg-6 col-xl-4">
									<span class="c-sort-title">KAPI AÇILIŞI</span>
								</div>
								<div class="hidden-md-down col-lg-4 col-xl-4">
									<span class="c-sort-title">MEKAN</span>
								</div>
								<div class="hidden-lg-down col-xl-4">
									<span class="c-sort-title">KATEGORİ</span>
								</div>

							</div>
						</div>

		        <div class="c-responsive-table__row row">

		            <div class="c-responsive-table__primary-column col-sm-16 col-md-9 col-lg-7">

									<div class="c-primary-column-line c-primary-column-line--with-select c-primary-column-line--with-avatar">

											<div class="c-primary-column-line__primary-content">

												<div class="c-primary-column-line__border" style="background-color: #cd31ff;"></div>

					              <div class="c-primary-column-line__select">
					                <span class="c-checkbox">
					                  <input type="checkbox">
					                  <span class="c-checkbox__indicator"></span>
					                </span>
					              </div>
					              <div class="c-primary-column-line__avatar">
					                <span class="c-avatar c-avatar--auto-size c-avatar--circle"><figure><img src="http://lorempixel.com/600/400/people/9" alt=""></figure></span>
					              </div>
					              <div class="c-primary-column-line__title">
					                Kraak & Smaak Live. Powered by Lenovo
					              </div>

					            </div>

					            <div class="c-primary-column-line__secondary-content">

												<div class="c-responsive-table__secondary-item hidden-md-up">
													<span class="c-responsive-table__secondary-item-label">TARİH</span>
													<span class="c-responsive-table__secondary-item-value"><span class="text-nowrap">23 Eylül 2016</span> <span class="text-nowrap">Cuma, 22:00</span></span>
												</div>

												<div class="c-responsive-table__secondary-item hidden-md-up">
													<span class="c-responsive-table__secondary-item-label">KAPANIŞ SAATİ</span>
													<span class="c-responsive-table__secondary-item-value">22:00</span>
												</div>

												<div class="c-responsive-table__secondary-item hidden-lg-up">
													<span class="c-responsive-table__secondary-item-label">MEKAN</span>
													<span class="c-responsive-table__secondary-item-value">Babylon</span>
												</div>

												<div class="c-responsive-table__secondary-item hidden-xl-up">
													<span class="c-responsive-table__secondary-item-label">KATEGORİ</span>
													<span class="c-responsive-table__secondary-item-value">PERFORMANS</span>
												</div>

					            </div>
					        </div>

		            </div>

		            <div class="c-responsive-table__secondary-column hidden-sm-down col-md-7 col-lg-9">

									<div class="col-sm-9 col-md-8 col-lg-6 col-xl-4">
										<span class="text-nowrap">23 Eylül 2016</span> <span class="text-nowrap">Cuma, 22:00</span>
									</div>
									<div class="col-sm-9 col-md-8 col-lg-6 col-xl-4">
										<span>22:00</span>
									</div>
									<div class="hidden-md-down col-lg-4 col-xl-4">
										<span>Babylon</span>
									</div>
									<div class="hidden-lg-down col-xl-4">
										<span>PERFORMANS</span>
									</div>

		            </div>
		        </div>

						<div class="c-responsive-table__row c-responsive-table__row--selected row">

		            <div class="c-responsive-table__primary-column col-sm-16 col-md-9 col-lg-7">

									<div class="c-primary-column-line c-primary-column-line--with-select c-primary-column-line--with-avatar">

											<div class="c-primary-column-line__primary-content">

					              <div class="c-primary-column-line__select">
					                <span class="c-checkbox">
					                  <input type="checkbox" checked disabled>
					                  <span class="c-checkbox__indicator"></span>
					                </span>
					              </div>
					              <div class="c-primary-column-line__avatar">
					                <span class="c-avatar c-avatar--auto-size c-avatar--circle"><figure><img src="http://lorempixel.com/600/400/people/9" alt=""></figure></span>
					              </div>
					              <div class="c-primary-column-line__title">
					                Kraak & Smaak Live. Powered by Lenovo
					              </div>

					            </div>

					            <div class="c-primary-column-line__secondary-content">

												<div class="c-responsive-table__secondary-item hidden-md-up">
													<span class="c-responsive-table__secondary-item-label">TARİH</span>
													<span class="c-responsive-table__secondary-item-value"><span class="text-nowrap">23 Eylül 2016</span> <span class="text-nowrap">Cuma, 22:00</span></span>
												</div>

												<div class="c-responsive-table__secondary-item hidden-md-up">
													<span class="c-responsive-table__secondary-item-label">KAPANIŞ SAATİ</span>
													<span class="c-responsive-table__secondary-item-value">22:00</span>
												</div>

												<div class="c-responsive-table__secondary-item hidden-lg-up">
													<span class="c-responsive-table__secondary-item-label">MEKAN</span>
													<span class="c-responsive-table__secondary-item-value">Babylon</span>
												</div>

												<div class="c-responsive-table__secondary-item hidden-xl-up">
													<span class="c-responsive-table__secondary-item-label">KATEGORİ</span>
													<span class="c-responsive-table__secondary-item-value">PERFORMANS</span>
												</div>

					            </div>
					        </div>

		            </div>

		            <div class="c-responsive-table__secondary-column hidden-sm-down col-md-7 col-lg-9">

									<div class="col-sm-9 col-md-8 col-lg-6 col-xl-4">
										<span class="text-nowrap">23 Eylül 2016</span> <span class="text-nowrap">Cuma, 22:00</span>
									</div>
									<div class="col-sm-9 col-md-8 col-lg-6 col-xl-4">
										<span>22:00</span>
									</div>
									<div class="hidden-md-down col-lg-4 col-xl-4">
										<span>Babylon</span>
									</div>
									<div class="hidden-lg-down col-xl-4">
										<span>PERFORMANS</span>
									</div>

		            </div>
		        </div>

		      </div>
				</div>
			</div>

			<div class="preview-card">
				<div class="preview-card__header">
					<h3>Responsive Table --with-action-btn</h3>
				</div>

				<div class="preview-card__content">
					<div class="c-responsive-table c-responsive-table--with-action-btn container-fluid">

						<div class="c-responsive-table__caption row">

							<div class="c-responsive-table__primary-column hidden-sm-down col-md-9 col-lg-7">
								<span class="c-sort-title">ETKİNLİK ADI</span>
							</div>

							<div class="c-responsive-table__secondary-column hidden-sm-down col-md-7 col-lg-9">
								<div class="col-md-8 col-lg-6 col-xl-4">
									<span class="c-sort-title">TARİHİ</span>
								</div>
								<div class="col-md-8 col-lg-6 col-xl-4">
									<span class="c-sort-title">KAPI AÇILIŞI</span>
								</div>
								<div class="hidden-md-down col-lg-4 col-xl-4">
									<span class="c-sort-title">MEKAN</span>
								</div>
								<div class="hidden-lg-down col-xl-4">
									<span class="c-sort-title">KATEGORİ</span>
								</div>

							</div>
						</div>

		        <div class="c-responsive-table__row row">

		            <div class="c-responsive-table__primary-column col-sm-16 col-md-9 col-lg-7">

									<div class="c-primary-column-line c-primary-column-line--with-select c-primary-column-line--with-avatar">

											<div class="c-primary-column-line__primary-content">

					              <div class="c-primary-column-line__select">
					                <span class="c-checkbox">
					                  <input type="checkbox">
					                  <span class="c-checkbox__indicator"></span>
					                </span>
					              </div>
					              <div class="c-primary-column-line__avatar">
					                <span class="c-avatar c-avatar--auto-size c-avatar--circle"><figure><img src="http://lorempixel.com/600/400/people/9" alt=""></figure></span>
					              </div>
					              <div class="c-primary-column-line__title">
					                Kraak & Smaak Live. Powered by Lenovo
					              </div>

					            </div>

					            <div class="c-primary-column-line__secondary-content">

												<div class="c-responsive-table__secondary-item hidden-md-up">
													<span class="c-responsive-table__secondary-item-label">TARİH</span>
													<span class="c-responsive-table__secondary-item-value"><span class="text-nowrap">23 Eylül 2016</span> <span class="text-nowrap">Cuma, 22:00</span></span>
												</div>

												<div class="c-responsive-table__secondary-item hidden-md-up">
													<span class="c-responsive-table__secondary-item-label">KAPANIŞ SAATİ</span>
													<span class="c-responsive-table__secondary-item-value">22:00</span>
												</div>

												<div class="c-responsive-table__secondary-item hidden-lg-up">
													<span class="c-responsive-table__secondary-item-label">MEKAN</span>
													<span class="c-responsive-table__secondary-item-value">Babylon</span>
												</div>

												<div class="c-responsive-table__secondary-item hidden-xl-up">
													<span class="c-responsive-table__secondary-item-label">KATEGORİ</span>
													<span class="c-responsive-table__secondary-item-value">PERFORMANS</span>
												</div>

					            </div>
					        </div>

		            </div>

		            <div class="c-responsive-table__secondary-column hidden-sm-down col-md-7 col-lg-9">

									<div class="col-sm-9 col-md-8 col-lg-6 col-xl-4">
										<span class="text-nowrap">23 Eylül 2016</span> <span class="text-nowrap">Cuma, 22:00</span>
									</div>
									<div class="col-sm-9 col-md-8 col-lg-6 col-xl-4">
										<span>22:00</span>
									</div>
									<div class="hidden-md-down col-lg-4 col-xl-4">
										<span>Babylon</span>
									</div>
									<div class="hidden-lg-down col-xl-4">
										<span>PERFORMANS</span>
									</div>

		            </div>

								<div class="c-responsive-table__action-btn">
									<i class="icon__n icon__n--md icon__n--more_vert"></i>
								</div>

		        </div>

						<div class="c-responsive-table__row c-responsive-table__row--selected row">

		            <div class="c-responsive-table__primary-column col-sm-16 col-md-9 col-lg-7">

									<div class="c-primary-column-line c-primary-column-line--with-select c-primary-column-line--with-avatar">

											<div class="c-primary-column-line__primary-content">

					              <div class="c-primary-column-line__select">
					                <span class="c-checkbox">
					                  <input type="checkbox" checked disabled>
					                  <span class="c-checkbox__indicator"></span>
					                </span>
					              </div>
					              <div class="c-primary-column-line__avatar">
					                <span class="c-avatar c-avatar--auto-size c-avatar--circle"><figure><img src="http://lorempixel.com/600/400/people/9" alt=""></figure></span>
					              </div>
					              <div class="c-primary-column-line__title">
					                Kraak & Smaak Live. Powered by Lenovo
					              </div>

					            </div>

					            <div class="c-primary-column-line__secondary-content">

												<div class="c-responsive-table__secondary-item hidden-md-up">
													<span class="c-responsive-table__secondary-item-label">TARİH</span>
													<span class="c-responsive-table__secondary-item-value"><span class="text-nowrap">23 Eylül 2016</span> <span class="text-nowrap">Cuma, 22:00</span></span>
												</div>

												<div class="c-responsive-table__secondary-item hidden-md-up">
													<span class="c-responsive-table__secondary-item-label">KAPANIŞ SAATİ</span>
													<span class="c-responsive-table__secondary-item-value">22:00</span>
												</div>

												<div class="c-responsive-table__secondary-item hidden-lg-up">
													<span class="c-responsive-table__secondary-item-label">MEKAN</span>
													<span class="c-responsive-table__secondary-item-value">Babylon</span>
												</div>

												<div class="c-responsive-table__secondary-item hidden-xl-up">
													<span class="c-responsive-table__secondary-item-label">KATEGORİ</span>
													<span class="c-responsive-table__secondary-item-value">PERFORMANS</span>
												</div>

					            </div>
					        </div>

		            </div>

		            <div class="c-responsive-table__secondary-column hidden-sm-down col-md-7 col-lg-9">

									<div class="col-sm-9 col-md-8 col-lg-6 col-xl-4">
										<span class="text-nowrap">23 Eylül 2016</span> <span class="text-nowrap">Cuma, 22:00</span>
									</div>
									<div class="col-sm-9 col-md-8 col-lg-6 col-xl-4">
										<span>22:00</span>
									</div>
									<div class="hidden-md-down col-lg-4 col-xl-4">
										<span>Babylon</span>
									</div>
									<div class="hidden-lg-down col-xl-4">
										<span>PERFORMANS</span>
									</div>

		            </div>

								<div class="c-responsive-table__action-btn">
									<i class="icon__n icon__n--md icon__n--more_vert"></i>
								</div>

		        </div>

		      </div>
				</div>

			</div>

  </div>

  <script>
    $('').click(function(){

    })
  </script>

</body>
</html>
