<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../bower_components/pikaday/css/pikaday.css">
	<link rel="stylesheet" href="../../../css/main.css">
</head>
<body style="padding:20px;">
	<!-- Your Component Goes Here -->

	<div class="c-wide-col-basket-item">
		<div class="c-wide-col-basket-item__title">
			<h4 class="c-wide-col-basket-item__title-text">Lorem Ipsum Dolor Sit Amet Consectetur Bileti</h4>
			<div class="c-wide-col-basket-item__title-action">
				<div class="c-selectbox">
				  <div class="c-selectbox__field">
				 	<select>
				 	  <option>4 Adet</option>
				 	  <option>2 Adet</option>
				 	</select>
				  </div>
				</div>
				<a href="#" class="c-wide-col-basket-item__title-action-delete"><i class="icon__n icon__n--delete"></i></a>
			</div>
		</div>

		<div class="c-wide-col-basket-item__info">
			<h5 class="c-wide-col-basket-item__info-title">ETKİNLİK / PERFORMANS</h5>
			<p class="c-wide-col-basket-item__info-desc">Lorem Ipsum Dolor Sit Performansı <span class="c-wide-col-basket-item__info-date">16 Kasım, Çarşamba - 20:00</span></p>
		</div>

		<div class="c-wide-col-basket-item__table-container">
			
			<table>
				<thead>
					<tr>
						<th>BÖLÜM / BLOK</th>
						<th><span class="c-wide-col-basket-item__table-seat">KOLTUK</span></th>
						<th colspan="2">MÜŞTERİ</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>A 102</td>
						<td><span class="c-wide-col-basket-item__table-seat">22</span></td>
						<td>Altuğ Canıtez, <span class="c-wide-col-basket-item__table-phone">(0555) 5556677</span></td>
						<td><div class="c-wide-col-basket-item__table-price">12,50<sup>TL</sup></div></td>
					</tr>
					<tr>
						<td>A 102</td>
						<td><span class="c-wide-col-basket-item__table-seat">23</span></td>
						<td>Altuğ Canıtez, <span class="c-wide-col-basket-item__table-phone">(0555) 5556677</span></td>
						<td><div class="c-wide-col-basket-item__table-price">12,50<sup>TL</sup></div></td>
					</tr>
					<tr>
						<td>A 102</td>
						<td><span class="c-wide-col-basket-item__table-seat">24</span></td>
						<td>Altuğ Canıtez, <span class="c-wide-col-basket-item__table-phone">(0555) 5556677</span></td>
						<td><div class="c-wide-col-basket-item__table-price">12,50<sup>TL</sup></div></td>
					</tr>
					<tr>
						<td>A 102</td>
						<td><span class="c-wide-col-basket-item__table-seat">25</span></td>
						<td>Altuğ Canıtez, <span class="c-wide-col-basket-item__table-phone">(0555) 5556677</span></td>
						<td><div class="c-wide-col-basket-item__table-price">12,50<sup>TL</sup></div></td>
					</tr>
					<tr>
						<td colspan="4"><div class="c-wide-col-basket-item__table-total-price">50,00<sup>TL</sup></div></td>
					</tr>
				</tbody>
			</table>

		</div>

	</div><!-- /.c-wide-col-basket-item -->


</body>
</html>
<!-- End Of Html -->
