<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="../../../css/main.css">
    <script src="../../../bower_components/jquery/dist/jquery.min.js" />

</head>

<body>

    <div style="padding: 20px">
        <div style="display: inline-block; border: solid 1px #ececea; padding: 3em; margin-right: 2em;">
            <h3 style="margin: 2em 0px 6em;">c-light-switch--theme-light</h3>
            <div style="width: 80px;">
                <div class="c-light-switch c-light-switch--on">
                    <div class="c-light-switch__toggle">
                        <span class="c-light-switch__toggle-on"></span><span class="c-light-switch__toggle-handle"></span><span class="c-light-switch__toggle-off"></span>
                    </div>
                </div>
            </div>
        </div>

        <div style="display: inline-block; border: solid 1px #ececea; padding: 3em; background-color: #35383d; color: #fff;">
            <h3 style="margin: 2em 0px 6em;">c-light-switch--theme-dark</h3>
            <div style="width: 50px;">
                <div class="c-light-switch c-light-switch--theme-dark">
                    <div class="c-light-switch__toggle">
                        <span class="c-light-switch__toggle-on"></span><span class="c-light-switch__toggle-handle"></span><span class="c-light-switch__toggle-off"></span>
                    </div>
                </div>
            </div>
        </div>

        <div style="display: inline-block; border: solid 1px #ececea; padding: 3em; margin-right: 2em;width:300px;">
            <h3 style="margin: 2em 0px 6em;">c-light-switch whit labels type:List-view Label-left</h3>
            <div class="c-light-switch-field">
                <span class="c-light-switch-field__title">
                    AYARLAR
                </span>
                <ul>
                    <li>
                        <label for="">Yayınla</label>
                        <div class="c-light-switch c-light-switch--on">
                            <div class="c-light-switch__toggle">
                                <span class="c-light-switch__toggle-on"></span><span class="c-light-switch__toggle-handle"></span><span class="c-light-switch__toggle-off"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <label for="">Rezervasyon Yapılabilir</label>
                        <div class="c-light-switch c-light-switch--on">
                            <div class="c-light-switch__toggle">
                                <span class="c-light-switch__toggle-on"></span><span class="c-light-switch__toggle-handle"></span><span class="c-light-switch__toggle-off"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <label for="">Arkadaş Davet Edilebilir</label>
                        <div class="c-light-switch c-light-switch--on">
                            <div class="c-light-switch__toggle">
                                <span class="c-light-switch__toggle-on"></span><span class="c-light-switch__toggle-handle"></span><span class="c-light-switch__toggle-off"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <label for="">Heryer Ipsum</label>
                        <div class="c-light-switch c-light-switch--on">
                            <div class="c-light-switch__toggle">
                                <span class="c-light-switch__toggle-on"></span><span class="c-light-switch__toggle-handle"></span><span class="c-light-switch__toggle-off"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>


        </div>

        <div style="display: inline-block; border: solid 1px #ececea; padding: 3em; margin-right: 2em;width:300px;">
            <h3 style="margin: 2em 0px 6em;">c-light-switch whit labels type:List-view Label-right</h3>
            <div class="c-light-switch-field">
                <span class="c-light-switch-field__title">
                    AYARLAR
                </span>
                <ul>
                    <li>
                        <div class="c-light-switch c-light-switch--on">
                            <div class="c-light-switch__toggle">
                                <span class="c-light-switch__toggle-on"></span><span class="c-light-switch__toggle-handle"></span><span class="c-light-switch__toggle-off"></span>
                            </div>
                        </div>
                        <label class="text-xs-right" for="">Yayınla</label>                        
                    </li>
                    <li>
                        
                        <div class="c-light-switch c-light-switch--on">
                            <div class="c-light-switch__toggle">
                                <span class="c-light-switch__toggle-on"></span><span class="c-light-switch__toggle-handle"></span><span class="c-light-switch__toggle-off"></span>
                            </div>
                        </div>
                        <label class="text-xs-right" for="">Rezervasyon Yapılabilir</label>
                    </li>
                    <li>
                        
                        <div class="c-light-switch c-light-switch--on">
                            <div class="c-light-switch__toggle">
                                <span class="c-light-switch__toggle-on"></span><span class="c-light-switch__toggle-handle"></span><span class="c-light-switch__toggle-off"></span>
                            </div>
                        </div>
                        <label class="text-xs-right" for="">Arkadaş Davet Edilebilir</label>
                    </li>
                    <li>
                        
                        <div class="c-light-switch c-light-switch--on">
                            <div class="c-light-switch__toggle">
                                <span class="c-light-switch__toggle-on"></span><span class="c-light-switch__toggle-handle"></span><span class="c-light-switch__toggle-off"></span>
                            </div>
                        </div>
                        <label class="text-xs-right" for="">Heryer Ipsum</label>
                    </li>
                </ul>
            </div>


        </div>  

        <div style="display: inline-block; border: solid 1px #ececea; padding: 3em; margin-right: 2em;width:300px;">
            <h3 style="margin: 2em 0px 6em;">List-view Label- Over Switch Button</h3>
            <div class="c-light-switch-field c-light-switch-field--labeltop">
                <span class="c-light-switch-field__title">
                    AYARLAR
                </span>
                <ul>
                    <li>
                        <label for="">Yayınla</label>
                        <div class="c-light-switch c-light-switch--on">
                            <div class="c-light-switch__toggle">
                                <span class="c-light-switch__toggle-on"></span><span class="c-light-switch__toggle-handle"></span><span class="c-light-switch__toggle-off"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <label for="">Rezervasyon Yapılabilir</label>
                        <div class="c-light-switch c-light-switch--on">
                            <div class="c-light-switch__toggle">
                                <span class="c-light-switch__toggle-on"></span><span class="c-light-switch__toggle-handle"></span><span class="c-light-switch__toggle-off"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <label for="">Arkadaş Davet Edilebilir</label>
                        <div class="c-light-switch c-light-switch--on">
                            <div class="c-light-switch__toggle">
                                <span class="c-light-switch__toggle-on"></span><span class="c-light-switch__toggle-handle"></span><span class="c-light-switch__toggle-off"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <label for="">Heryer Ipsum</label>
                        <div class="c-light-switch c-light-switch--on">
                            <div class="c-light-switch__toggle">
                                <span class="c-light-switch__toggle-on"></span><span class="c-light-switch__toggle-handle"></span><span class="c-light-switch__toggle-off"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>


        </div>  

       <div style="display: inline-block; border: solid 1px #ececea; padding: 3em; margin-right: 2em;width:300px;">
            <h3 style="margin: 2em 0px 6em;">List-view Label- Over Switch Button Center Text</h3>
            <div class="c-light-switch-field c-light-switch-field--labeltop">
                <span class="c-light-switch-field__title">
                    AYARLAR
                </span>
                <ul>
                    <li>
                        <label class="text-xs-center" for="">Yayınla</label>
                        <div class="c-light-switch c-light-switch--on">
                            <div class="c-light-switch__toggle">
                                <span class="c-light-switch__toggle-on"></span><span class="c-light-switch__toggle-handle"></span><span class="c-light-switch__toggle-off"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <label class="text-xs-center" for="">Rezervasyon Yapılabilir</label>
                        <div class="c-light-switch c-light-switch--on">
                            <div class="c-light-switch__toggle">
                                <span class="c-light-switch__toggle-on"></span><span class="c-light-switch__toggle-handle"></span><span class="c-light-switch__toggle-off"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <label class="text-xs-center" for="">Arkadaş Davet Edilebilir</label>
                        <div class="c-light-switch c-light-switch--on">
                            <div class="c-light-switch__toggle">
                                <span class="c-light-switch__toggle-on"></span><span class="c-light-switch__toggle-handle"></span><span class="c-light-switch__toggle-off"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <label class="text-xs-center" for="">Heryer Ipsum</label>
                        <div class="c-light-switch c-light-switch--on">
                            <div class="c-light-switch__toggle">
                                <span class="c-light-switch__toggle-on"></span><span class="c-light-switch__toggle-handle"></span><span class="c-light-switch__toggle-off"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>


        </div>                     

    </div>
    <script>
        $('.c-light-switch').click(function() {
            $(this).toggleClass("c-light-switch--on");
        })
    </script>

</body>

</html>