<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
</head>
<body style="padding:20px;">
	<!-- Your Component Goes Here -->

	<a href="#" class="c-add-button c-add-button--sm"><i class="icon__n icon__n--add"></i></a>
	<button class="c-add-button c-add-button--sm"><i class="icon__n icon__n--add"></i></button>

	<br />	<br />

	<a href="#" class="c-add-button"><i class="icon__n icon__n--add"></i></a>
	<a href="#" class="c-add-button c-add-button--disabled"><i class="icon__n icon__n--add"></i></a>

	<button class="c-add-button"><i class="icon__n icon__n--add"></i></button>
	<button class="c-add-button c-add-button--disabled" disabled><i class="icon__n icon__n--add"></i></button>

	<br />	<br />

	<a href="#" class="c-add-button c-add-button--lg"><i class="icon__n icon__n--add"></i></a>
	<button class="c-add-button c-add-button--lg"><i class="icon__n icon__n--add"></i></button>


</body>
</html>
<!-- End Of Html -->
