<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
	<script src="../../../bower_components/jquery/dist/jquery.min.js"></script>
	<style>
		.sample {
			display:inline-block; margin-bottom:20px; width:120px;
		}
	</style>
</head>
<body style="padding:20px;">
	<!-- Your Component Goes Here -->

	<div class="sample">

		<div class="c-narrow-col-action-block">
			<div class="c-narrow-col-action-block__body">
				<i class="c-narrow-col-action-block__top-icons icon__n icon__n--visibility_off"></i>
				<i class="c-narrow-col-action-block__top-icons c-narrow-col-action-block__top-icons--right icon__n icon__n--more_vert"></i>
				<i class="c-narrow-col-action-block__top-icons c-narrow-col-action-block__top-icons--right icon__n icon__n--replay"></i>

				<div class="c-narrow-col-action-block__figure">
					<div class="c-narrow-col-action-block__normal-content">
						<span class="c-avatar c-avatar--sm c-avatar--circle">
							<figure>
								<img src="http://lorempixel.com/160/160/people/9" alt="">
							</figure>
						</span>
					</div>

					<a href="#" class="c-narrow-col-action-block__content">
						Akbank Caz Festivali Edebiyat & Caz : Murat Meriç ile Türkiye’de Müzik Tarihi
					</a>
				</div><!-- /.c-narrow-col-action-block__figure -->
			</div><!-- /.c-narrow-col-action-block__body -->
		</div><!-- /.c-narrow-col-action-block -->

	</div><!-- /.sample -->
</body>
</html><!-- End Of Html -->
