<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../bower_components/pikaday/css/pikaday.css">
	<link rel="stylesheet" href="../../../css/main.css">
</head>
<body style="padding:20px;">
	<!-- Your Component Goes Here -->

  <style media="screen">
    .sample {
      margin: 0 auto;
      width: 205px;
    }
  </style>

  <div class="sample">

    <div class="c-narrow-col-timer">
      <span class="c-narrow-col-timer__icon"><i class="icon__n icon__n--schedule"></i></span>
      <span class="c-narrow-col-timer__label">05:34</span>
    </div><!-- end c-arrow-col-timer -->

  </div><!-- /.sample -->

</body>
</html>
<!-- End Of Html -->
