<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
  <style>
    section {
      margin:20px;
      width:240px;
      display: inline-block;
      vertical-align: top;
    }

    h3 {
      margin-bottom: 20px;
      background-color: #f7f7f7;
      padding: 15px;
    }
  </style>
</head>
<body>

  <section>

    <h3>c-narrow-index-list</h3>

    <ul class="c-narrow-index-list">

      <li class="c-narrow-index-list__item">
        <a href="#" title="">
          <span class="c-avatar c-avatar--autosize c-avatar--circle">
            <figure>
              <img src="http://lorempixel.com/90/90/people/1" alt="">
            </figure>
          </span>
          <span class="c-narrow-index-list__item__content">
            <strong>Gaye Su Akyol Konseri</strong>
            <time datetime="2016-09-15 16:00">12 Ekim</time>
          </span>
        </a>
      </li>

      <li class="c-narrow-index-list__item">
        <a href="#">
          <span class="c-avatar c-avatar--autosize c-avatar--circle">
            <figure>
              <img src="http://lorempixel.com/90/90/people/1" alt="">
            </figure>
          </span>
          <span class="c-narrow-index-list__item__content">
            <strong>Kraak &amp; Smaak Live. Powered by Lenovo</strong>
            <time datetime="2016-09-15 16:00">15 Ekim</time>
          </span>
        </a>
      </li>

      <li class="c-narrow-index-list__item">
        <a href="#">
          <span class="c-avatar c-avatar--autosize c-avatar--circle">
            <figure>
              <img src="http://lorempixel.com/90/90/people/6" alt="">
            </figure>
          </span>
          <span class="c-narrow-index-list__item__content">
            <strong>Fujiya &amp; Miyagi</strong>
            <time datetime="2016-09-15 16:00">21 Ekim</time>
          </span>
        </a>
      </li>

    </ul>
    <!--end narrow-index-->

  </section>

  <section>

    <h3>c-narrow-index</h3>

    <div class="c-narrow-index">

			<div class="c-expr-list-pager">
				<a href="#" class="icon__n icon__n--keyboard_arrow_left"></a>
				<strong>EKİM 2016</strong>
				<a href="#" class="icon__n icon__n--keyboard_arrow_right"></a>
			</div>

      <ul class="c-narrow-index-list">

        <li class="c-narrow-index-list__item">
          <a href="#" title="">
            <span class="c-avatar c-avatar--autosize c-avatar--circle">
              <figure>
                <img src="http://lorempixel.com/90/90/people/1" alt="">
              </figure>
            </span>
            <span class="c-narrow-index-list__item__content">
              <strong>Gaye Su Akyol Konseri</strong>
              <time datetime="2016-09-15 16:00">12 Ekim</time>
            </span>
          </a>
        </li>

        <li class="c-narrow-index-list__item">
          <a href="#">
            <span class="c-avatar c-avatar--circle">
              <figure>
                <img src="http://lorempixel.com/90/90/people/1" alt="">
              </figure>
            </span>
            <span class="c-narrow-index-list__item__content">
              <strong>Kraak &amp; Smaak Live. Powered by Lenovo</strong>
              <time datetime="2016-09-15 16:00">15 Ekim</time>
            </span>
          </a>
        </li>

        <li class="c-narrow-index-list__item">
          <a href="#">
            <span class="c-avatar c-avatar--circle">
              <figure>
                <img src="http://lorempixel.com/90/90/people/6" alt="">
              </figure>
            </span>
            <span class="c-narrow-index-list__item__content">
              <strong>Fujiya &amp; Miyagi</strong>
              <time datetime="2016-09-15 16:00">21 Ekim</time>
            </span>
          </a>
        </li>

      </ul>
      <!--end narrow-index-list-->

    </div>
    <!--end c-narrow-index-->

  </section>

  <section>

    <h3 style="margin-bottom:0">example: <br/>c-narrow-index (with bg)</h3>

    <div style="background-color:#f9f9f9; padding:20px">

      <div class="c-narrow-index">

				<div class="c-expr-list-pager">
					<a href="#" class="icon__n icon__n--keyboard_arrow_left"></a>
					<strong>EKİM 2016</strong>
					<a href="#" class="icon__n icon__n--keyboard_arrow_right"></a>
				</div>

        <ul class="c-narrow-index-list">

          <li class="c-narrow-index-list__item">
            <a href="#" title="">
              <span class="c-avatar c-avatar--autosize c-avatar--circle">
                <figure>
                  <img src="http://lorempixel.com/90/90/people/9" alt="">
                </figure>
              </span>
              <span class="c-narrow-index-list__item__content">
                <strong>Gaye Su Akyol Konseri</strong>
                <time datetime="2016-09-15 16:00">12 Ekim</time>
              </span>
            </a>
          </li>

          <li class="c-narrow-index-list__item">
            <a href="#">
              <span class="c-avatar c-avatar--autosize c-avatar--circle">
                <figure>
                  <img src="http://lorempixel.com/90/90/people/1" alt="">
                </figure>
              </span>
              <span class="c-narrow-index-list__item__content">
                <strong>Kraak &amp; Smaak Live. Powered by Lenovo</strong>
                <time datetime="2016-09-15 16:00">15 Ekim</time>
              </span>
            </a>
          </li>

          <li class="c-narrow-index-list__item">
            <a href="#">
              <span class="c-avatar c-avatar--autosize c-avatar--circle">
                <figure>
                  <img src="http://lorempixel.com/90/90/people/6" alt="">
                </figure>
              </span>
              <span class="c-narrow-index-list__item__content">
                <strong>Fujiya &amp; Miyagi</strong>
                <time datetime="2016-09-15 16:00">21 Ekim</time>
              </span>
            </a>
          </li>

        </ul>
        <!--end narrow-index-list-->

      </div>
      <!--end c-narrow-index-->

    </div>

  </section>

</body>
</html>
