<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
	<script src="../../../../../bower_components/jquery/dist/jquery.min.js"/>
	
</head>
<body>

	<style>
		section {
			margin: 20px;
		}
		section h3 {
			display: block;
			margin-bottom: 10px;
			font-size: 18px;
		}
	</style>

	<section>

		<h3>3 adet gösterim</h3>

		<div class="c-multi-select-group">
				
			<ul class="c-multi-select-group__container">
				<li class="c-multi-select-group__item">
					<a href="#">
						<div class="c-multi-select-group__item__icon">	
							<div class="c-promise-icon c-promise-icon--md">
								<div class="c-promise-icon__before">
									<i class="icon__n icon__n--audiotrack"></i>
								</div>
								<div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
								</div>
							</div>
						</div>
						<span class="c-multi-select-group__item__name">Müzisyen</span>
					</a>
				</li>
				<li class="c-multi-select-group__item">
					<a href="#">
						<div class="c-multi-select-group__item__icon">	
							<div class="c-promise-icon c-promise-icon--md">
								<div class="c-promise-icon__before">
									<i class="icon__n icon__n--movie"></i>
								</div>
								<div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
								</div>
							</div>
						</div>
						<span class="c-multi-select-group__item__name">Oyuncu</span>
					</a>
				</li>
				<li class="c-multi-select-group__item">
					<a href="#">
						<div class="c-multi-select-group__item__icon">	
							<div class="c-promise-icon c-promise-icon--md">
								<div class="c-promise-icon__before">
									<i class="icon__n icon__n--directions_run"></i>
								</div>
								<div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
								</div>
							</div>
						</div>
						<span class="c-multi-select-group__item__name">Sporcu</span>
					</a>
				</li>
			</ul>

		</div>
		<!--end c-multi-select-group-->

	</section>

	<section>

		<h3>Diğer'de 6 tane daha var (Hiç seçilmemiş)</h3>

		<div class="c-multi-select-group">
				
			<ul class="c-multi-select-group__container">
				<li class="c-multi-select-group__item">
					<a href="#">
						<div class="c-multi-select-group__item__icon">	
							<div class="c-promise-icon c-promise-icon--md">
								<div class="c-promise-icon__before">
									<i class="icon__n icon__n--audiotrack"></i>
								</div>
								<div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
								</div>
							</div>
						</div>
						<span class="c-multi-select-group__item__name">Müzisyen</span>
					</a>
				</li>
				<li class="c-multi-select-group__item">
					<a href="#">
						<div class="c-multi-select-group__item__icon">	
							<div class="c-promise-icon c-promise-icon--md">
								<div class="c-promise-icon__before">
									<i class="icon__n icon__n--movie"></i>
								</div>
								<div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
								</div>
							</div>
						</div>
						<span class="c-multi-select-group__item__name">Oyuncu</span>
					</a>
				</li>
				<li class="c-multi-select-group__item">
					<a href="#">
						<div class="c-multi-select-group__item__icon">	
							<div class="c-promise-icon c-promise-icon--md">
								<div class="c-promise-icon__before">
									<i class="icon__n icon__n--directions_run"></i>
								</div>
								<div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
								</div>
							</div>
						</div>
						<span class="c-multi-select-group__item__name">Sporcu</span>
					</a>
				</li>
				<li class="c-multi-select-group__item">
					<a href="#">
						<div class="c-multi-select-group__item__icon">	
							<div class="c-promise-icon c-promise-icon--md">
								<div class="c-promise-icon__before">
									<i class="icon__n icon__n--camera"></i>
								</div>
								<div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
								</div>
							</div>
						</div>
						<span class="c-multi-select-group__item__name">Fotoğraf Sanatçısı</span>
					</a>
				</li>
				<li class="c-multi-select-group__item c-multi-select-group__item--other">
					<a href="#">
						<div class="c-multi-select-group__item__icon">
							<div class="c-promise-icon c-promise-icon--md">
								<div class="c-promise-icon__before">
									<i class="icon__n icon__n--more_horiz"></i>
								</div>
							</div>
						</div>
						<span class="c-multi-select-group__item__name">Diğer (6)</span>
					</a>

					<div class="c-multi-select-group__other-list">

						<div class="c-multi-select-group__other-list-header">
							<div class="c-multi-select-group__other-list-header__title">
								DİĞER İÇERİKLER
							</div>
							<i class="c-multi-select-group__other-list-close-button icon--m">close</i>
						</div>

						<div class="c-multi-select-group__other-list-content">

							<ul class="c-multi-select-group__other-list-wrapper">
								<li class="c-multi-select-group__other-list-item">
									<i class="c-multi-select-group__other-list-item__icon icon__n icon__n--insert_comment"></i>
									<span class="c-multi-select-group__other-list-item__label">Konuşmacı</span>
									<i class="c-multi-select-group__other-list-item__control">
										<i class="icon__n icon__n--add"></i>
										<i class="icon__n icon__n--check"></i>
										<i class="icon__n icon__n--remove"></i>
									</i>
								</li>
								<li class="c-multi-select-group__other-list-item">
									<i class="c-multi-select-group__other-list-item__icon icon__n icon__n--room_service"></i>
									<span class="c-multi-select-group__other-list-item__label">Şef</span>
									<i class="c-multi-select-group__other-list-item__control">
										<i class="icon__n icon__n--add"></i>
										<i class="icon__n icon__n--check"></i>
										<i class="icon__n icon__n--remove"></i>
									</i>
								</li>
								<li class="c-multi-select-group__other-list-item">
									<i class="c-multi-select-group__other-list-item__icon icon__n icon__n--color_lens"></i>
									<span class="c-multi-select-group__other-list-item__label">Ressam</span>
									<i class="c-multi-select-group__other-list-item__control">
										<i class="icon__n icon__n--add"></i>
										<i class="icon__n icon__n--check"></i>
										<i class="icon__n icon__n--remove"></i>
									</i>
								</li>
								<li class="c-multi-select-group__other-list-item">
									<i class="c-multi-select-group__other-list-item__icon icon__n icon__n--camera"></i>
									<span class="c-multi-select-group__other-list-item__label">Fotoğraf Sanatçısı</span>
									<i class="c-multi-select-group__other-list-item__control">
										<i class="icon__n icon__n--add"></i>
										<i class="icon__n icon__n--check"></i>
										<i class="icon__n icon__n--remove"></i>
									</i>
								</li>
								<li class="c-multi-select-group__other-list-item c-multi-select-group__other-list-item--selected">
									<i class="c-multi-select-group__other-list-item__icon icon__n icon__n--school"></i>
									<span class="c-multi-select-group__other-list-item__label">Akademisyen</span>
									<i class="c-multi-select-group__other-list-item__control">
										<i class="icon__n icon__n--add"></i>
										<i class="icon__n icon__n--check"></i>
										<i class="icon__n icon__n--remove"></i>
									</i>
								</li>
								<li class="c-multi-select-group__other-list-item">
									<i class="c-multi-select-group__other-list-item__icon icon__n icon__n--format_align_center"></i>
									<span class="c-multi-select-group__other-list-item__label">Yazar</span>
									<i class="c-multi-select-group__other-list-item__control">
										<i class="icon__n icon__n--add"></i>
										<i class="icon__n icon__n--check"></i>
										<i class="icon__n icon__n--remove"></i>
									</i>
								</li>
							</ul>

						</div>
						
					</div>
					<!--end c-multi-select-group__other-list-->

				</li>
			</ul>

		</div>
		<!--end c-multi-select-group-->

	</section>

	<section>

		<h3>Diğer'den 3 tane seçilmiş</h3>

		<div class="c-multi-select-group">
				
			<ul class="c-multi-select-group__container">
				<li class="c-multi-select-group__item">
					<a href="#">
						<div class="c-multi-select-group__item__icon">	
							<div class="c-promise-icon c-promise-icon--md">
								<div class="c-promise-icon__before">
									<i class="icon__n icon__n--audiotrack"></i>
								</div>
								<div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
								</div>
							</div>
						</div>
						<span class="c-multi-select-group__item__name">Müzisyen</span>
					</a>
				</li>
				<li class="c-multi-select-group__item">
					<a href="#">
						<div class="c-multi-select-group__item__icon">	
							<div class="c-promise-icon c-promise-icon--md">
								<div class="c-promise-icon__before">
									<i class="icon__n icon__n--movie"></i>
								</div>
								<div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
								</div>
							</div>
						</div>
						<span class="c-multi-select-group__item__name">Oyuncu</span>
					</a>
				</li>
				<li class="c-multi-select-group__item">
					<a href="#">
						<div class="c-multi-select-group__item__icon">	
							<div class="c-promise-icon c-promise-icon--md">
								<div class="c-promise-icon__before">
									<i class="icon__n icon__n--directions_run"></i>
								</div>
								<div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
								</div>
							</div>
						</div>
						<span class="c-multi-select-group__item__name">Sporcu</span>
					</a>
				</li>
				<li class="c-multi-select-group__item c-multi-select-group__item--other c-multi-select-group__item--other--selected-badge">
					<a href="#">
						<i class="c-multi-select-group__item__icon">3</i>
						<span class="c-multi-select-group__item__name">Diğer (6)</span>
					</a>

					<div class="c-multi-select-group__other-list">

						<div class="c-multi-select-group__other-list-header">
							<div class="c-multi-select-group__other-list-header__title">
								DİĞER İÇERİKLER
							</div>
							<i class="c-multi-select-group__other-list-close-button icon--m">close</i>
						</div>

						<div class="c-multi-select-group__other-list-content">

							<ul class="c-multi-select-group__other-list__list">
								<li class="c-multi-select-group__other-list-item">
									<i class="c-multi-select-group__other-list-item__icon icon__n icon__n--insert_comment"></i>
									<span class="c-multi-select-group__other-list-item__label">Konuşmacı</span>
									<i class="c-multi-select-group__other-list-item__control">
										<i class="icon__n icon__n--add"></i>
										<i class="icon__n icon__n--check"></i>
										<i class="icon__n icon__n--remove"></i>
									</i>
								</li>
								<li class="c-multi-select-group__other-list-item c-multi-select-group__other-list-item--selected">
									<i class="c-multi-select-group__other-list-item__icon icon__n icon__n--room_service"></i>
									<span class="c-multi-select-group__other-list-item__label">Şef</span>
									<i class="c-multi-select-group__other-list-item__control">
										<i class="icon__n icon__n--add"></i>
										<i class="icon__n icon__n--check"></i>
										<i class="icon__n icon__n--remove"></i>
									</i>
								</li>
								<li class="c-multi-select-group__other-list-item c-multi-select-group__other-list-item--selected">
									<i class="c-multi-select-group__other-list-item__icon icon__n icon__n--color_lens"></i>
									<span class="c-multi-select-group__other-list-item__label">Ressam</span>
									<i class="c-multi-select-group__other-list-item__control">
										<i class="icon__n icon__n--add"></i>
										<i class="icon__n icon__n--check"></i>
										<i class="icon__n icon__n--remove"></i>
									</i>
								</li>
								<li class="c-multi-select-group__other-list-item">
									<i class="c-multi-select-group__other-list-item__icon icon__n icon__n--camera"></i>
									<span class="c-multi-select-group__other-list-item__label">Fotoğraf Sanatçısı</span>
									<i class="c-multi-select-group__other-list-item__control">
										<i class="icon__n icon__n--add"></i>
										<i class="icon__n icon__n--check"></i>
										<i class="icon__n icon__n--remove"></i>
									</i>
								</li>
								<li class="c-multi-select-group__other-list-item c-multi-select-group__other-list-item--selected">
									<i class="c-multi-select-group__other-list-item__icon icon__n icon__n--school"></i>
									<span class="c-multi-select-group__other-list-item__label">Akademisyen</span>
									<i class="c-multi-select-group__other-list-item__control">
										<i class="icon__n icon__n--add"></i>
										<i class="icon__n icon__n--check"></i>
										<i class="icon__n icon__n--remove"></i>
									</i>
								</li>
								<li class="c-multi-select-group__other-list-item">
									<i class="c-multi-select-group__other-list-item__icon icon__n icon__n--format_align_center"></i>
									<span class="c-multi-select-group__other-list-item__label">Yazar</span>
									<i class="c-multi-select-group__other-list-item__control">
										<i class="icon__n icon__n--add"></i>
										<i class="icon__n icon__n--check"></i>
										<i class="icon__n icon__n--remove"></i>
									</i>
								</li>
							</ul>

						</div>
						
					</div>
					<!--end c-multi-select-group__other-list-->

				</li>
			</ul>

		</div>
		<!--end c-multi-select-group-->

	</section>

	<section>

		<h3>Diğer'den bir tane seçilmişse, seçilen item'ın iconu</h3>

		<div class="c-multi-select-group">
				
			<ul class="c-multi-select-group__container">
				<li class="c-multi-select-group__item">
					<a href="#">
						<div class="c-multi-select-group__item__icon">	
							<div class="c-promise-icon c-promise-icon--md">
								<div class="c-promise-icon__before">
									<i class="icon__n icon__n--audiotrack"></i>
								</div>
								<div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
								</div>
							</div>
						</div>
						<span class="c-multi-select-group__item__name">Müzisyen</span>
					</a>
				</li>
				<li class="c-multi-select-group__item">
					<a href="#">
						<div class="c-multi-select-group__item__icon">	
							<div class="c-promise-icon c-promise-icon--md">
								<div class="c-promise-icon__before">
									<i class="icon__n icon__n--movie"></i>
								</div>
								<div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
								</div>
							</div>
						</div>
						<span class="c-multi-select-group__item__name">Oyuncu</span>
					</a>
				</li>
				<li class="c-multi-select-group__item">
					<a href="#">
						<div class="c-multi-select-group__item__icon">	
							<div class="c-promise-icon c-promise-icon--md">
								<div class="c-promise-icon__before">
									<i class="icon__n icon__n--directions_run"></i>
								</div>
								<div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
								</div>
							</div>
						</div>
						<span class="c-multi-select-group__item__name">Sporcu</span>
					</a>
				</li>
				<li class="c-multi-select-group__item c-multi-select-group__item--other c-multi-select-group__item--other--selected-icon">

					<a href="#">
						<div class="c-multi-select-group__item__icon">	
							<div class="c-promise-icon c-promise-icon--md">
								<div class="c-promise-icon__before">
									<i class="icon__n icon__n--school"></i>
								</div>
							</div>
						</div>
						<span class="c-multi-select-group__item__name">Diğer (6)</span>
					</a>

					<div class="c-multi-select-group__other-list">

						<div class="c-multi-select-group__other-list-header">
							<div class="c-multi-select-group__other-list-header__title">
								DİĞER İÇERİKLER
							</div>
							<i class="c-multi-select-group__other-list-close-button icon--m">close</i>
						</div>

						<div class="c-multi-select-group__other-list-content">

							<ul class="c-multi-select-group__other-list__list">
								<li class="c-multi-select-group__other-list-item">
									<i class="c-multi-select-group__other-list-item__icon icon__n icon__n--insert_comment"></i>
									<span class="c-multi-select-group__other-list-item__label">Konuşmacı</span>
									<i class="c-multi-select-group__other-list-item__control">
										<i class="icon__n icon__n--add"></i>
										<i class="icon__n icon__n--check"></i>
										<i class="icon__n icon__n--remove"></i>
									</i>
								</li>
								<li class="c-multi-select-group__other-list-item">
									<i class="c-multi-select-group__other-list-item__icon icon__n icon__n--room_service"></i>
									<span class="c-multi-select-group__other-list-item__label">Şef</span>
									<i class="c-multi-select-group__other-list-item__control">
										<i class="icon__n icon__n--add"></i>
										<i class="icon__n icon__n--check"></i>
										<i class="icon__n icon__n--remove"></i>
									</i>
								</li>
								<li class="c-multi-select-group__other-list-item">
									<i class="c-multi-select-group__other-list-item__icon icon__n icon__n--color_lens"></i>
									<span class="c-multi-select-group__other-list-item__label">Ressam</span>
									<i class="c-multi-select-group__other-list-item__control">
										<i class="icon__n icon__n--add"></i>
										<i class="icon__n icon__n--check"></i>
										<i class="icon__n icon__n--remove"></i>
									</i>
								</li>
								<li class="c-multi-select-group__other-list-item">
									<i class="c-multi-select-group__other-list-item__icon icon__n icon__n--camera"></i>
									<span class="c-multi-select-group__other-list-item__label">Fotoğraf Sanatçısı</span>
									<i class="c-multi-select-group__other-list-item__control">
										<i class="icon__n icon__n--add"></i>
										<i class="icon__n icon__n--check"></i>
										<i class="icon__n icon__n--remove"></i>
									</i>
								</li>
								<li class="c-multi-select-group__other-list-item c-multi-select-group__other-list-item--selected">
									<i class="c-multi-select-group__other-list-item__icon icon__n icon__n--school"></i>
									<span class="c-multi-select-group__other-list-item__label">Akademisyen</span>
									<i class="c-multi-select-group__other-list-item__control">
										<i class="icon__n icon__n--add"></i>
										<i class="icon__n icon__n--check"></i>
										<i class="icon__n icon__n--remove"></i>
									</i>
								</li>
								<li class="c-multi-select-group__other-list-item">
									<i class="c-multi-select-group__other-list-item__icon icon__n icon__n--format_align_center"></i>
									<span class="c-multi-select-group__other-list-item__label">Yazar</span>
									<i class="c-multi-select-group__other-list-item__control">
										<i class="icon__n icon__n--add"></i>
										<i class="icon__n icon__n--check"></i>
										<i class="icon__n icon__n--remove"></i>
									</i>
								</li>
							</ul>

						</div>
						
					</div>
					<!--end c-multi-select-group__other-list-->

				</li>
			</ul>

		</div>
		<!--end c-multi-select-group-->

	</section>

	<section>

		<h3>Geniş Çoklu Seçim Grubu</h3>

		<div class="c-multi-select-group c-multi-select-group--wide">
				
			<ul class="c-multi-select-group__container">
				<li class="c-multi-select-group__item">
					<a href="#">
						<div class="c-multi-select-group__item__icon">	
							<div class="c-promise-icon c-promise-icon--md">
								<div class="c-promise-icon__before">
									<i class="icon__n icon__n--tag"></i>
								</div>
								<div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
								</div>
							</div>
						</div>
						<span class="c-multi-select-group__item__name">Performans Ürünü</span>
					</a>
				</li>
				<li class="c-multi-select-group__item">
					<a href="#">
						<div class="c-multi-select-group__item__icon">	
							<div class="c-promise-icon c-promise-icon--md">
								<div class="c-promise-icon__before">
									<i class="icon__n icon__n--tag-multiple"></i>
								</div>
								<div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
								</div>
							</div>
						</div>
						<span class="c-multi-select-group__item__name">Birleştirilmiş Ürün</span>
					</a>
				</li>
				<li class="c-multi-select-group__item">
					<a href="#">
						<div class="c-multi-select-group__item__icon">	
							<div class="c-promise-icon c-promise-icon--md">
								<div class="c-promise-icon__before">
									<i class="icon__n icon__n--glass-mug"></i>
								</div>
								<div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
								</div>
							</div>
						</div>
						<span class="c-multi-select-group__item__name">Yan Ürün</span>
					</a>
				</li>
			</ul>

		</div>
		<!--end c-multi-select-group-->
		
	</section>

	<section>

		<h3>Çoklu Seçim Grubu (Saatli Gösterim)</h3>

		<div class="c-multi-select-group c-multi-select-group--times">
				
			<ul class="c-multi-select-group__container">
				<li class="c-multi-select-group__item">
					<a href="#">
						<div class="c-promise-icon c-promise-icon--sm">
							<div class="c-promise-icon__before">
								<span class="c-multi-select-group__item__name">12:30</span>									
							</div>
							<div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
							</div>
						</div>
					</a>
				</li>
				<li class="c-multi-select-group__item">
					<a href="#">
						<div class="c-promise-icon c-promise-icon--sm">
							<div class="c-promise-icon__before">
								<span class="c-multi-select-group__item__name">12:30</span>									
							</div>
							<div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
							</div>
						</div>
					</a>
				</li>
				<li class="c-multi-select-group__item">
					<a href="#">
						<div class="c-promise-icon c-promise-icon--sm">
							<div class="c-promise-icon__before">
								<span class="c-multi-select-group__item__name">12:30</span>									
							</div>
							<div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
							</div>
						</div>
					</a>
				</li>
				<li class="c-multi-select-group__item c-multi-select-group__item--other">
					<a href="#">
						<div class="c-promise-icon c-promise-icon--sm">
							<div class="c-promise-icon__before">
								<span class="c-multi-select-group__item__name"><i class="icon__n icon__n--more_horiz"></i></span>								
							</div>
							<div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
							</div>
						</div>
					</a>

					<div class="c-multi-select-group__other-list">

						<div class="c-multi-select-group__other-list-header">
							<div class="c-multi-select-group__other-list-header__title">
								DİĞER SAATLER
							</div>
							<i class="c-multi-select-group__other-list-close-button icon--m">close</i>
						</div>

						<div class="c-multi-select-group__other-list-content">

							<ul class="c-multi-select-group__other-list__list">
								<li class="c-multi-select-group__other-list-item">
									<span class="c-multi-select-group__other-list-item__label">13:00</span>
									<i class="c-multi-select-group__other-list-item__control">
										<i class="icon__n icon__n--add"></i>
										<i class="icon__n icon__n--check"></i>
										<i class="icon__n icon__n--remove"></i>
									</i>
								</li>
								<li class="c-multi-select-group__other-list-item">
									<span class="c-multi-select-group__other-list-item__label">14:00</span>
									<i class="c-multi-select-group__other-list-item__control">
										<i class="icon__n icon__n--add"></i>
										<i class="icon__n icon__n--check"></i>
										<i class="icon__n icon__n--remove"></i>
									</i>
								</li>
								<li class="c-multi-select-group__other-list-item">
									<span class="c-multi-select-group__other-list-item__label">15:00</span>
									<i class="c-multi-select-group__other-list-item__control">
										<i class="icon__n icon__n--add"></i>
										<i class="icon__n icon__n--check"></i>
										<i class="icon__n icon__n--remove"></i>
									</i>
								</li>
								<li class="c-multi-select-group__other-list-item">
									<span class="c-multi-select-group__other-list-item__label">16:00</span>
									<i class="c-multi-select-group__other-list-item__control">
										<i class="icon__n icon__n--add"></i>
										<i class="icon__n icon__n--check"></i>
										<i class="icon__n icon__n--remove"></i>
									</i>
								</li>
								<li class="c-multi-select-group__other-list-item c-multi-select-group__other-list-item--selected">
									<span class="c-multi-select-group__other-list-item__label">17:00</span>
									<i class="c-multi-select-group__other-list-item__control">
										<i class="icon__n icon__n--add"></i>
										<i class="icon__n icon__n--check"></i>
										<i class="icon__n icon__n--remove"></i>
									</i>
								</li>
								<li class="c-multi-select-group__other-list-item">
									<span class="c-multi-select-group__other-list-item__label">18:00</span>
									<i class="c-multi-select-group__other-list-item__control">
										<i class="icon__n icon__n--add"></i>
										<i class="icon__n icon__n--check"></i>
										<i class="icon__n icon__n--remove"></i>
									</i>
								</li>
							</ul>

						</div>
						
					</div>
					<!--end c-multi-select-group__other-list-->

				</li>
			</ul>

		</div>
		<!--end c-multi-select-group-->
		
	</section>

	<script>
		$('.c-multi-select-group__item a').click(function(){
			$( this ).parent().toggleClass( "c-multi-select-group__item--selected" ).
								find('.c-promise-icon').
								addClass( "c-promise-icon--promise" ).
								delay(500).
								queue(function(next){
									$(this).removeClass("c-promise-icon--promise");
								next();
						});
			if ($( this ).parent().hasClass('c-multi-select-group__item--other')) {
				$( this ).parent().toggleClass('c-multi-select-group__item--other--selected');
			}
		});

		$( '.c-multi-select-group__other-list-close-button' ).click(function(){
			$( '.c-multi-select-group__item--other' ).removeClass('c-multi-select-group__item--other--selected');
		});

		$( '.c-multi-select-group__other-list-item' ).click(function() {
			$( this ).toggleClass('c-multi-select-group__other-list-item--selected')
		});

	</script>

</body>
</html>