<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
	<script src="../../../bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body style="padding:20px;">
	<!-- Your Component Goes Here -->

<h1>Normal</h1> <br>

<ul class="c-data-source-list">
	<li class="c-data-source-list__item c-data-source-list__item--editable">
		<span class="c-data-source-list__name">
			<i class="c-data-source-list__icon icon__n icon__n--language"></i>
			Web Sayfası
		</span>
		<span class="c-data-source-list__source"><input type="text" value="http://www.facebook.com/lorem-ipsum" class="c-data-source__edit"></span>
		<a href="#" class="c-data-source-list__connect"><span>Bağla</span> <i class="icon__n icon__n--link"></i></a>
	</li>
	<li class="c-data-source-list__item c-data-source-list__item--filled">
		<span class="c-data-source-list__name">
			<i class="c-data-source-list__icon icon__n icon__n--ss-facebook"></i>
			Facebook
		</span>
		<span class="c-data-source-list__source">http://www.facebook.com/lorem-ipsum</span>
		<a href="#" class="c-data-source-list__connect"><span>Bağla</span> <i class="icon__n icon__n--link"></i></a>
	</li>
	<li class="c-data-source-list__item">
		<span class="c-data-source-list__name">
			<i class="c-data-source-list__icon icon__n icon__n--ss-twitter"></i>
			Twitter
		</span>
		<span class="c-data-source-list__source">@loremipsum</span>
		<a href="#" class="c-data-source-list__connect"><span>Bağla</span> <i class="icon__n icon__n--link"></i></a>
	</li>
	<li class="c-data-source-list__item">
		<span class="c-data-source-list__name">
			<i class="c-data-source-list__icon icon__n icon__n--ss-instagram"></i>
			Instagram
		</span>
		<a href="#" class="c-data-source-list__connect"><span>Bağla</span> <i class="icon__n icon__n--link"></i></a>
	</li>
	<li class="c-data-source-list__item">
		<span class="c-data-source-list__name">
			<i class="c-data-source-list__icon icon__n icon__n--place"></i>
			Google
		</span>
		<a href="#" class="c-data-source-list__connect"><span>Bağla</span> <i class="icon__n icon__n--link"></i></a>
	</li>
	<li class="c-data-source-list__more">
			<a href="javascript:;"></a>
			<div class="c-promise-icon c-promise-icon--sm">
        <div class="c-promise-icon__before">
          <i class="icon__n icon__n--more_horiz"></i>
        </div>
        <div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
          <div class="c-promise-icon__spinner-blade"></div>
          <div class="c-promise-icon__spinner-blade"></div>
          <div class="c-promise-icon__spinner-blade"></div>
          <div class="c-promise-icon__spinner-blade"></div>
          <div class="c-promise-icon__spinner-blade"></div>
          <div class="c-promise-icon__spinner-blade"></div>
          <div class="c-promise-icon__spinner-blade"></div>
          <div class="c-promise-icon__spinner-blade"></div>
          <div class="c-promise-icon__spinner-blade"></div>
          <div class="c-promise-icon__spinner-blade"></div>
          <div class="c-promise-icon__spinner-blade"></div>
          <div class="c-promise-icon__spinner-blade"></div>
        </div>
        <div class="c-promise-icon__after">
          <i class="icon__n icon__n--more_horiz"></i>
        </div>
      </div>
	</li>
</ul>

<br><h1>Sıralanabilir</h1><br>

<ul class="c-data-source-list">
	<li class="c-data-source-list__item">
		<span class="c-data-source-list__name">
			<i class="c-data-source-list__icon c-data-source-list__item-reorder icon__n icon__n--dehaze"></i>
			Music Brainz
		</span>
		<a href="#" class="c-data-source-list__connect"><span>Bağla</span> <i class="icon__n icon__n--link"></i></a>
	</li>
	<li class="c-data-source-list__item c-data-source-list__item--filled">
		<span class="c-data-source-list__name">
			<i class="c-data-source-list__icon c-data-source-list__item-reorder icon__n icon__n--dehaze"></i>
			Last FM
		</span>
		<span class="c-data-source-list__source">http://www.last.fm/tr/music/Nick+Cave+&+The+Bad+Seeds</span>
		<a href="#" class="c-data-source-list__connect"><span>Bağla</span> <i class="icon__n icon__n--link"></i></a>
	</li>
	<li class="c-data-source-list__item c-data-source-list__item--filled">
		<span class="c-data-source-list__name">
			<i class="c-data-source-list__icon c-data-source-list__item-reorder icon__n icon__n--dehaze"></i>
			Spotify
		</span>
		<span class="c-data-source-list__source">https://open.spotify.com/artist/4UXJsSlnKd7ltsrHebV79Q</span>
		<a href="#" class="c-data-source-list__connect"><span>Bağla</span> <i class="icon__n icon__n--link"></i></a>
	</li>
	<li class="c-data-source-list__item">
		<span class="c-data-source-list__name">
			<i class="c-data-source-list__icon c-data-source-list__item-reorder icon__n icon__n--dehaze"></i>
			IMDB
		</span>
		<a href="#" class="c-data-source-list__connect"><span>Bağla</span> <i class="icon__n icon__n--link"></i></a>
	</li>
	<li class="c-data-source-list__item">
		<span class="c-data-source-list__name">
			<i class="c-data-source-list__icon c-data-source-list__item-reorder icon__n icon__n--dehaze"></i>
			Sound Cloud
		</span>
		<a href="#" class="c-data-source-list__connect"><span>Bağla</span> <i class="icon__n icon__n--link"></i></a>
	</li>
	<li class="c-data-source-list__more">
			<a href="javascript:;"></a>
			<div class="c-promise-icon c-promise-icon--sm">
				<div class="c-promise-icon__before">
					<i class="icon__n icon__n--more_horiz"></i>
				</div>
				<div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
				</div>
				<div class="c-promise-icon__after">
					<i class="icon__n icon__n--more_horiz"></i>
				</div>
			</div>
	</li>
</ul>

</body>
</html><!-- End Of Html -->

<br><h1>Düzenlenebilir</h1><br>

<ul class="c-data-source-list c-data-source-list--edit-mode">
	<li class="c-data-source-list__item c-data-source-list__item--selected">
		<span class="c-data-source-list__name">
			<i class="c-data-source-list__icon c-data-source-list__item-reorder icon__n icon__n--dehaze"></i>
			Music Brainz
		</span>
		<a href="#" class="c-data-source-list__actions c-data-source-list__add"><i class="icon__n icon__n--add"></i></a>
		<a href="#" class="c-data-source-list__connect"><span>Bağla</span> <i class="icon__n icon__n--link"></i></a>
	</li>
	<li class="c-data-source-list__item c-data-source-list__item--filled">
		<span class="c-data-source-list__name">
			<i class="c-data-source-list__icon c-data-source-list__item-reorder icon__n icon__n--dehaze"></i>
			Last FM
		</span>
		<span class="c-data-source-list__source">http://www.last.fm/tr/music/Nick+Cave+&+The+Bad+Seeds</span>
		<a href="#" class="c-data-source-list__connect"><span>Bağla</span> <i class="icon__n icon__n--link"></i></a>
	</li>
	<li class="c-data-source-list__item c-data-source-list__item--filled is-selected">
		<span class="c-data-source-list__name">
			<i class="c-data-source-list__icon c-data-source-list__item-reorder icon__n icon__n--dehaze"></i>
			Spotify
		</span>
		<span class="c-data-source-list__source">https://open.spotify.com/artist/4UXJsSlnKd7ltsrHebV79Q</span>
		<a href="#" class="c-data-source-list__actions c-data-source-list__remove"><i class="icon__n icon__n--close"></i></a>
		<a href="#" class="c-data-source-list__connect"><span>Bağla</span> <i class="icon__n icon__n--link"></i></a>
	</li>
	<li class="c-data-source-list__item">
		<span class="c-data-source-list__name">
			<i class="c-data-source-list__icon c-data-source-list__item-reorder icon__n icon__n--dehaze"></i>
			IMDB
		</span>
		<a href="#" class="c-data-source-list__connect"><span>Bağla</span> <i class="icon__n icon__n--link"></i></a>
	</li>
	<li class="c-data-source-list__item c-data-source-list__item--selected">
		<span class="c-data-source-list__name">
			<i class="c-data-source-list__icon c-data-source-list__item-reorder icon__n icon__n--dehaze"></i>
			Sound Cloud
		</span>
		<a href="#" class="c-data-source-list__actions c-data-source-list__add"><i class="icon__n icon__n--add"></i></a>
		<a href="#" class="c-data-source-list__connect"><span>Bağla</span> <i class="icon__n icon__n--link"></i></a>
	</li>
	<li class="c-data-source-list__more">
			<a href="javascript:;"></a>
			<div class="c-promise-icon c-promise-icon--sm">
				<div class="c-promise-icon__before">
					<i class="icon__n icon__n--more_horiz"></i>
				</div>
				<div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
				</div>
				<div class="c-promise-icon__after">
					<i class="icon__n icon__n--more_horiz"></i>
				</div>
			</div>
	</li>
</ul>

<script>
	$('.c-data-source-list__more a').click(function(){
		let $icon = $(this).siblings('.c-promise-icon');
		if($icon.hasClass('c-promise-icon--after')){
			$icon.removeClass("c-promise-icon--after");

		}else {
			if($icon.hasClass('c-promise-icon--promise')){
				$icon.removeClass("c-promise-icon--promise");
				$icon.addClass("c-promise-icon--after");
			}else {
				$icon.addClass("c-promise-icon--promise");
			}
		}
	})
</script>

</body>
</html><!-- End Of Html -->
