$oc-add-invitation: ( table: ( row: ( height: 40px)));
$oc-add-invitation: map-merge($oc-add-invitation, getSettingsMap("oc-add-invitation"));
$oc-map: $oc-add-invitation;
.oc-add-invitation {
    display: block;
    &__product-list {
        display: block;
        max-height: 240px;
        overflow-x: hidden;
        overflow-y: auto;
        margin-right: -30px;
        padding-right: 30px;
        padding-bottom: 2px;
    }
    &__table-row {
        display: table;
        width: 100%;
        height: map-deep-get($oc-map, table, row, height);
        line-height: 0px;
    }
    &__table-column-left {
        display: table-cell;
        width: auto;
        vertical-align: middle;
        .c-checkbox {
            display: block;
        }
    }
    &__table-column-right {
        display: table-cell;
        width: 30%;
        vertical-align: middle;
    }

    &__csv {
        display: flex;
        align-items: center;
        padding: 10px 0px;
        width: 100%;
        
        &-info {
            display: flex;
            flex-grow: 1;
        }
        &-action {
            display: flex;
            justify-self: flex-end;
            flex-grow: 0;

            .c-button {
                font-size: 12px;
    
                .c-promise-icon {
                    font-size: 2em;
                }
            }
        }
    }

    .c-text-input--underline .c-text-input__bar {
        border-bottom: solid 1px #373a3c;
    }
    .c-selectbox {
        height: map-deep-get($oc-map, table, row, height);
        border-radius: map-deep-get($oc-map, table, row, height)/2;
    }
}

$oc-map: null;