$oc-add-sales-channel: (
    padding: 30px,
    payment-type-list: (
        item: (            
            label: (
                color: #3a2e39
            )
        )
    )
);

$oc-add-sales-channel: map-merge($oc-add-sales-channel, getSettingsMap("oc-add-sales-channel"));
$oc-map: $oc-add-sales-channel;

.oc-add-sales-channel {       
    
    &__payment-type-list {
        
        list-style-type:none;
        display:table;

        &-item {
            display:table-cell; 
            line-height:0; 
            font-size:15px;          

            &-input {
                display: table-cell;
                vertical-align: middle;
            }            

            &-label {
                display: table-cell;                
                padding-left: 4px;
                padding-right: 15px;
                vertical-align: middle;
            }
        }
    }
}

$oc-map: null;