<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
</head>
<body style="padding:20px;">
	<!-- Your Component Goes Here -->

	<ul class="c-simple-treeview__list">
		<li class="c-simple-treeview__item">
			<div class="c-checkbox">
				<label class="c-square-checkbox c-square-checkbox--light">
			  	<input type="checkbox" name="tree-view">
			  	<span class="c-square-checkbox__indicator"></span>
				</label>
			</div>
			<div class="c-simple-treeview__item-icon">
				<i class="icon__n icon__n--folder"></i>				
			</div>
			<div class="c-simple-treeview__item-label">Indie</div>	
		</li>
		<li class="c-simple-treeview__item">
			<div class="c-checkbox">
				<label class="c-square-checkbox c-square-checkbox--light">
			  	<input type="checkbox" name="tree-view">
			  	<span class="c-square-checkbox__indicator"></span>
				</label>
			</div>
			<div class="c-simple-treeview__item-icon">
				<i class="icon__n icon__n--folder"></i>				
			</div>
			<div class="c-simple-treeview__item-label">Pop</div>		
		</li>
		<li class="c-simple-treeview__item">
			<div class="c-checkbox">
				<label class="c-square-checkbox c-square-checkbox--light">
			  	<input type="checkbox" name="tree-view">
			  	<span class="c-square-checkbox__indicator"></span>
				</label>
			</div>
			<div class="c-simple-treeview__item-icon">
				<i class="icon__n icon__n--folder"></i>				
			</div>
			<div class="c-simple-treeview__item-label">Rock</div>
			<div class="c-simple-treeview__item-input"><input type="text" name="number" maxlength="3" placeholder="1-100" /></div>
		</li>
		<li class="c-simple-treeview__item">
			<div class="c-checkbox">
				<label class="c-square-checkbox c-square-checkbox--light">
			  	<input type="checkbox" name="tree-view">
			  	<span class="c-square-checkbox__indicator"></span>
				</label>
			</div>
			<div class="c-simple-treeview__item-icon">
				<i class="icon__n icon__n--folder-remove"></i>				
			</div>
			<div class="c-simple-treeview__item-label">Rock</div>
			<div class="c-simple-treeview__item-input"><input type="text" name="number" maxlength="3" placeholder="1-100" /></div>
			<ul class="c-simple-treeview__sub-list">
				<li class="c-simple-treeview__item">
					<div class="c-checkbox">
						<label class="c-square-checkbox c-square-checkbox--light">
					  	<input type="checkbox" name="tree-view">
					  	<span class="c-square-checkbox__indicator"></span>
						</label>
					</div>
					<div class="c-simple-treeview__item-icon">
						<i class="icon__n icon__n--folder_open"></i>				
					</div>
					<div class="c-simple-treeview__item-label">Hard Rock</div>
				</li>
				<li class="c-simple-treeview__item">
					<div class="c-checkbox">
						<label class="c-square-checkbox c-square-checkbox--light">
					  	<input type="checkbox" name="tree-view">
					  	<span class="c-square-checkbox__indicator"></span>
						</label>
					</div>
					<div class="c-simple-treeview__item-icon">
						<i class="icon__n icon__n--folder-remove"></i>				
					</div>
					<div class="c-simple-treeview__item-label">Soft Rock</div>
					<ul class="c-simple-treeview__sub-list">
						<li class="c-simple-treeview__item">
							<div class="c-checkbox">
								<label class="c-square-checkbox c-square-checkbox--light">
							  	<input type="checkbox" name="tree-view">
							  	<span class="c-square-checkbox__indicator"></span>
								</label>
							</div>
							<div class="c-simple-treeview__item-icon">
								<i class="icon__n icon__n--folder_open"></i>				
							</div>
							<div class="c-simple-treeview__item-label">Brit Rock</div>
						</li>
					</ul>
				</li>
				<li class="c-simple-treeview__item">
					<div class="c-checkbox">
						<label class="c-square-checkbox c-square-checkbox--light">
					  	<input type="checkbox" name="tree-view">
					  	<span class="c-square-checkbox__indicator"></span>
						</label>
					</div>
					<div class="c-simple-treeview__item-icon">
						<i class="icon__n icon__n--folder_open"></i>				
					</div>
					<div class="c-simple-treeview__item-label">Post Rock</div>
				</li>
			</ul>
		</li>
	</ul><!-- /.c-simple-treeview -->


	<ul class="c-simple-treeview__list" style="margin-top:50px;">
		<li class="c-simple-treeview__item">
			<div class="c-checkbox">
				<label class="c-square-checkbox c-square-checkbox--light">
			  	<input type="checkbox" name="tree-view">
			  	<span class="c-square-checkbox__indicator"></span>
				</label>
			</div>
			<div class="c-simple-treeview__item-icon">
				<i class="icon__n icon__n--folder-remove"></i>				
			</div>
			<div class="c-simple-treeview__item-label">Rock</div>
			<div class="c-simple-treeview__item-input"><input type="text" name="number" maxlength="3" placeholder="1-100" /></div>
			<ul class="c-simple-treeview__sub-list">
				<li class="c-simple-treeview__item">
					<div class="c-checkbox">
						<label class="c-square-checkbox c-square-checkbox--light">
					  	<input type="checkbox" name="tree-view">
					  	<span class="c-square-checkbox__indicator"></span>
						</label>
					</div>
					<div class="c-simple-treeview__item-icon">
						<i class="icon__n icon__n--folder_open"></i>				
					</div>
					<div class="c-simple-treeview__item-label">Hard Rock</div>
				</li>
				<li class="c-simple-treeview__item">
					<div class="c-checkbox">
						<label class="c-square-checkbox c-square-checkbox--light">
					  	<input type="checkbox" name="tree-view">
					  	<span class="c-square-checkbox__indicator"></span>
						</label>
					</div>
					<div class="c-simple-treeview__item-icon">
						<i class="icon__n icon__n--folder-remove"></i>				
					</div>
					<div class="c-simple-treeview__item-label">Soft Rock</div>
					<ul class="c-simple-treeview__sub-list">
						<li class="c-simple-treeview__item">
							<div class="c-checkbox">
								<label class="c-square-checkbox c-square-checkbox--light">
							  	<input type="checkbox" name="tree-view">
							  	<span class="c-square-checkbox__indicator"></span>
								</label>
							</div>
							<div class="c-simple-treeview__item-icon">
								<i class="icon__n icon__n--folder_open"></i>				
							</div>
							<div class="c-simple-treeview__item-label">Brit Rock</div>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul><!-- /.c-simple-treeview -->


</body>
</html>
<!-- End Of Html -->
