.c-status-tag {

        display: inline-block;

        &__container{
                vertical-align: middle;
                border-radius: 4px; 
                @include ffamily("semi");
                font-size: 11px;
                padding: 5px 10px;
                margin-right: 3px;
                text-align: center;
        }            
}