<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
</head>
<body style="padding:20px; background-color: #31737d; min-height:500px">
	<!-- Your Component Goes Here -->

		<ul class="c-over-image-stats-grid">
			<li class="c-over-image-stats-grid__item"><span class="c-over-image-stats-grid__item__value">17</span> ETKİNLİK</li>
			<li class="c-over-image-stats-grid__item"><span class="c-over-image-stats-grid__item__value">36</span> PERFORMANS</li>
			<li class="c-over-image-stats-grid__item"><span class="c-over-image-stats-grid__item__value">124</span> KİŞİ / EKİP</li>
		</ul>

</body>
</html>
<!-- End Of Html -->
