<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
  <script src="../../../bower_components/jquery/dist/jquery.min.js"></script>


  <style>
    .c-modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: #000;
        opacity: 0;
    }

    .c-modal.c-modal--show {
      opacity: 0.7;
    }

    .c-modal__dialog {
      position: absolute;
      width: 560px;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
			height: 80vh;
			max-height: 50vh;
			overflow: hidden;
    }

		.c-typeahead .c-inline-search-input .c-promise-icon {
      display: table-cell;
    }

  </style>

</head>
<body>

  <div class="c-modal c-modal--show">
    <div class="c-modal__dialog">
      <div class="c-modal-search-box">

        <div class="c-modal-search-box__header">
          <div class="c-modal-search-box__header-title">
            Performans Ekle
          </div>
          <div class="c-modal-search-box__close-btn">
            <i class="icon__n icon__n--close"></i>
          </div>
        </div>

        <div class="c-modal-search-box__content">
          <div class="c-typeahead">
            <div class="c-typeahead__search-box">
              <!-- Inline Search Input -->
							<div class="c-inline-search-input c-inline-search-input--border">
								<div class="input-group">

									<input type="text" class="form-control" placeholder="Etkinlikler Arasında Arayın" aria-describedby="basic-addon1">
									<div class="c-inline-search-input__icon">
										<div class="c-promise-icon ">
											<div class="c-promise-icon__before">
												<i class="icon__n icon__n--search"></i>
											</div>
											<div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
												<div class="c-promise-icon__spinner-blade"></div>
												<div class="c-promise-icon__spinner-blade"></div>
												<div class="c-promise-icon__spinner-blade"></div>
												<div class="c-promise-icon__spinner-blade"></div>
												<div class="c-promise-icon__spinner-blade"></div>
												<div class="c-promise-icon__spinner-blade"></div>
												<div class="c-promise-icon__spinner-blade"></div>
												<div class="c-promise-icon__spinner-blade"></div>
												<div class="c-promise-icon__spinner-blade"></div>
												<div class="c-promise-icon__spinner-blade"></div>
												<div class="c-promise-icon__spinner-blade"></div>
												<div class="c-promise-icon__spinner-blade"></div>
											</div>
										</div>
									</div>
								</div>
							</div>

            </div>
            <div class="c-typeahead__result-box">
                <div class="c-typeahead__result-group">
                  <div class="c-typeahead__result-group-title">ÖNCEKİ ARAMALAR</div>
                  <ul class="c-typeahead__result-list">
                    <li class="c-typeahead__result-list-item">
                      <span class="c-typeahead__result-list-item-icon">
                        <i class="icon__n icon__n--history"></i>
                      </span>
                      <span class="c-typeahead__result-list-item-content">
                        Anathema
                      </span>
                    </li>

                    <li class="c-typeahead__result-list-item">
                      <span class="c-typeahead__result-list-item-icon">
                        <i class="icon__n icon__n--history"></i>
                      </span>
                      <span class="c-typeahead__result-list-item-content">
                        Ane Brun
                      </span>
                    </li>

                    <li class="c-typeahead__result-list-item">
                      <span class="c-typeahead__result-list-item-icon">
                        <i class="icon__n icon__n--history"></i>
                      </span>
                      <span class="c-typeahead__result-list-item-content">
                        Anneke Van Giersbergen
                      </span>
                    </li>

                    <li class="c-typeahead__result-list-item">
                      <span class="c-typeahead__result-list-item-icon">
                        <i class="icon__n icon__n--history"></i>
                      </span>
                      <span class="c-typeahead__result-list-item-content">
                        Antimatter
                      </span>
                    </li>

                  </ul>
                </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <script>

  </script>

</body>
</html>
