<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
	<style>
		section {
			margin: 0;
			width: 250px;
			background-color: #ededed;
			padding: 30px;
		}
	</style>
</head>
<body style="padding:20px;">
	<section>
		<ul class="c-inline-icon-group">
			<li><img src="../../../images/temp/other.png" alt=""></li>
			<li><img src="../../../images/temp/lastfm.png" alt=""></li>
			<li><img src="../../../images/temp/spotify.png" alt=""></li>
			<li><i class="c-inline-icon-group__more icon__n icon__n--more_horiz"></i></li>
		</ul>
	</section>

</body>
</html>