<div class="or-cms-lov-create">
  
  <div class="p-header-bar" sticky sticky-main-scroller sticky-release-offset="30" sticky-height-property="55" sticky-width-property="100%" sticky-follow-menu-moves>
      <div class="p-header-bar__left">
          <app-breadcrumb [breadcrumbs]="[{title: 'Değerler Listesi'}, {title: lov?.Name || 'Yeni Değer Listesi'}]"></app-breadcrumb>
      </div>

      <div class="p-header-bar__right">
          <app-button (clickEvent)='saveLov()' [isPromising]="isLoading || isPromising" [isDisabled]="!isValid" [label]="'KAYDET'"></app-button>
          <app-button (clickEvent)='exit($event)' type="icon" icon="close" theme="secondary"></app-button>
      </div>
  </div>

  <app-split-container fixedFloat="right" [fixedWidth]="firmList?.length ? 370 : 0">
    <div fixed right *ngIf="firmList?.length">
      <div class="p-container">
            <div class="p-group" *ngIf="firmList?.length">
                <div class="p-group__header">
                    <div class="p-group__header-bar">
                        <span class="p-group__header-title">
                            Organizatör<!--<sup>*</sup>-->
                        </span>
                    </div>
                </div>
                <div class="p-group__item">
                    <app-selectbox [options]="firmList" [value]="lov?.PromoterCode" (changeEvent)="inputChangeHandler($event, 'PromoterCode')"></app-selectbox>
                </div>
            </div>
      </div>
    </div>

    <div fluid>
        <div class="p-container">
          
          <div class="p-group">
              <div class="p-group__item">
                  <div class="p-form-group">
                      <div class="p-form-group__label">
                          DEĞER LİSTESİ ADI<sup>*</sup>
                      </div>
                      <div class="p-form-group__input">
                          <app-text-input 
                              (typeEvent)="inputChangeHandler($event, 'Name')"
                              [isTypeEmitting]="true"
                              [typeDebounceTime]="100"
                              [value]="lov?.Name"></app-text-input>
                          <app-helper-text type="info"><span>Değer Listesi görüntülenirken kullanılan metindir.</span></app-helper-text>
                      </div>
                  </div>
              </div>
              <div class="p-group__item">
                  <div class="p-form-group">
                      <div class="p-form-group__label">
                          TEKİL İSİM<sup>*</sup>
                      </div>
                      <div class="p-form-group__input">
                          <app-text-input 
                              (changeEvent)="inputChangeHandler($event, '_id')"
                              [isDisabled]="isEditMode"
                              [value]="lov?._id"></app-text-input>
                          <app-helper-text type="info"><span>Değer Listesini tanımlamak için kullanılan tekil isimdir.</span></app-helper-text>
                      </div>
                  </div>
              </div>
          </div>
          
          <div class="p-group">
              <div class="p-group__header">
                  <div class="p-group__header-bar">
                      <div class="p-group__header-title">
                          Değerler<sup>*</sup>
                      </div>

                  </div>
              </div>
              <div class="p-group__item" *ngIf="keyValueItems?.length">
                <app-container-canvas>
                  <ul class="or-cms-lov-create__list">
                    <li class="or-cms-lov-create__list-item" *ngFor="let keyValueItem of keyValueItems">
                        <app-mini-card
                          (actionEvent)="keyValueItemActionHandler($event)"
                          [title]="keyValueItem?.label || keyValueItem?.key"
                          [subTitle]="keyValueItem?.key + ': ' + keyValueItem?.value"
                          [actions]="[
                            {action: 'edit', icon: 'edit', label: 'DÜZENLE', params:{keyValueItem: keyValueItem}},
                            {action: 'remove', icon: 'delete', label: 'SİL', params:{keyValueItem: keyValueItem}}
                          ]"></app-mini-card>
                    </li>
                  </ul>
                </app-container-canvas>
              </div>
              
              <div class="p-group__item">
                  <app-container-canvas [isEmpty]="true">
                      <app-button (clickEvent)="addNewKeyValueItem()" theme="secondary">DEĞER EKLE</app-button>
                  </app-container-canvas>
              </div>
          </div>

        </div>
    </div>

  </app-split-container>

</div>