<!DOCTYPE html>
<html lang="tr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
</head>
<body>

	<div style="margin:20px">

		<div class="c-profile-photo c-profile-photo--empty">

			<div class="c-profile-photo__container">

				<div class="c-profile-photo__empty-photo">
					<i class="c-profile-photo__empty-icon icon__n icon__n--add_a_photo"></i>
					<small>Profil Fotoğrafı Yükle</small>
				</div>

			</div>

			<small class="c-profile-photo__helper-text"><i class="c-profile-photo__helper-icon icon__n icon__n--info_outline"></i> <span>En az 1024x768 px çözünürlüklerde bir görsel yüklemeniz önerilir.  MAX. 10 MB</span></small>

		</div>
		<!--end c-profile-photo-->

	</div>

	<div style="margin:20px">
	
		<div class="c-profile-photo">

			<div class="c-profile-photo__container">

				<div class="c-profile-photo__wrap">

					<div class="c-profile-photo__action-content">
						<a href="#" class="action-icons"><i class="icon__n icon__n--edit"></i></a>
						<a href="#" class="action-icons action-icons-right"><i class="icon__n icon__n--close"></i></a>
					</div>
					<!--end action-content-->
					
					<span class="c-avatar c-avatar--autosize c-avatar--circle" style="font-size: 120px;">
						<figure>
							<img src="http://lorempixel.com/240/175/people/9" alt="">
						</figure>
					</span>

					<span class="c-profile-photo__mask-img" style="background-image:url('http://lorempixel.com/240/175/people/9');"></span>

				</div>

			</div>

			<small class="c-profile-photo__helper-text"><i class="c-profile-photo__helper-icon icon__n icon__n--info_outline"></i> <span>En az 1024x768 px çözünürlüklerde bir görsel yüklemeniz önerilir.  MAX. 10 MB</span></small>

		</div>
		<!--end c-profile-photo-->

	</div>

</body>
</html>