<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
</head>
<body style="padding:20px;">
	<!-- Your Component Goes Here -->

	<div class="c-cover-image" style="background-image:url(../../../images/cover-image/cover-image.jpg)">
		
		<span class="c-cover-image__mask"></span>
		
		<div class="c-cover-image__container">
			
			<h1>Volkswagen Arena</h1>

			<ul class="nav nav-tabs c-tab-bar c-tab-bar__white">
			  <li class="nav-item c-tab-bar__item">
			    <a class="nav-link c-tab-bar__item__link" href="#">TEK GÜNLÜ ETKİNLİKLER</a>
			  </li>
			  <li class="nav-item c-tab-bar__item">
			    <a class="nav-link c-tab-bar__item__link c-tab-bar__item__link--active" href="#">ÇOK GÜNLÜ ETKİNLİKLER</a>
			  </li>
			  <li class="nav-item c-tab-bar__item">
			    <a class="nav-link c-tab-bar__item__link" href="#">ÇATI ETKİNLİKLERİ</a>
			  </li>
			</ul>	
		
		</div><!-- end c-cover-image__container -->

	</div><!-- end c-cover-image -->

</body>
</html><!-- End Of Html -->
