<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
</head>
<body style="padding:20px;">

	<div style="margin-bottom:20px; width:45%; display:inline-block">

		<h3 style="margin-bottom:20px;">Yatay Kart</h3>

		<div class="c-card-horizontal">
			<div class="c-card-horizontal__kind-icon">
				<i class="icon__n icon__n--bubble_chart"></i>
			</div>
			<div class="c-card-horizontal__figure">
				<span class="c-avatar c-avatar--circle">
					<figure>
						<img src="http://lorempixel.com/40/40/people/9" alt="">
					</figure>
				</span>
			</div>
			<div class="c-card-horizontal__info">
				<strong>Altuğ Canıtez</strong> <i>(0532) 5554455</i> - Beşiktaş, İstanbul
			</div>
			<div class="c-card-horizontal__action-area">
				<i class="icon__n icon__n--add_circle_outline"></i>
				<i class="icon__n icon__n--receipt"></i>
				<i class="icon__n icon__n--more_vert"></i>
			</div>
		</div>
		<!--end c-card-horizontal-->

	</div>

	<div style="margin-bottom:20px; width:45%; display:inline-block">

		<h3 style="margin-bottom:20px;">Yatay Kart (Dynamic Ghost Card)</h3>

		<div class="c-card-horizontal">
			<div class="c-card-horizontal__kind-icon c-card-horizontal__kind-icon--ghost">
				<i class="icon__n icon__n--home c-card-horizontal__normal-content"></i>
				<i class="icon__n icon__n--bubble_chart c-card-horizontal__ghost-content"></i>
			</div>
			<div class="c-card-horizontal__figure c-card-horizontal__figure--ghost1">
				<div class="c-card-horizontal__normal-content">
					<span class="c-avatar c-avatar--circle">
						<figure>
							<img src="http://lorempixel.com/40/40/people/9" alt="">
						</figure>
					</span>
				</div>
				<div class="c-card-horizontal__ghost-content">
					<span class="c-card-horizontal__ghost-avatar"><i class="icon__n icon__n--image"></i></span>
				</div>
			</div>
			<div class="c-card-horizontal__info c-card-horizontal__info--ghost">
				<span class="c-card-horizontal__normal-content"><strong>Altuğ Canıtez</strong> <i>(0532) 5554455</i> - Beşiktaş, İstanbul</span>
				<span class="c-card-horizontal__ghost-content"><strong>ghost ghost ghost ghost ghost</strong> <i>ghost ghost ghost ghost</i></span>
			</div>
			<div class="c-card-horizontal__action-area">
				<i class="icon__n icon__n--add_circle_outline"></i>
				<i class="icon__n icon__n--receipt"></i>
				<i class="icon__n icon__n--more_vert"></i>
			</div>
		</div>
		<!--end c-card-horizontal-->

	</div>

	<div style="margin-bottom:20px; width:45%; display:inline-block">

		<h3 style="margin-bottom:20px;">Yatay Kart (Static Ghost Card)</h3>

		<div class="c-card-horizontal c-card-horizontal--ghost">
			<div class="c-card-horizontal__kind-icon">
				<i class="icon__n icon__n--bubble_chart"></i>
			</div>
			<div class="c-card-horizontal__figure">
				<span class="c-card-horizontal__ghost-avatar"><i class="icon__n icon__n--image"></i></span>
			</div>
			<div class="c-card-horizontal__info">
				<strong>ghost ghost ghost ghost ghost</strong> <i>ghost ghost ghost ghost</i>
			</div>
			<div class="c-card-horizontal__action-area">
				<i class="icon__n icon__n--add_circle_outline"></i>
				<i class="icon__n icon__n--receipt"></i>
				<i class="icon__n icon__n--more_vert"></i>
			</div>
		</div>
		<!--end c-card-horizontal-->

	</div>

	<hr / style="margin:40px 0 60px; display: block;">

	<div style="margin-bottom:20px; width:25%; display:inline-block">

		<h3 style="margin-bottom:20px;">Cart (Dynamic Ghost Card)</h3>

		<div class="c-card">

			<div class="c-card__body">

				<i class="c-card__top-icons icon__n icon__n--visibility_off"></i>
				<i class="c-card__top-icons c-card__top-icons--right icon__n icon__n--more_vert"></i>

				<div class="c-card__figure c-card__figure--ghost">
					<div class="c-card__normal-content">
						<span class="c-avatar c-avatar--autosize c-avatar--circle">
							<figure>
								<img src="http://lorempixel.com/160/160/people/9" alt="">
							</figure>
						</span>
					</div>
					<div class="c-card__ghost-content">
						<div class="c-card__ghost-avatar">
							<i class="icon__n icon__n--image"></i>
						</div>
					</div>
					<span class="c-card__kind-icon c-card__kind-icon--ghost">
						<span class="c-card__kind-icon__normal-content">
							<i class="icon__n icon__n--audiotrack"></i>
							<i class="icon__n icon__n--movie"></i>
						</span>
						<span class="c-card__kind-icon__ghost-content">
							<i class="icon__n icon__n--bubble_chart"></i>
						</span>
					</span>
					
				</div>

				<a href="#" class="c-card__name c-card__name--ghost">
					<div class="c-card__name__normal-content"><span>12. Uluslararası D-Marin Klasik Müzik Festivali</span></div>
					<div class="c-card__name__ghost-content"><span>12. Uluslararası D-Marin Klasik Müzik Festivali</span></div>
				</a>

				<ul class="c-card__metas c-card__metas--ghost">
					<li><strong>16 - 18</strong> Mayıs 2015 <br/>Uçhisar, Kapadokya</li>
				</ul>

			</div>

		</div>
		<!--end c-card-->

	</div>

	<div style="margin-bottom:20px; width:25%; display:inline-block">

		<h3 style="margin-bottom:20px;">Card (Static Ghost Card)</h3>

		<div class="c-card c-card--ghost">

			<div class="c-card__body">

				<i class="c-card__top-icons icon__n icon__n--visibility_off"></i>
				<i class="c-card__top-icons c-card__top-icons--right icon__n icon__n--more_vert"></i>

				<div class="c-card__figure">
					<div class="c-card__ghost-avatar">
						<i class="icon__n icon__n--image"></i>
					</div>
					<span class="c-card__kind-icon">
						<i class="icon__n icon__n--bubble_chart"></i>
					</span>
				</div>

				<a href="#" class="c-card__name"><span>ghost ghost ghost ghost ghost ghost ghost ghost </span></a>

				<ul class="c-card__metas">
					<li>ghost ghost</li>
				</ul>

			</div>

		</div>
		<!--end c-card-->

	</div>

	<div style="margin-bottom:20px; width:25%; display:inline-block">

		<h3 style="margin-bottom:20px;">Etkinlik Sayfası Gösterimi</h3>

		<div class="c-card">

			<div class="c-card__body">

				<i class="c-card__top-icons icon__n icon__n--visibility_off"></i>
				<i class="c-card__top-icons c-card__top-icons--right icon__n icon__n--more_vert"></i>

				<div class="c-card__figure">
					<span class="c-avatar c-avatar--autosize c-avatar--circle">
						<figure>
							<img src="http://lorempixel.com/160/160/people/9" alt="">
						</figure>
					</span>
					<span class="c-card__kind-icon">
						<i class="icon__n icon__n--audiotrack"></i>
						<i class="icon__n icon__n--movie"></i>
					</span>
				</div>

				<a href="#" class="c-card__name"><span>12. Uluslararası D-Marin Klasik Müzik Festivali</span></a>

				<ul class="c-card__metas">
					<li><strong>16 - 18</strong> Mayıs 2015</li>
					<li>Uçhisar, Kapadokya</li>
				</ul>

			</div>

		</div>
		<!--end c-card-->

	</div>

	<div style="margin-bottom:20px; width:25%; display:inline-block">

		<h3 style="margin-bottom:20px;">Performans Sayfası Gösterimi (Çift Tür)</h3>

		<div class="c-card">

			<div class="c-card__body">

				<i class="c-card__top-icons icon__n icon__n--visibility_off"></i>
				<i class="c-card__top-icons c-card__top-icons--right icon__n icon__n--more_vert"></i>

				<div class="c-card__figure">
					<span class="c-avatar c-avatar--autosize c-avatar--circle">
						<figure>
							<img src="http://lorempixel.com/160/160/people/9" alt="">
						</figure>
					</span>
					<span class="c-card__kind-icon">
						<i class="icon__n icon__n--audiotrack"></i>
						<i class="icon__n icon__n--movie"></i>
					</span>
				</div>

				<a href="#" class="c-card__name"><span>12. Uluslararası D-Marin Klasik Müzik Festivali</span></a>

				<ul class="c-card__metas">
					<li>
						<ul class="c-inline-icon-group">
							<li><img src="../../../images/temp/other.png" alt=""></li>
							<li><img src="../../../images/temp/lastfm.png" alt=""></li>
							<li><img src="../../../images/temp/spotify.png" alt=""></li>
							<li><i class="c-inline-icon-group__more icon__n icon__n--more_horiz"></i></li>
						</ul>
					</li>
				</ul>

			</div>

		</div>
		<!--end c-card-->
		
	</div>

	<div style="margin-bottom:20px; width:25%; display:inline-block">

		<h3 style="margin-bottom:20px;">Performans Sayfası Gösterimi (Tek Tür)</h3>

		<div class="c-card">

			<div class="c-card__body">

				<i class="c-card__top-icons icon__n icon__n--visibility_off"></i>
				<i class="c-card__top-icons c-card__top-icons--right icon__n icon__n--more_vert"></i>

				<div class="c-card__figure">
					<span class="c-avatar c-avatar--autosize c-avatar--circle">
						<figure>
							<img src="http://lorempixel.com/160/160/people/9" alt="">
						</figure>
					</span>
					<span class="c-card__kind-icon">
						<i class="icon__n icon__n--audiotrack"></i>
					</span>
				</div>

				<a href="#" class="c-card__name"><span>12. Uluslararası D-Marin Klasik Müzik Festivali</span></a>

				<ul class="c-card__metas">
					<li>
						<ul class="c-inline-icon-group">
							<li><img src="../../../images/temp/other.png" alt=""></li>
							<li><img src="../../../images/temp/lastfm.png" alt=""></li>
							<li><img src="../../../images/temp/spotify.png" alt=""></li>
							<li><i class="c-inline-icon-group__more icon__n icon__n--more_horiz"></i></li>
						</ul>
					</li>
				</ul>

			</div>

		</div> 
		<!--end c-card-->
		
	</div>

	<div style="margin-bottom:20px; width:25%; display:inline-block">

		<h3 style="margin-bottom:20px;">Seçilebilir Kart</h3>

		<div class="c-card c-card--selectable">

			<div class="c-card__body">

				<i class="c-card__top-icons c-card__top-icons--on icon__n icon__n--visibility"></i>
				<i class="c-card__top-icons c-card__top-icons--right icon__n icon__n--more_vert"></i>

				<div class="c-card__figure">
					<span class="c-avatar c-avatar--autosize c-avatar--circle">
						<figure>
							<img src="http://lorempixel.com/160/160/people/9" alt="">
						</figure>
					</span>
					<span class="c-card__kind-icon">
						<i class="icon__n icon__n--audiotrack"></i>
						<i class="icon__n icon__n--movie"></i>
					</span>
				</div>

				<a href="#" class="c-card__name"><span>12. Uluslararası D-Marin Klasik Müzik Festivali</span></a>

				<ul class="c-card__metas">
					<li><strong>16 - 18</strong> Mayıs 2015</li>
					<li>Uçhisar, Kapadokya</li>
				</ul>

				<div class="c-card-selectable-content">
					<ul class="c-card__metas">
						<li><a href="" class="btn btn-danger btn-block">Düzenle</a></li>
					</ul>
				</div>

			</div>

		</div>
		<!--end c-card-->

	</div>

	<div style="margin-bottom:20px; width:25%; display:inline-block">

		<h3 style="margin-bottom:20px;">Seçilebilir Kart - Seçilmiş</h3>

		<div class="c-card c-card--selectable c-card--selectable--selected">

			<div class="c-card__body">

				<i class="c-card__top-icons c-card__top-icons--on icon__n icon__n--visibility"></i>
				<i class="c-card__top-icons c-card__top-icons--right icon__n icon__n--more_vert"></i>

				<div class="c-card__figure">
					<span class="c-avatar c-avatar--autosize c-avatar--circle">
						<figure>
							<img src="http://lorempixel.com/160/160/people/9" alt="">
						</figure>
					</span>
					<span class="c-card__kind-icon">
						<i class="icon__n icon__n--audiotrack"></i>
						<i class="icon__n icon__n--movie"></i>
					</span>
				</div>

				<a href="#" class="c-card__name"><span>12. Uluslararası D-Marin Klasik Müzik Festivali</span></a>

				<ul class="c-card__metas">
					<li><strong>16 - 18</strong> Mayıs 2015</li>
					<li>Uçhisar, Kapadokya</li>
				</ul>

				<div class="c-card-selectable-content">
					<ul class="c-card__metas">
						<li><a href="" class="btn btn-danger btn-block">Düzenle</a></li>
					</ul>
				</div>

			</div>

		</div>
		<!--end c-card-->

	</div>

	<div style="margin-bottom:20px; width:25%; display:inline-block">

		<h3 style="margin-bottom:20px;">Footer Icon'lu Gösterim</h3>

		<div class="c-card c-card--with-footer-icons">

			<div class="c-card__body">

				<i class="c-card__top-icons icon__n icon__n--visibility_off"></i>
				<i class="c-card__top-icons c-card__top-icons--right icon__n icon__n--more_vert"></i>

				<div class="c-card__figure">
					<div class="c-icon-grid">
						<figure class="c-icon-grid__figure"><img src="../../../images/icon-grid/seating-arrangement01.jpg" alt="" /></figure>
					</div>
				</div>

				<a href="#" class="c-card__name"><span>12. Uluslararası D-Marin Klasik Müzik Festivali</span></a>

				<ul class="c-card__metas c-card__metas--relative">
					<li><strong>KAPASİTE</strong><br/>Oturan <strong>5.000</strong> kişi</li>
				</ul>

			</div>

			<ul class="c-card__footer-icons">
				<li><i class="icon__n icon__n--event_seat"></i></li>
				<li><i class="icon__n icon__n--restaurant"></i></li>
				<li><i class="icon__n icon__n--wc"></i></li>
				<li><i class="icon__n icon__n--local_parking"></i></li>
				<li><i class="icon__n icon__n--more_horiz"></i></li>
			</ul>

		</div> 
		<!--end c-card-->
		
	</div>

	<div style="margin-bottom:20px; width:25%; display:inline-block">

		<h3 style="margin-bottom:20px;">Footer'da Bağlantılı Gösterimi</h3>

		<div class="c-card c-card--with-footer-link">

			<div class="c-card__body">

				<i class="c-card__top-icons c-card__top-icons--right icon__n icon__n--more_vert"></i>

				<div class="c-card__figure">
					<span class="c-avatar c-avatar--autosize c-avatar--circle">
						<figure>
							<img src="http://lorempixel.com/160/160/people/9" alt="">
						</figure>
					</span>
				</div>

				<a href="#" class="c-card__name"><span>Volkswagen Arena</span></a>

				<ul class="c-card__metas c-card__metas--relative">
					<li>Sarıyer, İstanbul / Türkiye</li>
					<li><strong>T.</strong> 0212 555 44 44</li>
				</ul>

				<ul class="c-card__metas ">
					<li><a href="#" class="link">http://babylon.com.tr/</a></li>
				</ul>

			</div>

		</div>
		<!--end c-card-->

	</div>



</body>
</html>