/**
* Narrow Box Report Statistic:
* Author: Can Sivri
*
*/


// Variables
$c-box-report-statistic: (
  padding: 20px,
  text-color: #35383d,
  item-padding: 20px 0,
  title-padding: 10px 0 30px,
  border-color: #dcdce5,
  progress-bar-height: 7px,
  progress-bar-bg: #eee,
  more-btn-bg: #f7f7f7
);

// Merge settings and defaults
$c-box-report-statistic: map-merge($c-box-report-statistic, getSettingsMap("c-box-report-statistic"));

// Set shortcuts
$c-map: $c-box-report-statistic;


.c-box-report-statistic {
  padding: map-get($c-map, padding);
  border: 1px solid map-get($c-map, border-color);
  border-radius: 3px;
  color: map-get($c-map, text-color);
  &__title {
    padding: map-get($c-map, title-padding);
    &-value {
      font-size: 22px;
      line-height: 22px;
      @include ffamily("bold");
    }
    &-text {
      font-size: 18px;
      line-height: 24px;
      @include ffamily("regular");
    }
  }
  &__list {
    border-bottom: 1px solid map-get($c-map, border-color);
    list-style: none;
    &-item {
      display: table;
      width: 100%;
      padding: map-get($c-map, item-padding);
      border-top: 1px solid map-get($c-map, border-color);
      &-label {
        display: table-cell;
        vertical-align: middle;
        min-width: 200px;
        padding-right: 15px;
        font-size: 13px;
        @include ffamily("regular");
      }
      &-value {
        display: table-cell;
        vertical-align: middle;
        padding-left: 10px;
        font-size: 13px;
        @include ffamily("bold");
        text-align: right;
      }
      &-progress-bar-wrap {
        display: table-cell;
        vertical-align: middle;
        width: 100px;
      }
      &-progress-bar {
        position: relative;
        height: map-get($c-map, progress-bar-height);
        background-color: map-get($c-map, progress-bar-bg);
      }
      &-progress-bar-fill {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
      }
    }
  }
  &__more {
    padding: 15px 0 0;
    a {
      display: inline-block;
      color: map-get($c-map, text-color);
      text-decoration: none;
      &:hover {text-decoration:none;}
    }
    &-text {
      font-size: 12px;
      @include ffamily("semi");
      strong {@include ffamily("bold");}
    }
    .icon__n {
      position: relative;
      top: -6px;
      left: -4px;
      height: 20px;
      font-size: 32px;
      vertical-align: middle;
    }
    &--button {
      padding-top: 20px;
      a {
        overflow: hidden;
        display: block;
        height: 20px;
        text-align: center;
        background-color: map-get($c-map, more-btn-bg);
      }
      .icon__n {
        top: -5px;
        left: 0;
      }
    }
  }
}
