<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="../../../css/main.css">
</head>
<body style="padding:20px;">
  <!-- Your Component Goes Here -->

  <div class="c-box-report-statistic" style="width:415px;margin-bottom:50px;">

    <div class="c-box-report-statistic__title">
      <div class="c-box-report-statistic__title-value">%12,68</div>
      <div class="c-box-report-statistic__title-text">Referans Siteler</div>
    </div><!-- end c-box-report-statistic__title -->

    <ul class="c-box-report-statistic__list">
      <li class="c-box-report-statistic__list-item">
        <div class="c-box-report-statistic__list-item-label">tr.indeed.com</div>
        <div class="c-box-report-statistic__list-item-progress-bar-wrap">
          <div class="c-box-report-statistic__list-item-progress-bar">
            <span class="c-box-report-statistic__list-item-progress-bar-fill" style="width:22.58%;background-color:#2b98f0"></span>
          </div>
        </div>
        <div class="c-box-report-statistic__list-item-value">%22,58</div>
      </li>
      <li class="c-box-report-statistic__list-item">
        <div class="c-box-report-statistic__list-item-label">biuniversileliariyoru...</div>
        <div class="c-box-report-statistic__list-item-progress-bar-wrap">
          <div class="c-box-report-statistic__list-item-progress-bar">
            <span class="c-box-report-statistic__list-item-progress-bar-fill" style="width:17.56%;background-color:#2b98f0"></span>
          </div>
        </div>
        <div class="c-box-report-statistic__list-item-value">%17,56</div>
      </li>
      <li class="c-box-report-statistic__list-item">
        <div class="c-box-report-statistic__list-item-label">eksisozluk.com</div>
        <div class="c-box-report-statistic__list-item-progress-bar-wrap">
          <div class="c-box-report-statistic__list-item-progress-bar">
            <span class="c-box-report-statistic__list-item-progress-bar-fill" style="width:74.54%;background-color:#2b98f0"></span>
          </div>
        </div>
        <div class="c-box-report-statistic__list-item-value">%74,54</div>
      </li>
    </ul><!-- end c-box-report-statistic__list -->

    <div class="c-box-report-statistic__more">
      <a href="#"><i class="icon__n icon__n--more_horiz"></i> <span class="c-box-report-statistic__more-text"><strong>22</strong> SONUÇ DAHA</span></a>
    </div><!-- end c-box-report-statistic__more -->

  </div>


  <div class="c-box-report-statistic" style="width:415px;margin-bottom:50px;">

    <div class="c-box-report-statistic__title">
      <div class="c-box-report-statistic__title-value">%23,48</div>
      <div class="c-box-report-statistic__title-text">Sosyal Medya</div>
    </div><!-- end c-box-report-statistic__title -->

    <ul class="c-box-report-statistic__list">
      <li class="c-box-report-statistic__list-item">
        <div class="c-box-report-statistic__list-item-label">facebook</div>
        <div class="c-box-report-statistic__list-item-progress-bar-wrap">
          <div class="c-box-report-statistic__list-item-progress-bar">
            <span class="c-box-report-statistic__list-item-progress-bar-fill" style="width:22.58%;background-color:#2b98f0"></span>
          </div>
        </div>
        <div class="c-box-report-statistic__list-item-value">%22,58</div>
      </li>
      <li class="c-box-report-statistic__list-item">
        <div class="c-box-report-statistic__list-item-label">twitter</div>
        <div class="c-box-report-statistic__list-item-progress-bar-wrap">
          <div class="c-box-report-statistic__list-item-progress-bar">
            <span class="c-box-report-statistic__list-item-progress-bar-fill" style="width:17.56%;background-color:#2b98f0"></span>
          </div>
        </div>
        <div class="c-box-report-statistic__list-item-value">%17,56</div>
      </li>
      <li class="c-box-report-statistic__list-item">
        <div class="c-box-report-statistic__list-item-label">instagram</div>
        <div class="c-box-report-statistic__list-item-progress-bar-wrap">
          <div class="c-box-report-statistic__list-item-progress-bar">
            <span class="c-box-report-statistic__list-item-progress-bar-fill" style="width:74.54%;background-color:#2b98f0"></span>
          </div>
        </div>
        <div class="c-box-report-statistic__list-item-value">%74,54</div>
      </li>
    </ul><!-- end c-box-report-statistic__list -->

    <div class="c-box-report-statistic__more c-box-report-statistic__more--button">
      <a href="#"><i class="icon__n icon__n--more_horiz"></i></a>
    </div><!-- end c-box-report-statistic__more -->

  </div>

</body>
</html>
<!-- End Of Html -->
