<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
	<style>
		body {
			padding: 20px;
		}
		section {
			display: inline-block;
			margin: 0;
			width: 420px;
			border:1px solid #BDBDBD;
			text-align: center;
			vertical-align: top;
		}
	</style>
</head>

<body>

	<section>

		<div class="c-multiple-payment-block">

			<div class="c-multiple-payment-block__type-area">

				<!--  
					Buraya OVERLAY (c-multiple-payment-block__content-overlay) Gelecek
				-->

				<ul class="c-multiple-payment-block__type">

					<li class="c-multiple-payment-block__type-item">

						<div class="c-multiple-payment-block__type-name">
							<i class="icon__n icon__n--credit_card"></i>
							<strong>KREDİ KARTI</strong>
						</div>

						<!--  
							Buraya FORM (c-multiple-payment-block__form) Gelecek
						-->

					</li>

					<li class="c-multiple-payment-block__type-item">

						<div class="c-multiple-payment-block__type-name">
							<i class="icon__n icon__n--note-multiple-outline"></i>
							<strong>BANKA HAVALESİ</strong>
						</div>

					</li>

					<li class="c-multiple-payment-block__type-item">

						<div class="c-multiple-payment-block__type-name">
							<i class="icon__n icon__n--account_balance_wallet"></i>
							<strong>NAKİT</strong>
						</div>

					</li>

					<li class="c-multiple-payment-block__type-item">

						<div class="c-multiple-payment-block__type-name">
							<i class="icon__n icon__n--local_activity"></i>
							<strong>PUAN</strong>
						</div>

					</li>
					
				</ul>

			</div>

			<div class="c-multiple-payment-block__table">
				<div class="c-multiple-payment-block__table-item">
					<span class="c-multiple-payment-block__table-item-label">KREDİ KARTI <i>- Master Card *** - 4567</i></span>
					<span class="c-multiple-payment-block__table-item-value c-multiple-payment-block__table-item-value--added">- 113,20 <sup>TL</sup></span>
					<span class="btn-delete"><i class="icon__n icon__n--delete"></i></span>
				</div>
				<div class="c-multiple-payment-block__table-item">
					<span class="c-multiple-payment-block__table-item-label">NAKİT</span>
					<span class="c-multiple-payment-block__table-item-value c-multiple-payment-block__table-item-value--added">- 100,00 <sup>TL</sup></span>
					<span class="btn-delete"><i class="icon__n icon__n--delete"></i></span>
				</div>
			</div>

			<div class="c-multiple-payment-block__total">
				<div class="c-multiple-payment-block__total-content">
					<span class="c-multiple-payment-block__total-label">KALAN</span>
					<span class="c-multiple-payment-block__total-price">00,00 <sup>TL</sup></span>
				</div>
			</div>

		</div>

	</section>

	<section>

		<div class="c-multiple-payment-block">

			<div class="c-multiple-payment-block__type-area">

				<ul class="c-multiple-payment-block__type">

					<li class="c-multiple-payment-block__type-item">

						<div class="c-multiple-payment-block__type-name">
							<i class="icon__n icon__n--credit_card"></i>
							<strong>KREDİ KARTI</strong>
						</div>

					</li>

					<li class="c-multiple-payment-block__type-item">

						<div class="c-multiple-payment-block__type-name">
							<i class="icon__n icon__n--note-multiple-outline"></i>
							<strong>BANKA HAVALESİ</strong>
						</div>

					</li>

					<li class="c-multiple-payment-block__type-item c-multiple-payment-block__type-item--active">

						<div class="c-multiple-payment-block__form">
							
							<div class="c-multiple-payment-block__input-with-additionals">
								<span class="c-multiple-payment-block__left-additional">
									<span class="c-multiple-payment-block__form-icon">
										<i class="icon__n icon__n--credit_card"></i>
									</span>
								</span>
								<span class="c-multiple-payment-block__form-element">
										<input type="text" placeholder="0,00">
									</span>
								<span class="c-multiple-payment-block__right-additional">
									<span class="c-multiple-payment-block__form-label">TL</span>
								</span>
							</div>
							
						</div>

						<small class="c-multiple-payment-block__overlay-link-btn">Para üstü hesaplayın</small>

					</li>

					<li class="c-multiple-payment-block__type-item">

						<div class="c-multiple-payment-block__type-name">
							<i class="icon__n icon__n--local_activity"></i>
							<strong>PUAN</strong>
						</div>

					</li>
					
				</ul>

			</div>

			<div class="c-multiple-payment-block__table">
				<div class="c-multiple-payment-block__table-item">
					<span class="c-multiple-payment-block__table-item-label">KREDİ KARTI <i>- Master Card *** - 4567</i></span>
					<span class="c-multiple-payment-block__table-item-value c-multiple-payment-block__table-item-value--added">- 113,20 <sup>TL</sup></span>
					<span class="btn-delete"><i class="icon__n icon__n--delete"></i></span>
				</div>
				<div class="c-multiple-payment-block__table-item">
					<span class="c-multiple-payment-block__table-item-label">NAKİT</span>
					<span class="c-multiple-payment-block__table-item-value c-multiple-payment-block__table-item-value--added">- 100,00 <sup>TL</sup></span>
					<span class="btn-delete"><i class="icon__n icon__n--delete"></i></span>
				</div>
			</div>

			<div class="c-multiple-payment-block__total">
				<div class="c-multiple-payment-block__total-content">
					<span class="c-multiple-payment-block__total-label">KALAN</span>
					<span class="c-multiple-payment-block__total-price">00,00 <sup>TL</sup></span>
				</div>
			</div>

		</div>

	</section>

	<section>

		<div class="c-multiple-payment-block">

			<div class="c-multiple-payment-block__type-area">

				<div class="c-multiple-payment-block__content-overlay">

					<div class="c-multiple-payment-block__content-overlay-head">

						<div class="c-multiple-payment-block__content-overlay-title">
							<i class="icon__n icon__n--account_balance_wallet"></i>100,00 <sup>TL</sup>
						</div>
						<i class="icon__n icon__n--close"></i>
						
					</div>

					<div class="c-multiple-payment-block__content-overlay-body">
				
						<div class="c-multiple-payment-block__form">
								
								<div class="c-multiple-payment-block__input-with-additionals c-multiple-payment-block__input-with-additionals--focus">
									<span class="c-multiple-payment-block__left-additional">
										<span class="c-multiple-payment-block__form-label">ALINAN</span>
									</span>
									<span class="c-multiple-payment-block__form-element">
										<input type="text" placeholder="0,00" value="64,00">
									</span>
									<span class="c-multiple-payment-block__right-additional">
										<span class="c-multiple-payment-block__form-label">TL</span>
									</span>
								</div>

								<div class="c-multiple-payment-block__input-with-additionals c-multiple-payment-block__input-with-additionals--view-mod">
									<span class="c-multiple-payment-block__left-additional">
										<span class="c-multiple-payment-block__form-label">PARA ÜSTÜ</span>
									</span>
									<span class="c-multiple-payment-block__form-element">
										<span class="text">0,00</span>
									</span>
									<span class="c-multiple-payment-block__right-additional">
										<span class="c-multiple-payment-block__form-label">TL</span>
									</span>
								</div>
								
						</div>

					</div>

				</div>

			</div>

			<div class="c-multiple-payment-block__table">
				<div class="c-multiple-payment-block__table-item">
					<span class="c-multiple-payment-block__table-item-label">KREDİ KARTI <i>- Master Card *** - 4567</i></span>
					<span class="c-multiple-payment-block__table-item-value c-multiple-payment-block__table-item-value--added">- 113,20 <sup>TL</sup></span>
					<span class="btn-delete"><i class="icon__n icon__n--delete"></i></span>
				</div>
				<div class="c-multiple-payment-block__table-item">
					<span class="c-multiple-payment-block__table-item-label">NAKİT</span>
					<span class="c-multiple-payment-block__table-item-value c-multiple-payment-block__table-item-value--added">- 100,00 <sup>TL</sup></span>
					<span class="btn-delete"><i class="icon__n icon__n--delete"></i></span>
				</div>
			</div>

			<div class="c-multiple-payment-block__total">
				<div class="c-multiple-payment-block__total-content">
					<span class="c-multiple-payment-block__total-label">KALAN</span>
					<span class="c-multiple-payment-block__total-price">00,00 <sup>TL</sup></span>
				</div>
			</div>

		</div>

	</section>

	<section>

		<div class="c-multiple-payment-block">

			<div class="c-multiple-payment-block__table">

				<div class="c-multiple-payment-block__table-head">
					<span class="c-multiple-payment-block__table-head-title">Sipariş Özeti</span>
				</div>

				<div class="c-multiple-payment-block__table-item">
					<span class="c-multiple-payment-block__table-item-label">TOPLAM ÜRÜN</span>
					<span class="c-multiple-payment-block__table-item-value">12</span>
				</div>
				<div class="c-multiple-payment-block__table-item">
					<span class="c-multiple-payment-block__table-item-label">ARA TOPLAM</span>
					<span class="c-multiple-payment-block__table-item-value">200,00 <sup>TL</sup></span>
				</div>
				<div class="c-multiple-payment-block__table-item">
					<span class="c-multiple-payment-block__table-item-label">KDV</span>
					<span class="c-multiple-payment-block__table-item-value">36,00 <sup>TL</sup></span>
				</div>
				<div class="c-multiple-payment-block__table-item">
					<span class="c-multiple-payment-block__table-item-label c-multiple-payment-block__table-item-label--strong">TOPLAM</span>
					<span class="c-multiple-payment-block__table-item-value">236,00 <sup>TL</sup></span>
				</div>
			</div>

			<div class="c-multiple-payment-block__table">

				<div class="c-multiple-payment-block__table-head">
					<span class="c-multiple-payment-block__table-head-title">Ödeme Bilgileri</span>
				</div>

				<div class="c-multiple-payment-block__table-item">
					<span class="c-multiple-payment-block__table-item-label">KREDİ KARTI <i>- Master Card *** - 4567</i></span>
					<span class="c-multiple-payment-block__table-item-value c-multiple-payment-block__table-item-value--added">- 113,20 <sup>TL</sup></span>
				</div>
				<div class="c-multiple-payment-block__table-item">
					<span class="c-multiple-payment-block__table-item-label">NAKİT</span>
					<span class="c-multiple-payment-block__table-item-value c-multiple-payment-block__table-item-value--added">- 100,00 <sup>TL</sup></span>
				</div>
				<div class="c-multiple-payment-block__table-item">
					<span class="c-multiple-payment-block__table-item-label c-multiple-payment-block__table-item-label--strong">KALAN</span>
					<span class="c-multiple-payment-block__table-item-value">0,00 <sup>TL</sup></span>
				</div>
			</div>

			<div class="c-multiple-payment-block__info-box">
				<div class="c-multiple-payment-block__info-box-content">
					<span class="c-multiple-payment-block__info-box-label">Ürün Yönlendirme Yapmak İster misiniz?</span>
					<span class="c-multiple-payment-block__info-box-value">

						<label class="c-lightswitch c-lightswitch--dark">
							<input type="checkbox">
							<div class="c-lightswitch__toggle">
								<span class="c-lightswitch__toggle-wrap"><span class="c-lightswitch__toggle-on"></span><span class="c-lightswitch__toggle-handle"></span><span class="c-lightswitch__toggle-off"></span></span>
							</div>
						</label>

					</span>
				</div>
			</div>

		</div>

	</section>

</body>
</html><!-- End Of Html -->