<div class="or-transactions">
    <div>
        <div class="p-search-container">
            <app-header-large-search inputType="refId"
                                     (onDataChange)="onInputChange($event)"
                                     (onTypeChange)="onTypeChange($event)"
                                     [isPromising]="isPromising"
                                     [options]="searchOptions.options"
                                     [placeholder]="searchOptions.placeholders"></app-header-large-search>
        </div>

        <div class="p-title-container">
            <div class="p-title-container__left">
                <!-- <h2>İşlemler <a *ngIf="!noDataInContent && !allRefunded" href="javascript:void(0)" (click)="selectAllItems($event)" style="font-size:0.6em;text-decoration:underline;">(Tümünü Seç)</a> </h2> -->
                <h2>İşlemler <app-button *ngIf="!pills[0].isActive" type="link" (clickEvent)="selectAllItems($event)" [isDisabled]="noDataInContent || allRefunded" label="Tümünü Seç" theme="secondary" style="text-decoration:underline;"></app-button> </h2>
            </div>

            <div class="p-title-container__right">
                <span class="p-title-container__right-item">
                    <app-pill-group [pills]="pills" 
                                    (selectPillFilterAction)="pillFilter($event)"
                                    [canToggle]="false"></app-pill-group>
                </span>
            </div>
        </div>

        <div class="o-placeholder--multi_selection o-placeholder--multi_selection--changepos">
            <app-multi-selection-bar [actionButtons]="actionButtons"
                                     (transistAction)="callAction($event)"
                                     (toggleSelectedItems)="selectAllItems($event)"
                                     [selectedItems]="selectedItems"
                                     [numberOfTotalItem]="transactions.length"></app-multi-selection-bar>
        </div>

        <app-no-data *ngIf="noDataInContent"
                     [ngClass]="{'main-loader': isLoading }"
                     [icon]='{type: "icon", name: "location"}'
                     [hasContainer]="true"
                     style="max-width:50%; margin-top:30px"
                     title="Aramanız ile eşleşen işlem kaydı bulunamadı"
                     description="Arama kriterini değiştirerek yeniden deneyebilirsiniz"></app-no-data>

        <div class="o-list-view" *ngIf="!noDataInContent">
            <div class="o-list-view__content">
                <app-responsive-table [ngClass]="{'main-loader': isLoading }">
                    <div class="c-responsive-table__caption row">
                        <div class="c-responsive-table__primary-column hidden-sm-down col-md-9 col-lg-6 col-xl-3">
                            <app-sort-title sortTitle='İŞLEM ID' sortBy='RefId' [activeTitle]="entityService.queryParamSubject" (toggleSortTitle)="toggleSortTitle($event)"></app-sort-title>
                        </div>
                        <div class="c-responsive-table__secondary-column hidden-sm-down col-md-7 col-lg-10 col-xl-12">
                            <div class="col-md-16 col-lg-7 col-xl-5">
                                <app-sort-title sortTitle='SATIŞ KANALI' sortBy='SalesChannel/Name' [activeTitle]="entityService.queryParamSubject" (toggleSortTitle)="toggleSortTitle($event)"></app-sort-title>
                            </div>

                            <div class="hidden-md-down col-lg-6 col-xl-4">
                                <span>MÜŞTERİ ADI</span>
                            </div>

                            <div class="hidden-md-down col-lg-3">
                                <app-sort-title sortTitle='TARİHİ' sortBy='PaymentDate' [activeTitle]="entityService.queryParamSubject" (toggleSortTitle)="toggleSortTitle($event)"></app-sort-title>
                            </div>

                            <div class="hidden-lg-down col-xl-2">
                                <app-sort-title sortTitle='BEDEL' sortBy='TotalAmount' [activeTitle]="entityService.queryParamSubject" (toggleSortTitle)="toggleSortTitle($event)"></app-sort-title>
                            </div>

                            <div class="hidden-lg-down col-xl-2">
                                <span>İŞLEM TİPİ</span>
                            </div>
                        </div>
                    </div>

                    <div class="c-responsive-table__row row" *ngFor="let transaction of transactions">
                        <div class="c-responsive-table__primary-column col-sm-16 col-md-9 col-lg-6 col-xl-3">
                            <div class="c-primary-column-line c-primary-column-line--with-select c-primary-column-line--with-avatar">
                                <div class="c-primary-column-line__primary-content">
                                    <div class="c-primary-column-line__select">
                                        <app-checkbox [isDisabled]="pills[0].isActive || transaction.isRefunded || transaction.isNotRefundable" theme="ligth" type="circle" [isChecked]="selectedItems.indexOf(transaction) > -1" (checkedAction)="selectItem($event, transaction);"></app-checkbox>
                                    </div>

                                    <a class="c-primary-column-line__title" [routerLink]="['/transaction', transaction.Id]">{{transaction.RefId}}</a>
                                    <span *ngIf="transaction.isRefunded" style="vertical-align: text-bottom;font-size: 9px;font-weight:bold;padding: 4px;background-color:#f7f7f7;">İADE EDİLMİŞ</span>
                                    <span *ngIf="transaction.isNotRefundable" style="vertical-align: text-bottom;font-size: 9px;font-weight:bold;padding: 4px;background-color:#f7f7f7;">İADE EDİLEMEZ</span>
                                </div>

                                <div class="c-primary-column-line__secondary-content">
                                    <div class="c-responsive-table__secondary-item hidden-md-up">
                                        <span class="c-responsive-table__secondary-item-label">SATIŞ KANALI</span>
                                        <span class="c-responsive-table__secondary-item-value">
                                            <span class="text-nowrap">{{transaction.SalesChannel?.Name || '-'}} / {{transaction.SalesSubChannel?.Name || '-'}}</span>
                                        </span>
                                    </div>

                                    <div class="c-responsive-table__secondary-item hidden-md-up">
                                        <span class="c-responsive-table__secondary-item-label">TERMİNAL</span>
                                        <span class="c-responsive-table__secondary-item-value">
                                            <span class="text-nowrap">{{transaction.Terminal?.Name || '-'}}</span>
                                        </span>
                                    </div>

                                    <div class="c-responsive-table__secondary-item hidden-md-up">
                                        <span class="c-responsive-table__secondary-item-label">KULLANICI</span>
                                        <span class="c-responsive-table__secondary-item-value">
                                            <span class="text-nowrap">{{transaction.User?.FirstName || '-'}} {{transaction.User?.LastName || ''}}</span>
                                        </span>
                                    </div>

                                    <div class="c-responsive-table__secondary-item hidden-lg-up">
                                        <span class="c-responsive-table__secondary-item-label">MÜŞTERİ ADI</span>
                                        <span class="c-responsive-table__secondary-item-value">{{transaction.MemberInfo?.FirstName || '-' }} {{transaction.MemberInfo?.FamilyName}}</span>
                                    </div>

                                    <div class="c-responsive-table__secondary-item hidden-lg-up">
                                        <span class="c-responsive-table__secondary-item-label">TARİHİ</span>
                                        <span class="c-responsive-table__secondary-item-value">{{transaction.PaymentDate | relativeDate}}</span>
                                    </div>

                                    <div class="c-responsive-table__secondary-item hidden-xl-up">
                                        <span class="c-responsive-table__secondary-item-label">BEDEL</span>
                                        <span class="c-responsive-table__secondary-item-value">{{transaction.TotalAmount | number:'1.2-2'}} {{transaction.Currency?.Code}}</span>
                                    </div>

                                    <div class="c-responsive-table__secondary-item hidden-xl-up">
                                        <span class="c-responsive-table__secondary-item-label">İŞLEM TİPİ</span>
                                        <span class="c-responsive-table__secondary-item-value">{{transaction.Type | enumTranslator}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="c-responsive-table__secondary-column hidden-sm-down col-md-7 col-lg-10 col-xl-12">
                            <div class="col-md-16 col-lg-7 col-xl-5">
                                <span class="text"><strong>Satış Kanalı:</strong> {{transaction.SalesChannel?.Name || '-'}} / {{transaction.SalesSubChannel?.Name || '-'}}</span>
                                <span class="c-responsive-table__sub-title"><strong>Terminal:</strong> {{transaction.Terminal?.Name || '-'}}</span>
                                <span class="c-responsive-table__sub-title"><strong>Kullanıcı:</strong> {{transaction.User?.FirstName || '-'}} {{transaction.User?.LastName || ''}}</span>
                            </div>

                            <div class="hidden-md-down col-lg-6 col-xl-4">
                                <span class="text">{{transaction.MemberInfo?.FirstName}} {{transaction.MemberInfo?.FamilyName}}</span>
                            </div>

                            <div class="hidden-md-down col-lg-3">
                                <span class="text">{{transaction.PaymentDate | relativeDate}}</span>
                            </div>

                            <div class="hidden-lg-down col-xl-2">
                                <span class="text">{{transaction.TotalAmount | number:'1.2-2'}} {{transaction.Currency?.Code}}</span>
                            </div>

                            <div class="hidden-lg-down col-xl-2">
                                <span class="text">{{transaction.Type | enumTranslator}}</span>
                            </div>
                        </div>

                        <!-- <div class="c-responsive-table__action-btn col-xl-1" (click)="openContextMenu($event,transaction)">
                            <i class="icon__n icon__n--md icon__n--more_vert"></i>
                        </div> -->
                        <div class="c-responsive-table__action-btn col-xl-1">
                            <app-button [isDisabled]="transaction.isRefunded || transaction.isNotRefundable"
                                        type="icon"
                                        icon="more_vert"
                                        theme="secondary"
                                        (clickEvent)="openContextMenu($event,transaction)"></app-button>
                        </div>
                    </div>
                </app-responsive-table>
            </div>

            <div class="o-list-view__footer">
                <app-pagination size="xs"
                                [options]="pageSizes"
                                [totalItem]="count"
                                [showItemPerPage]="pageSize"
                                [currentPage]="currentPage"
                                (changeEvent)="changePageSize($event)"
                                (transistPage)="transistPage($event)"></app-pagination>
            </div>
        </div>

    </div>
    </div>
