$c-phone-input: ( 
    height: 36px,
    font-size: 15px, 
    color: #C2C2C2,
    active-color: #21242b, 
    border-color: #dcdce5, 
    active-border-color: #2096F3, 
    error-border-color: #ec4e48, 
    border-radius: 2px,
    space: 10px,

    country-code: (
        color: #9D9D9D,
        padding: 2px 6px 2px 5px,
        font-size: 11px
    ),

    country-box: (
        padding: 20px,
        background-color: #ffffff,

        header: (
            font-size: 11px,
            color: #bdbdbd
        )
    )
);
// Merge settings and defaults
$c-phone-input: map-merge($c-phone-input, getSettingsMap("c-phone-input"));
// Set shortcuts
$c-map: $c-phone-input;

.c-phone-input {
    display: inline-block;
    width: 100%;
    line-height: 0px;

    &--disabled {
        cursor: not-allowed;
        opacity: 0.8;
        * {
            pointer-events: none;
            user-select: none;
        }
    }

    &--error:not(.c-phone-input--disabled) {
        .c-phone-input {
            &__bar {
                border-color: map-get($c-map, error-border-color);
            }
        }
    }

    &--focused {
        .c-phone-input {
            &__bar {
                border-color: map-get($c-map, active-border-color);
            }
        }
    }
    
    &__bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: solid 1px map-deep-get($c-map, border-color);
        white-space: nowrap;

        > * {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            flex-shrink: 1;
            flex-grow: 0;
            text-align: center;
        }
    }

    &__country-code {
        font-size: map-deep-get($c-map, country-code, font-size);
        & + .c-phone-input__field {
            margin-left: map-deep-get($c-map, space);
        }
        
        .c-button {
            button {
                @include ffamily('regular');
                color: map-deep-get($c-map, country-code, color);
                padding: map-deep-get($c-map, country-code, padding);
                height: auto;
            }
        }
    }

    &__field {
        flex-grow: 1;
        & + .c-phone-input__icon {
            margin-left: map-deep-get($c-map, space);
        }
    }

    &__icon {

    }

    &__country-box {
        display: block;
        width: 100%;
        padding: map-deep-get($c-map, country-box, padding);
        background-color: map-deep-get($c-map, country-box, background-color);
        box-shadow: 0px 5px 10px rgba(0,0,0,0.1);

        &-header {
            display: flex;
            align-items: center;

            &-title {
                display: flex;
                align-items: center;
                flex-grow: 1;
                flex-shrink: 0;
                @include ffamily('semi');
                font-size: map-deep-get($c-map, country-box, header, font-size);
                color: map-deep-get($c-map, country-box, header, color);
            }

            &-action {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-grow: 0;
                flex-shrink: 0;
            }
        }

        &-content {

        }
    }
}

$c-phone-input: null;
$c-map:null;
