// Set Defaults
$or-performance-cancel-block: ();
// Merge settings and defaults
$or-performance-cancel-block: map-merge($or-performance-cancel-block, getSettingsMap("or-performance-cancel-block"));
// Set shortcuts
$o-map: $or-performance-cancel-block;
.or-performance-cancel-block {
    display: block;
    .c-collapsible-container {
        min-height: 1600px !important;
    }
}

$o-map: null;