<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
	<style>
		section {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			margin: 0;
			width: 300px;
			height: 300px;
			border:1px solid grey;
		}

    .section-desc {  
      text-transform: uppercase;
      color:#fff;
      display: block;
      margin-top: 20px;
    }
	</style>
</head>
<body style="padding:20px;">

	<section>
		<button class="btn btn-primary">Primary Button</button>
	</section>
	<section>
		<button class="btn btn-secondary">Secondary Button</button>
	</section>
	<section>
		<button class="btn btn-danger">Danger Button</button>
	</section>
	<section style="background:#999; color:yellow">
		<button class="btn btn-transparent">Transparent Button</button>
    <small class="section-desc">transparent buton'un color değeri <strong>interit</strong>'tir. Wrap eden elementten rengini alır.</small>
	</section>

</body>
</html><!-- End Of Html -->