<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
</head>
<body style="padding:20px;">
	<!-- Your Component Goes Here -->

	<div class="c-modal-sub-heading" style="margin-bottom:50px">
		<h1 class="c-modal-sub-heading__text">Sanatçı Ekle</h1> <a href="#" class="c-modal-sub-heading__close icon__n icon__n--close"></a>
		<div class="c-modal-sub-heading--wizard">
			<span class="c-modal-sub-heading--wizard__text">MusicBrainz BAĞLANTISI EKLE</span>
			<span class="c-modal-sub-heading--wizard__icon"><img src="../../../images/temp/other.png" alt="" /></span>
		</div>	
	</div>

	<div class="c-modal-sub-heading">
		<h1 class="c-modal-sub-heading__text">Oturma Düzeni Ekle <a href="#" class="c-modal-sub-heading__close icon__n icon__n--close"></a></h1>
		<div class="c-modal-sub-heading--wizard">
			<a href="#" class="c-modal-sub-heading--wizard__back icon__n icon__n--navigate_before"></a>
			<span class="c-modal-sub-heading--wizard__text"><strong>ADIM 3 :</strong> EKLENEBİLİR DİĞER UNSURLAR</span>
			<span class="c-modal-sub-heading--wizard__pill"><strong>3</strong> / 3</span>
		</div>	
	</div>

</body>
</html>
<!-- End Of Html -->
