/* --------------------------------------------------------
author: Can SİVRİ
----------------------------------------------------------*/

// Set Defaults
$or-index-intro: ( wrap-width: 690px, wrap-margin: 75px auto, wrap-padding: 55px 35px 35px, wrap-text-align: center, wrap-radius-value: 3px, bg-color: #f7f7f7, border-style: 1px solid #dcdce5, text-color: #35383d);
// Merge settings and defaults
$or-index-intro: map-merge($or-index-intro, getSettingsMap("or-index-intro"));
// Set shortcuts
$o-map: $or-index-intro;
.or-index-intro {
    position: relative;
    box-sizing: border-box;
    max-width: map-get($o-map, wrap-width);
    margin: map-get($o-map, wrap-margin);
    padding: map-get($o-map, wrap-padding);
    border-radius: map-get($o-map, wrap-radius-value);
    border: map-get($o-map, border-style);
    background-color: map-get($o-map, bg-color);
    text-align: map-get($o-map, wrap-text-align);
    &__title {
        max-width: 460px;
        margin: 0 auto;
        padding: 20px 10px 5px;
        font-size: 15px;
        line-height: 22px;
        @include ffamily("bold", "i");
        color: map-get($o-map, text-color);
    }
    &__text {
        max-width: 390px;
        padding: 0 10px;
        margin: 0 auto;
        font-size: 13px;
        line-height: 19px;
        @include ffamily("regular");
        color: map-get($o-map, text-color);
    }
    &--underline {
        cursor: pointer;
        text-decoration: underline;
    }
}

$o-map: null;