<app-dialog-box>
	<div #header class="c-dialog-box__header c-dialog-box__header--padding c-dialog-box__header--border">
		<div class="c-dialog-box__header-bar">
			<h1 class="c-dialog-box__header-title">
				{{title}}
			</h1>
			<div class="c-dialog-box__header-actions">
				<app-button (click)="tetherService.dismiss()" type="icon" icon="close" theme="secondary"></app-button>
			</div>
		</div>
	</div>

	<div #body class="c-dialog-box__body c-dialog-box__body--no-padding" [ngClass]="{'main-loader': isLoading }">
		<div class="p-container">
			<div class="p-group">
				<div class="p-group__item row">
					<div class="p-formgroup">
						<!--
						<div class="p-form-group__label">
							NAME
						</div>
						-->
						<div class="p-form-group__input">
							<app-text-input type="text"
								[theme]="'underline'"
								(changeEvent)="inputChangeHandler($event, 'Name')"
								[value]="salesChannel?.Name"
								[placeholder]="'İSİM'"
								icon="edit"
							></app-text-input>
						</div>
					</div>
				</div>

				<div class="p-group__item">
					<div class="p-toggle">
						<div class="p-toggle__label">
							Aktif
						</div>
						<div class="p-toggle__input">
							<app-checkbox type="lightswitch" (changeEvent)="inputChangeHandler($event, 'IsActive')" [isChecked]="salesChannel?.IsActive"></app-checkbox>
						</div>
					</div>
				</div>

				<div class="p-group__item">
					<div class="p-toggle">
						<div class="p-toggle__label">
							Koltuk Seçimi Yapılabilir
						</div>
						<div class="p-toggle__input">
							<app-checkbox type="lightswitch" (changeEvent)="inputChangeHandler($event, 'IsSeatSelectionEnabled')" [isChecked]="salesChannel?.IsSeatSelectionEnabled"></app-checkbox>
						</div>
					</div>
				</div>

				<div class="p-group__item row">
					<div class="p-formgroup col-xs-8">
						<div class="p-form-group__label">
							SATIŞ İÇİN BLOKE SÜRESİ (SN)
						</div>
						<div class="p-form-group__input">
							<app-text-input type="number" (changeEvent)="inputChangeHandler($event, 'PurchaseTimeSeconds')" [value]="salesChannel?.PurchaseTimeSeconds"></app-text-input>
						</div>
					</div>
				</div>

				<div class="p-group__item row">
					<div class="p-formgroup col-xs-8">
						<div class="p-form-group__label">
							ÖDEME YÖNTEMİ
						</div>
						<div class="p-form-group__input">							
							<ul class="oc-add-sales-channel__payment-type-list">
								<li *ngFor="let paymentType of paymentTypes" class="oc-add-sales-channel__payment-type-list-item">
									<span class="oc-add-sales-channel__payment-type-list-item-input">
										<app-checkbox 											
											type="square" 
											(changeEvent)="paymentTypeChangedHandler($event, paymentType)" 											
											[isChecked]="paymentType.isActive"></app-checkbox>
									</span>																		
									<span class="oc-add-sales-channel__payment-type-list-item-label">
										{{ paymentType.name }}
									</span>
								</li>
							</ul>
						</div>						
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<div #footer class="c-dialog-box__footer">
		<div class="c-dialog-box__footer-content">
			<div class="col-xs-16">
				<app-button (click)="submitClickHandler($event)" [isDisabled]="!isValid" theme="primary" [label]="isEditMode ? 'SATIŞ KANALINI GÜNCELLE' : 'SATIŞ KANALI EKLE'"></app-button>
			</div>
		</div>
	</div>
</app-dialog-box>
