<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
	<script src="../../../bower_components/jquery/dist/jquery.min.js"></script>
	<style>
	html, body {
		height: 200vh;
		margin: 0;
	}
	.sample {
		position: relative;
		margin-bottom: 50px;
		width: 100%;
		height: 62px;
	}
	.sample .c-notification-bar {
		position: absolute;
	}
	</style>
</head>
<body>
	<!-- Your Component Goes Here -->

<div class="sample">
	<div class="c-notification-bar c-notification-bar--success">
		<div class="c-notification-bar__inner">
			<i class="c-notification-bar__icon icon__n icon__n--done"></i>
			<span class="c-notification-bar__text">Lorem ipsum dolor sit amet</span>
			<a href="#" class="c-notification-bar__close"><i class="icon__n icon__n--close"></i></a>
			<span class="c-notification-bar__close-timer"><strong>3 sn</strong> sonra kapanacak</span>
		</div><!-- /.c-notification-bar__inner -->
	</div><!-- /.c-notification-bar -->
</div><!-- /.sample -->

<div class="sample">
	<div class="c-notification-bar c-notification-bar--info">
		<div class="c-notification-bar__inner">
			<i class="c-notification-bar__icon icon__n icon__n--done"></i>
			<span class="c-notification-bar__text">Lorem ipsum dolor sit amet</span>
			<a href="#" class="c-notification-bar__close"><i class="icon__n icon__n--close"></i></a>
			<span class="c-notification-bar__close-timer"><strong>3 sn</strong> sonra kapanacak</span>
		</div><!-- /.c-notification-bar__inner -->
	</div><!-- /.c-notification-bar -->
</div><!-- /.sample -->

<div class="sample">
	<div class="c-notification-bar c-notification-bar--warning">
		<div class="c-notification-bar__inner">
			<i class="c-notification-bar__icon icon__n icon__n--warning"></i>
			<span class="c-notification-bar__text">Lorem ipsum dolor sit amet</span>
			<a href="#" class="c-notification-bar__close"><i class="icon__n icon__n--close"></i></a>
			<span class="c-notification-bar__close-timer"><strong>3 sn</strong> sonra kapanacak</span>
		</div><!-- /.c-notification-bar__inner -->
	</div><!-- /.c-notification-bar -->
</div><!-- /.sample -->

<div class="sample">
	<div class="c-notification-bar c-notification-bar--danger">
		<div class="c-notification-bar__inner">
			<i class="c-notification-bar__icon icon__n icon__n--error"></i>
			<span class="c-notification-bar__text">Lorem ipsum dolor sit amet</span>
			<a href="#" class="c-notification-bar__close"><i class="icon__n icon__n--close"></i></a>
			<span class="c-notification-bar__close-timer"><strong>3 sn</strong> sonra kapanacak</span>
		</div><!-- /.c-notification-bar__inner -->
	</div><!-- /.c-notification-bar -->
</div><!-- /.sample -->

<!-- Varsayılan Kullanım -->

<div class="c-notification-bar c-notification-bar--success">
	<div class="c-notification-bar__inner">
		<i class="c-notification-bar__icon icon__n icon__n--done"></i>
		<span class="c-notification-bar__text">Varsayılan Kullanım</span>
		<a href="#" class="c-notification-bar__close"><i class="icon__n icon__n--close"></i></a>
		<span class="c-notification-bar__close-timer"><strong>3 sn</strong> sonra kapanacak</span>
	</div><!-- /.c-notification-bar__inner -->
</div><!-- /.c-notification-bar -->

</body>
</html><!-- End Of Html -->
