<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="../../../css/main.css">
</head>
<body style="padding:20px;">
  <!-- Your Component Goes Here -->

  <section style="width:530px;margin:0 0 30px;">
    <div class="c-file-upload-box">
      <div class="c-file-upload-box__info">
        <div class="c-file-upload-box__info-title">Kişilerinize ait <strong>.csv</strong> dosyasını yükleyin.</div>
        <div class="c-file-upload-box__info-description"><i class="icon__n icon__n--info_outline"></i> MAX Dosya boyutu 20MB’i geçemez.</div>
      </div>
      <div class="c-file-upload-box__area">
        <i class="icon__n icon__n--attachment"></i> <i>Eklemek istediğiniz dosyayı</i> <strong>sürükleyip bırakın</strong> ya da <a href="#" class="c-file-upload-box__area-other">bilgisayarınızdan seçin</a>
      </div>
    </div><!-- end c-file-upload-box-->
  </section>

  <section style="width:530px;margin:0 0 30px;">
    <div class="c-file-upload-box">
      <div class="c-file-upload-box__info">
        <div class="c-file-upload-box__info-title">Kişilerinize ait <strong>.csv</strong> dosyasını yükleyin.</div>
        <div class="c-file-upload-box__info-description"><i class="icon__n icon__n--info_outline"></i> MAX Dosya boyutu 20MB’i geçemez.</div>
      </div>
      <div class="c-file-upload-box__area c-file-upload-box__area--file-selected">
        <i class="icon__n icon__n--attachment"></i> davetliler.csv <span class="c-file-upload-box__area-refresh"><a href="#" class="icon__n icon__n--replay"></a></span>
      </div>
    </div><!-- end c-file-upload-box-->
  </section>

  <section style="width:530px;margin:0 0 30px;">
    <div class="c-file-upload-box">
      <div class="c-file-upload-box__info">
        <div class="c-file-upload-box__info-title">Kişilerinize ait <strong>.csv</strong> dosyasını yükleyin.</div>
        <div class="c-file-upload-box__info-description"><i class="icon__n icon__n--info_outline"></i> MAX Dosya boyutu 20MB’i geçemez.</div>
      </div>
      <div class="c-file-upload-box__area c-file-upload-box__area--file-selected">
        <i class="icon__n icon__n--attachment"></i> davetlilerdavetlilerdavetlilerdavetlilerdavetlilerdavetlilerdavetlilerdavetlilerdavetlilerdavetlilerdavetlilerdavetlilerdavetlilerdavetlilerdavetliler.csv 
        <span class="c-file-upload-box__area-refresh"><a href="#" class="icon__n icon__n--replay"></a></span>
      </div>
      <div class="c-file-upload-box__progress-bar-area">
        <div class="c-file-upload-box__progress-bar-title">
          <div class="c-file-upload-box__progress-bar-label">İLERLEME DURUMU</div>
          <div class="c-file-upload-box__progress-bar-icon"><i class="icon__n icon__n--hourglass_empty"></i></div>
        </div>
        <div class="c-file-upload-box__progress-bar"><span class="c-file-upload-box__progress-bar-fill" style="width:25%;"></span></div>
        <div class="c-file-upload-box__progress-bar-info">
          <p><strong>davetliler.csv</strong> dosyaları karşıya yükleniyor</p>
          <span class="c-file-upload-box__progress-bar-value">%25</span>
        </div>
      </div>
    </div><!-- end c-file-upload-box-->
  </section>

  <section style="width:530px;margin:0 0 30px;">
    <div class="c-file-upload-box">
      <div class="c-file-upload-box__info">
        <div class="c-file-upload-box__info-title">Kişilerinize ait <strong>.csv</strong> dosyasını yükleyin.</div>
        <div class="c-file-upload-box__info-description"><i class="icon__n icon__n--info_outline"></i> MAX Dosya boyutu 20MB’i geçemez.</div>
      </div>
      <div class="c-file-upload-box__area c-file-upload-box__area--file-selected">
        <i class="icon__n icon__n--attachment"></i> davetliler.csv <span class="c-file-upload-box__area-refresh"><a href="#" class="icon__n icon__n--replay"></a></span>
      </div>
      <div class="c-file-upload-box__progress-bar-area c-file-upload-box__progress-bar-area--error">
        <div class="c-file-upload-box__progress-bar-title">
          <div class="c-file-upload-box__progress-bar-label">İLERLEME DURUMU</div>
          <div class="c-file-upload-box__progress-bar-icon">Dosya Boyutu Büyük <i class="icon__n icon__n--warning"></i></div>
        </div>
        <div class="c-file-upload-box__progress-bar"><span class="c-file-upload-box__progress-bar-fill" style="width:25%;"></span></div>
        <div class="c-file-upload-box__progress-bar-info">
          <p><strong>davetliler.csv</strong> dosyası yüklenirken hata oluştu.</p>
          <span class="c-file-upload-box__progress-bar-value">%25</span>
        </div>
      </div>
    </div><!-- end c-file-upload-box-->
  </section>

  <section style="width:530px;margin:0 0 30px;">
    <div class="c-file-upload-box">
      <div class="c-file-upload-box__info">
        <div class="c-file-upload-box__info-title">Kişilerinize ait <strong>.csv</strong> dosyasını yükleyin.</div>
        <div class="c-file-upload-box__info-description"><i class="icon__n icon__n--info_outline"></i> MAX Dosya boyutu 20MB’i geçemez.</div>
      </div>
      <div class="c-file-upload-box__area c-file-upload-box__area--file-selected">
        <i class="icon__n icon__n--attachment"></i> davetliler.csv <span class="c-file-upload-box__area-refresh"><a href="#" class="icon__n icon__n--replay"></a></span>
      </div>
      <div class="c-file-upload-box__progress-bar-area c-file-upload-box__progress-bar-area--success">
        <div class="c-file-upload-box__progress-bar-title">
          <div class="c-file-upload-box__progress-bar-label">İLERLEME DURUMU</div>
          <div class="c-file-upload-box__progress-bar-icon"><i class="icon__n icon__n--check"></i></div>
        </div>
        <div class="c-file-upload-box__progress-bar"><span class="c-file-upload-box__progress-bar-fill" style="width:100%;"></span></div>
        <div class="c-file-upload-box__progress-bar-info">
          <p><strong>davetliler.csv</strong> dosyası başarıyla yüklendi ve kullanıma hazır</p>
          <span class="c-file-upload-box__progress-bar-value">%100</span>
        </div>
      </div>
    </div><!-- end c-file-upload-box-->
  </section>


</body>
</html>
<!-- End Of Html -->
