<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Mini Card</title>
	<link rel="stylesheet" href="../../../css/main.css">
	<style>
	body { padding: 20px }
	</style>
</head>
<body>
	<!-- Your Component Goes Here -->

	
	<div class="c-mini-card-container">

		<div class="c-mini-card c-mini-card--active">
			<div class="c-mini-card__kind-icon">
				<i class="icon__n icon__n--visibility_off"></i>
			</div>
			<div class="c-mini-card__figure">
				<span class="c-avatar c-avatar--circle">
					<figure>
						<img src="http://lorempixel.com/40/40/people/2" alt="">
					</figure>
				</span>
			</div>
			<div class="c-mini-card__info">
				<strong>Kraak & Smaak Live. Powered by Lenovo</strong>
			</div>
			<div class="c-mini-card__date">
				29.10.2016, Cumartesi - 23:00
			</div>
			<div class="c-mini-card__action-area">
			</div>
		</div>
		<!--end c-mini-card-->

		<div class="c-mini-card">
			<div class="c-mini-card__kind-icon">
				<i class="icon__n icon__n--visibility_off"></i>
			</div>
			<div class="c-mini-card__figure">
				<span class="c-avatar c-avatar--circle">
					<figure>
						<img src="http://lorempixel.com/40/40/people/3" alt="">
					</figure>
				</span>
			</div>
			<div class="c-mini-card__info">
				<strong>Anathema Konseri</strong>
			</div>
			<div class="c-mini-card__date">
				29.10.2016, Cumartesi - 23:00
			</div>
			<div class="c-mini-card__action-area">
				<i class="icon__n icon__n--more_vert"></i>
			</div>
		</div>
		<!--end c-mini-card-->

		<div class="c-mini-card">
			<div class="c-mini-card__kind-icon">
				<i class="icon__n icon__n--visibility_off"></i>
			</div>
			<div class="c-mini-card__figure">
				<span class="c-avatar c-avatar--circle">
					<figure>
						<img src="http://lorempixel.com/40/40/people/4" alt="">
					</figure>
				</span>
			</div>
			<div class="c-mini-card__info">
				<strong>Anneke Van Giersbergen (feat. Hayko Çepkin)</strong>
			</div>
			<div class="c-mini-card__date">
				29.10.2016, Cumartesi - 23:00
			</div>
			<div class="c-mini-card__action-area">
				<i class="icon__n icon__n--more_vert"></i>
			</div>
		</div>
		<!--end c-mini-card-->

	</div><!--end c-mini-card-container -->

	

	<div class="c-mini-card-container">

		<div class="c-mini-card c-mini-card--active">
			<div class="c-mini-card__kind-icon">
				<i class="icon__n icon__n--dehaze"></i>
			</div>
			<div class="c-mini-card__figure">
				<span class="c-avatar c-avatar--circle">
					<figure>
						<img src="http://lorempixel.com/40/40/people/2" alt="">
					</figure>
				</span>
			</div>
			<div class="c-mini-card__info">
				<strong>Anathema</strong>
			</div>
			<div class="c-mini-card__action-area">
				<a href="#" class="c-mini-card_add-edit"><strong>SAHNE EKLE</strong> <i class="icon__n icon__n--add_circle_outline"></i></a>
				<i class="icon__n icon__n--more_vert"></i>
			</div>
		</div>
		<!--end c-mini-card-->

		<div class="c-mini-card c-mini-card--active">
			<div class="c-mini-card__kind-icon">
				<i class="icon__n icon__n--dehaze"></i>
			</div>
			<div class="c-mini-card__figure">
				<span class="c-avatar c-avatar--circle">
					<figure>
						<img src="http://lorempixel.com/40/40/people/2" alt="">
					</figure>
				</span>
			</div>
			<div class="c-mini-card__info">
				<strong>Anathema</strong>
			</div>
			<div class="c-mini-card__action-area">
				<span class="c-inline-edit c-inline-edit--editable">
					<span class="c-inline-edit__input">
						<input type="text" placeholder="Placeholder Text">
						<i class="icon__n icon__n--subdirectory_arrow_left"></i>
					</span>
				</span>
				<i class="icon__n icon__n--more_vert"></i>
			</div>
		</div>
		<!--end c-mini-card-->

		<div class="c-mini-card c-mini-card--active">
			<div class="c-mini-card__kind-icon">
				<i class="icon__n icon__n--dehaze"></i>
			</div>
			<div class="c-mini-card__figure">
				<span class="c-avatar c-avatar--circle">
					<figure>
						<img src="http://lorempixel.com/40/40/people/2" alt="">
					</figure>
				</span>
			</div>
			<div class="c-mini-card__info">
				<strong>Anathema</strong>
			</div>
			<div class="c-mini-card__action-area">
				<a href="#" class="c-mini-card_add-edit">Lorem Ipsum Dolor Sahnesi <i class="icon__n icon__n--edit"></i></a>
				<i class="icon__n icon__n--more_vert"></i>
			</div>
		</div>
		<!--end c-mini-card-->

	</div><!--end c-mini-card-container -->



</body>
</html>
<!-- End Of Html -->
