<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
  <style>
    section {
      margin:20px;
      width:240px;
      display: inline-block;
      vertical-align: top;
    }

    h3 {
      margin-bottom: 20px;
      background-color: #f7f7f7;
      padding: 15px;
    }
  </style>
</head>
<body>
	
  <section>

    <h3>c-expr-list-pager</h3>

    <div class="c-expr-list-pager">
      <a href="#" class="icon__n icon__n--keyboard_arrow_left"></a>
      <strong>EKİM 2016</strong>
      <a href="#" class="icon__n icon__n--keyboard_arrow_right"></a>
    </div>
    <!--end c-expr-list-pager-->

  </section>

</body>
</html>
