<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="../../../bower_components/pikaday/css/pikaday.css">
  <link rel="stylesheet" href="../../../css/main.css">
</head>
<body style="padding:20px;">
  <!-- Your Component Goes Here -->

  <div class="c-narrow-col-basket-item" style="width:200px">

    <div class="c-narrow-col-basket-item__title">ETKİNLİK</div>
    <div class="c-narrow-col-basket-item__sub-title">Lorem Ipsum Dolor Sit Amet</div>
    <div class="c-narrow-col-basket-item__date">16 Kasım, Çarşamba - 20:00</div>

    <ul class="c-narrow-col-basket-item__list">
      <li class="c-narrow-col-basket-item__list-item">
        <p class="c-narrow-col-basket-item__list-item-title">Lorem Ipsum Dolor Sit Amet Consectetur Bileti</p>
        <a href="#" class="c-narrow-col-basket-item__list-item-delete"><i class="icon__n icon__n--delete"></i></a>
        <div class="c-narrow-col-basket-item__list-item-action">
          <span class="c-narrow-col-basket-item__list-item-price">50,00 <sup>TL</sup></span>
          <div class="c-selectbox">
            <div class="c-selectbox__field">
              <select>
                <option>4</option>
                <option>2</option>
              </select>
            </div>
          </div>
        </div>
      </li>
      <li class="c-narrow-col-basket-item__list-item">
        <p class="c-narrow-col-basket-item__list-item-title">Lorem Ipsum Dolor Sit Amet Consectetur Bileti</p>
        <a href="#" class="c-narrow-col-basket-item__list-item-delete"><i class="icon__n icon__n--delete"></i></a>
        <div class="c-narrow-col-basket-item__list-item-action">
          <span class="c-narrow-col-basket-item__list-item-price">50,00 <sup>TL</sup></span>
        </div>
      </li>
    </ul>

  </div><!-- /.c-narrow-col-basket-item -->


</body>
</html>
<!-- End Of Html -->
