<div class="or-venue-create">
	<div class="p-header-bar" sticky sticky-main-scroller sticky-release-offset="30" sticky-height-property="55" sticky-width-property="100%" sticky-follow-menu-moves>
		<div class="p-header-bar__left">
			<app-breadcrumb [breadcrumbs]="[
				{title: 'Satış Kanalları', link: '/sales-channels'},
				{title: salesSubChannel?.Parent?.Name || '-' },
				{title: salesSubChannel?.Name },
				{title: 'Eski Terminaller'}
			]"></app-breadcrumb>
		</div>
	</div>

	<div class="row o-filter-bar">
		<div class="col-sm-8">
			<app-inline-search-input placeholder="Alt Satış Kanalı Terminalleri arasında arayın"
				[isIconAlignLeft]='true'
				(onInputSave)="onInputChange($event)"
				(onInputChange)="onInputChange($event)">
			</app-inline-search-input>
		</div>

		<div class="col-sm-8">			
			<div class="o-tab__button float-sm-right">
				<app-pill-group [pills]="pills" (selectPillFilterAction)="pillFilter($event)"></app-pill-group>			
			</div>
		</div>
		
	</div>	

	<app-no-data *ngIf="noDataInContent"
		style="max-width:50%; margin-top:30px"
		[ngClass]="{'main-loader': isLoading }"
		[icon]='{type: "icon", name: "location"}'
		[hasContainer]="true"
		[title]="'Aramanız ile eşleşen terminal bulunamadı'"
		[description]="'Arama kriterini değiştirerek yeniden deneyebilirsiniz'"
	></app-no-data>

	<div class="o-list-view" *ngIf="!noDataInContent">
		<div class="o-list-view__content">
			<app-responsive-table [ngClass]="{'main-loader': isLoading }">
				<div class="c-responsive-table__caption row">
					<div class="c-responsive-table__primary-column hidden-sm-down col-md-8">
						<app-sort-title sortTitle='ADI' sortBy='Terminal/Name' [activeTitle]="entityService.queryParamSubject" (toggleSortTitle)="toggleSortTitle($event)"></app-sort-title>
					</div>
					<div class="c-responsive-table__secondary-column hidden-sm-down col-md-8">
						<div class="col-md-6">
							<app-sort-title sortTitle='BAŞLANGIÇ TARİHİ' sortBy='BeginDate' [activeTitle]="entityService.queryParamSubject" (toggleSortTitle)="toggleSortTitle($event)"></app-sort-title>
						</div>

						<div class="col-md-6">
							<app-sort-title sortTitle='BİTİŞ TARİHİ' sortBy='EndDate' [activeTitle]="entityService.queryParamSubject" (toggleSortTitle)="toggleSortTitle($event)"></app-sort-title>
						</div>

						<div class="col-md-4">
							<app-sort-title sortTitle='AKTİF' sortBy='IsActive' [activeTitle]="entityService.queryParamSubject" (toggleSortTitle)="toggleSortTitle($event)"></app-sort-title>
						</div>
					</div>
				</div>

				<div class="c-responsive-table__row row" *ngFor="let salesSubChannelTerminal of salesSubChannelTerminals">
					<div class="c-responsive-table__primary-column col-sm-16 col-md-8">
						<div class="c-primary-column-line c-primary-column-line--with-select c-primary-column-line--with-avatar">
							<div class="c-primary-column-line__primary-content">
								<a class="c-primary-column-line__title">
								    <strong>{{salesSubChannelTerminal.Terminal?.Name}}</strong>
								</a>
							</div>

							<div class="c-primary-column-line__secondary-content">
								<div class="c-responsive-table__secondary-item hidden-md-up">
									<span class="c-responsive-table__secondary-item-label">BAŞLANGIÇ TARİHİ</span>
									<span class="c-responsive-table__secondary-item-value">{{ salesSubChannelTerminal.BeginDate | date: 'dd.MM.y HH:mm' }}</span>
								</div>

								<div class="c-responsive-table__secondary-item hidden-md-up">
									<span class="c-responsive-table__secondary-item-label">BİTİŞ TARİHİ</span>
									<span class="c-responsive-table__secondary-item-value">{{ salesSubChannelTerminal.EndDate | date: 'dd.MM.y HH:mm' }}</span>
								</div>

								<div class="c-responsive-table__secondary-item hidden-md-up">
									<span class="c-responsive-table__secondary-item-label">AKTİF</span>
									<span class="c-responsive-table__secondary-item-value">{{salesSubChannelTerminal.IsActive ? 'EVET' : 'HAYIR'}}</span>
								</div>
							</div>
						</div>
					</div>

					<div class="c-responsive-table__secondary-column hidden-sm-down col-md-8">
						<div class="col-md-6">
							<span class="text">{{ salesSubChannelTerminal.BeginDate | date: 'dd.MM.y HH:mm' }}</span>
						</div>

						<div class="col-md-6">
							<span class="text">{{ salesSubChannelTerminal.EndDate | date: 'dd.MM.y HH:mm' }}</span>
						</div>

						<div class="col-md-4">
							<span class="text">{{salesSubChannelTerminal.IsActive ? 'EVET' : 'HAYIR'}}</span>
						</div>
					</div>					
				</div>
			</app-responsive-table>
		</div>

		<div class="o-list-view__footer">
			<app-pagination size="xs"
				[options]="pageSizes"
				[totalItem]="count"
				[showItemPerPage]="pageSize"
				[currentPage]="currentPage"
				(changeEvent)="changePageSize($event)"
				(transistPage)="transistPage($event)">
			</app-pagination>
		</div>
	</div>
</div>
