<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
  <script src="../../../bower_components/jquery/dist/jquery.min.js"/>

</head>
<body>
  <div style="padding: 30px 50px 50px; background-color: #999999;">

    <div style="display: inline-block; width: 320px; margin-top: 2em; margin-right: 2em;">
      <div class="c-context-menu">

        <div class="c-context-menu__header">
          <div class="c-context-menu__header-title">
            DİĞER İÇERİKLER
          </div>
          <i class="c-context-menu__close-button icon__n icon__n--close"></i>
        </div>

        <div class="c-context-menu__content">

          <ul class="c-context-menu__list">
            <li class="c-context-menu__list-item">
              <i class="c-context-menu__list-item-icon icon__n icon__n--attach_money"></i>
              <span class="c-context-menu__list-item-label">Sponsorlar</span>
            </li>
            <li class="c-context-menu__list-item">
              <i class="c-context-menu__list-item-icon icon__n icon__n--local_offer"></i>
              <span class="c-context-menu__list-item-label">Kategoriler</span>
            </li>
            <li class="c-context-menu__list-item">
              <i class="c-context-menu__list-item-icon icon__n icon__n--queue_music"></i>
              <span class="c-context-menu__list-item-label">Tarzlar</span>
            </li>
            <li class="c-context-menu__list-item">
              <i class="c-context-menu__list-item-icon icon__n icon__n--receipt"></i>
              <span class="c-context-menu__list-item-label">Ön Tanımlı Notlar</span>
            </li>
            <li class="c-context-menu__list-item">
              <i class="c-context-menu__list-item-icon icon__n icon__n--timeline"></i>
              <span class="c-context-menu__list-item-label">Lorem Ipsum Sit Amet</span>
            </li>
          </ul>

          <div class="c-context-menu__seperator"></div>

          <ul class="c-context-menu__list c-context-menu__list--aside">
            <li class="c-context-menu__list-item">
              <span class="c-context-menu__list-item-label">Sponsorlar</span>
            </li>
            <li class="c-context-menu__list-item">
              <span class="c-context-menu__list-item-label">Kategoriler</span>
            </li>
            <li class="c-context-menu__list-item">
              <span class="c-context-menu__list-item-label">Tarzlar</span>
            </li>
          </ul>

        </div>
      </div>
    </div>

    <div style="display: inline-block; width: 260px; margin-top: 2em; margin-right: 2em;">
      <div class="c-context-menu">

        <div class="c-context-menu__header">
          <div class="c-context-menu__header-title">
            KULLANICI İŞLEMLERİ
          </div>
          <i class="c-context-menu__close-button icon__n icon__n--close"></i>
        </div>

        <div class="c-context-menu__content">

          <ul class="c-context-menu__list">
            <li class="c-context-menu__list-item">
              <i class="c-context-menu__list-item-icon icon__n icon__n--person"></i>
              <span class="c-context-menu__list-item-label">Profilim</span>
            </li>
            <li class="c-context-menu__list-item">
              <i class="c-context-menu__list-item-icon icon__n icon__n--notifications"></i>
              <span class="c-context-menu__list-item-label">Bildirimler</span>
              <span class="c-context-menu__list-item-tag"><span class="tag tag-pill tag-danger">3</span></span>
            </li>
            <li class="c-context-menu__list-item">
              <i class="c-context-menu__list-item-icon icon__n icon__n--settings"></i>
              <span class="c-context-menu__list-item-label">Ayarlar</span>
            </li>
            <li class="c-context-menu__list-item">
              <i class="c-context-menu__list-item-icon icon__n icon__n--help"></i>
              <span class="c-context-menu__list-item-label">Yardım</span>
            </li>
          </ul>

          <div class="c-context-menu__seperator"></div>

          <ul class="c-context-menu__list">
            <li class="c-context-menu__list-item">
              <i class="c-context-menu__list-item-icon icon__n icon__n--lock"></i>
              <span class="c-context-menu__list-item-label">Ekranı Kilitle</span>
            </li>
            <li class="c-context-menu__list-item">
              <i class="c-context-menu__list-item-icon icon__n icon__n--exit_to_app"></i>
              <span class="c-context-menu__list-item-label">Çıkış Yap</span>
            </li>
          </ul>

        </div>
      </div>
    </div>

    <div style="display: inline-block; width: 260px; margin-top: 2em; margin-right: 2em;">
      <div class="c-context-menu">

        <div class="c-context-menu__header">
          <div class="c-context-menu__header-title">
            SIRADIŞI UZUN BAŞLIKLAR
          </div>
          <i class="c-context-menu__close-button icon__n icon__n--close"></i>
        </div>

        <div class="c-context-menu__content">

          <ul class="c-context-menu__list">
            <li class="c-context-menu__list-item">
              <i class="c-context-menu__list-item-icon icon__n icon__n--person"></i>
              <span class="c-context-menu__list-item-label">Haşim Ahmet Abdulbaki Buğra Bahadır Nebioğulları</span>
            </li>
            <li class="c-context-menu__list-item">
              <i class="c-context-menu__list-item-icon icon__n icon__n--portrait"></i>
              <span class="c-context-menu__list-item-label">Aybike Güliz Enzel Yağmur Eflinnisa Nebioğulları</span>
            </li>

          </ul>

          <div class="c-context-menu__seperator"></div>

          <ul class="c-context-menu__list">
            <li class="c-context-menu__list-item">
              <i class="c-context-menu__list-item-icon icon__n icon__n--lock"></i>
              <span class="c-context-menu__list-item-label">Ekranı Kilitle</span>
            </li>
            <li class="c-context-menu__list-item">
              <i class="c-context-menu__list-item-icon icon__n icon__n--exit_to_app"></i>
              <span class="c-context-menu__list-item-label">Çıkış Yap</span>
            </li>
          </ul>

        </div>
      </div>
    </div>

    <div style="display: inline-block; width: 660px; margin-top: 2em; margin-right: 2em;">
      <div class="c-context-menu">

        <div class="c-context-menu__header">
          <div class="c-context-menu__header-title">
            YATAY LAYOUT
          </div>
          <i class="c-context-menu__close-button icon__n icon__n--close"></i>
        </div>

        <div class="c-context-menu__content">

          <ul class="c-context-menu__list">
            <li class="c-context-menu__list-item">
              <i class="c-context-menu__list-item-icon icon__n icon__n--person"></i>
              <span class="c-context-menu__list-item-label">Haşim Ahmet Abdulbaki Buğra Bahadır Nebioğulları</span>
            </li>
            <li class="c-context-menu__list-item">
              <i class="c-context-menu__list-item-icon icon__n icon__n--portrait"></i>
              <span class="c-context-menu__list-item-label">Aybike Güliz Enzel Yağmur Eflinnisa Nebioğulları</span>
            </li>

          </ul>

          <div class="c-context-menu__seperator"></div>

          <ul class="c-context-menu__list">
            <li class="c-context-menu__list-item">
              <i class="c-context-menu__list-item-icon icon__n icon__n--lock"></i>
              <span class="c-context-menu__list-item-label">Ekranı Kilitle</span>
            </li>
            <li class="c-context-menu__list-item">
              <i class="c-context-menu__list-item-icon icon__n icon__n--exit_to_app"></i>
              <span class="c-context-menu__list-item-label">Çıkış Yap</span>
            </li>
          </ul>

        </div>
      </div>
    </div>

  </div>
  <script>

  </script>

</body>
</html>
