<app-dialog-box [isLoading]="isLoading">

    <div #header class="c-dialog-box__header c-dialog-box__header--padding">
        <div class="c-dialog-box__header-bar">
            <h1 class="c-dialog-box__header-title">
                {{title}}
            </h1>
            <div class="c-dialog-box__header-actions">
                <app-button (click)="tetherService.dismiss()" type="icon" icon="close" theme="secondary"></app-button>
            </div>
        </div>
        <div class="c-dialog-box__header-sticky-contents">
            <app-wizard-header currentLevel={{currentLevelIndex+1}} totalLevel={{levels?.length}} (actionEvent)="wizardActionHandler($event)">
                <span><strong>{{wizardHeader.currentLevel}}. Adım: </strong>{{currentLevel?.title}}</span>
            </app-wizard-header>
        </div>
    </div>

    <div #body class="c-dialog-box__body c-dialog-box__body--no-padding" [ngSwitch]="currentLevel?.key"
        [class.c-dialog-box__body--no-scroll]="!currentLevel?.hasScroll">

        <div *ngSwitchCase="'localization'" class="p-container">
            <app-localization-box #Localization [localization]="hall?.Localization?.Name" [showWithoutBox]="true" (changeEvent)="localizationChangeHandler($event)"></app-localization-box>
        </div>
        <div *ngSwitchCase="'attributes'" class="p-container">
            <app-attributes-select-add [showWithoutBox]="true" [entityTypeId]="entityTypeId" (changeEvent)="attributesChangeHandler($event)" (actionEvent)="attributesActionHandler($event)" [type]="hallAttributeType" [checkedNodes]="attributes"></app-attributes-select-add>
        </div>
    
    </div>

    <div #footer class="c-dialog-box__footer row">
        <div class="c-dialog-box__footer-content">
            <div class="col-xs-16">
                <app-button (clickEvent)="submitClickHandler($event)" [isDisabled]="!isValid" theme="primary" label="DEVAM ET"></app-button>
            </div>
        </div>
    </div>

</app-dialog-box>