<div class="or-boxoffice-pos-status">

	<div class="or-boxoffice-pos-status__header-bar">
		<div class="row">
			<div class="col-md-5">
				<h2 class="or-boxoffice-pos-status__header-bar-title">Kasa Raporu <i class="icon__n icon__n--print"></i></h2>	    	
			</div>
			<div class="col-md-5 text-md-right">
				<app-helper-text type="info">Gün <strong>09:00</strong>’da başlar <strong>22:00</strong>’da biter.</app-helper-text>
			</div>
			<div class="col-md-3 padding-right-15">
				<app-text-input type="datepicker" size="sm-text"  placeholder="PlaceHolder"></app-text-input>
			</div>
			<div class="col-md-3">	
				<app-selectbox></app-selectbox>
			</div>
		</div>
	</div><!-- end or-boxoffice-pos-status__header-bar -->

	<div class="or-boxoffice-pos-status__result">
		<div class="or-boxoffice-pos-status__result-header">
			<span>BAŞLANGIÇ</span> 1000,00 <sup>TL</sup>
		</div><!-- end or-boxoffice-pos-status__result-header -->

		<div class="or-boxoffice-pos-status__result-body">
			<div class="or-boxoffice-pos-status__result-col">
				<div class="or-boxoffice-pos-status__result-col-caption">GİRİŞ</div>
				<div class="or-boxoffice-pos-status__result-col-entry">
				
					<ul class="or-boxoffice-pos-status__list">
						<li class="or-boxoffice-pos-status__list-item">
							<div class="or-boxoffice-pos-status__list-item-content">
								<span class="or-boxoffice-pos-status__list-item-icon"><i class="icon__n icon__n--account_balance_wallet"></i></span>
								<div class="or-boxoffice-pos-status__list-item-title">NAKİT</div>
								<div class="or-boxoffice-pos-status__list-item-value">1567,00 <sup>TL</sup></div>
							</div>
						</li>
						<li class="or-boxoffice-pos-status__list-item">
							<div class="or-boxoffice-pos-status__list-item-content">
								<span class="or-boxoffice-pos-status__list-item-icon"><i class="icon__n icon__n--credit_card"></i></span>
								<div class="or-boxoffice-pos-status__list-item-title">KREDİ KARTI</div>
								<div class="or-boxoffice-pos-status__list-item-value">2345,45 <sup>TL</sup></div>
							</div>

							<ul class="or-boxoffice-pos-status__tree">
								<li class="or-boxoffice-pos-status__tree-item">
									<div class="or-boxoffice-pos-status__tree-item-label">Nakit</div>
									<div class="or-boxoffice-pos-status__tree-item-value">345,12 <sup>TL</sup></div>
								</li>
								<li class="or-boxoffice-pos-status__tree-item">
									<div class="or-boxoffice-pos-status__tree-item-label">Taksitli Bonus</div>
									<div class="or-boxoffice-pos-status__tree-item-value">345,12 <sup>TL</sup></div>
								</li>
								<li class="or-boxoffice-pos-status__tree-item">
									<div class="or-boxoffice-pos-status__tree-item-label">Taksitli Axess</div>
									<div class="or-boxoffice-pos-status__tree-item-value">345,12 <sup>TL</sup></div>
								</li>
							</ul><!-- end or-boxoffice-pos-status__tree -->

						</li>
						<li class="or-boxoffice-pos-status__list-item">
							<div class="or-boxoffice-pos-status__list-item-content">
								<span class="or-boxoffice-pos-status__list-item-icon"><i class="icon__n icon__n--filter_none"></i></span>
								<div class="or-boxoffice-pos-status__list-item-title">BANKA HAVALESİ</div>
								<div class="or-boxoffice-pos-status__list-item-value">178,50 <sup>TL</sup></div>
							</div>
						</li>
						<li class="or-boxoffice-pos-status__list-item or-boxoffice-pos-status__list-item--footer or-boxoffice-pos-status__list-item--success">
							<div class="or-boxoffice-pos-status__list-item-content">
								<span class="or-boxoffice-pos-status__list-item-icon"><i class="icon__n icon__n--functions"></i></span>
								<div class="or-boxoffice-pos-status__list-item-title">TOPLAM</div>
								<div class="or-boxoffice-pos-status__list-item-value">4678,07 <sup>TL</sup></div>
							</div>
						</li>
					</ul>
				
				</div><!-- end or-boxoffice-pos-status__result-col-entry -->
			</div><!-- end or-boxoffice-pos-status__result-col -->

			<div class="or-boxoffice-pos-status__result-col">
				<div class="or-boxoffice-pos-status__result-col-caption">ÇIKIŞ</div>
				<div class="or-boxoffice-pos-status__result-col-entry">
				
					<ul class="or-boxoffice-pos-status__list">
						<li class="or-boxoffice-pos-status__list-item">
							<div class="or-boxoffice-pos-status__list-item-content">
								<span class="or-boxoffice-pos-status__list-item-icon"><i class="icon__n icon__n--account_balance_wallet"></i></span>
								<div class="or-boxoffice-pos-status__list-item-title">NAKİT</div>
								<div class="or-boxoffice-pos-status__list-item-value">267,00 <sup>TL</sup></div>
							</div>
						</li>
						<li class="or-boxoffice-pos-status__list-item or-boxoffice-pos-status__list-item--footer or-boxoffice-pos-status__list-item--danger">
							<div class="or-boxoffice-pos-status__list-item-content">
								<span class="or-boxoffice-pos-status__list-item-icon"><i class="icon__n icon__n--functions"></i></span>
								<div class="or-boxoffice-pos-status__list-item-title">TOPLAM</div>
								<div class="or-boxoffice-pos-status__list-item-value">267,00 <sup>TL</sup></div>
							</div>
						</li>
					</ul>
				
				</div><!-- end or-boxoffice-pos-status__result-col-entry -->
			</div><!-- end or-boxoffice-pos-status__result-col -->

		</div><!-- end or-boxoffice-pos-status__result-body -->

		<div class="or-boxoffice-pos-status__footer">
			<span>NET NAKİT</span> 1300,00 <sup>TL</sup>
		</div><!-- end or-boxoffice-pos-status__footer -->

		<div class="or-boxoffice-pos-status__sub-footer">
			<span>GENEL TOPLAM</span> 5412,07 <sup>TL</sup>
		</div><!-- end or-boxoffice-pos-status__result-header -->
	
	</div><!-- end or-boxoffice-pos-status__sub-footer -->

</div>
