<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
	<style>
		section {
			margin-bottom: 30px;
		}
	</style>
</head>
<body style="padding:20px;">

	<div class="c-simple-product-line">

		<div class="c-simple-product-line__item">

			<div class="c-simple-product-line__title">
				<div class="c-simple-product-line__checkbox">
					<div class="c-checkbox">
						<label class="c-square-checkbox c-square-checkbox--light">
							<input type="checkbox">
							<span class="c-square-checkbox__indicator"></span>
						</label>
					</div>
				</div>
				<div class="c-simple-product-line__title-name">Lorem Ipsum Dolor Sit Amet Bileti</div>
			</div><!-- end c-simple-product-line__title -->
			
			<div class="c-simple-product-line__amount">
				<span class="c-simple-product-line__amount-value">50,00 <sup>TL</sup></span>
			</div><!-- end c-simple-product-line__amount -->

		</div>
		<!--end c-simple-product-line__item-->

	</div>
	<!--end c-simple-product-line-->

	<div class="c-simple-product-line">

		<div class="c-simple-product-line__item">

			<div class="c-simple-product-line__title">
			<div class="c-simple-product-line__checkbox">
				<div class="c-checkbox">
					<label class="c-square-checkbox c-square-checkbox--light">
						<input type="checkbox">
						<span class="c-square-checkbox__indicator"></span>
					</label>
				</div>
			</div>
				<div class="c-simple-product-line__title-name">Lorem Ipsum Dolor Sit Amet Bileti</div>
			</div><!-- end c-simple-product-line__title -->
			
			<div class="c-simple-product-line__amount">
				<span class="c-simple-product-line__amount-value">50,00 <sup>TL</sup></span>
			</div><!-- end c-simple-product-line__amount -->

		</div>
		<!--end c-simple-product-line__item-->

	</div>
	<!--end c-simple-product-line-->

	<div class="c-simple-product-line c-simple-product-line--selected">

		<div class="c-simple-product-line__item">

			<div class="c-simple-product-line__title">
			<div class="c-simple-product-line__checkbox">
				<div class="c-checkbox">
					<label class="c-square-checkbox c-square-checkbox--light">
						<input type="checkbox" checked>
						<span class="c-square-checkbox__indicator"></span>
					</label>
				</div>
			</div>
				<div class="c-simple-product-line__title-name">Lorem Ipsum Dolor Sit Amet Bileti</div>
			</div><!-- end c-simple-product-line__title -->
			
			<div class="c-simple-product-line__amount">
				<span class="c-simple-product-line__amount-value">50,00 <sup>TL</sup></span>
			</div><!-- end c-simple-product-line__amount -->

		</div>
		<!--end c-simple-product-line__item-->

	</div>
	<!--end c-simple-product-line-->

</body>
</html>
