<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="../../../css/main.css">
</head>
<body style="padding:20px;">
  <!-- Your Component Goes Here -->

  <div class="c-product-customer-information" style="width:290px">
  
    <div class="c-product-customer-information__item">
      <i class="icon__n icon__n--label"></i>
      <div class="c-product-customer-information__item-text">
        Lorem Ipsum Dolor Sit Amet Bileti  - <span>50.00 <sup>TL</sup></span>
      </div>
      <span class="c-product-customer-information__item-action"><a href="#" class="icon__n icon__n--replay"></a></span>
    </div><!-- end c-product-customer-information -->
    
    <div class="c-product-customer-information__item">
      <i class="icon__n icon__n--person"></i>
      <div class="c-product-customer-information__item-text">
        Altuğ Canıtez <span class="c-product-customer-information__item-phone-number">(0532) 5554455</span>
      </div>
      <span class="c-product-customer-information__item-action"><a href="#" class="icon__n icon__n--replay"></a></span>  
    </div><!-- end c-product-customer-information -->

    <div class="c-product-customer-information__item c-product-customer-information__item--add">
      <a href="#" class="btn btn-secondary">MÜŞTERİ EKLE</a>
    </div><!-- end c-product-customer-information -->
    <div class="c-product-customer-information__other-files">
      <a href="#"><i class="icon__n icon__n--attachment"></i> <span class="c-product-customer-information__other-files--text">YA DA DOSYA YÜKLE</span></a>
    </div>
  
  </div><!-- end c-product-customer-information -->

</body>
</html>
<!-- End Of Html -->
