<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
</head>
<body style="padding:20px;">
	<!-- Your Component Goes Here -->

	<!-- Main Modal Use -->

	<div class="c-narrow-inline-feedback">
		<div class="c-narrow-inline-feedback__count">
			<i class="icon__n icon__n--person"></i>
			<span class="c-narrow-inline-feedback__count__value">0</span>
		</div>
		<h5 class="c-narrow-inline-feedback__content-title">Aramanız ile eşleşen müşteri kaydı bulunamadı</h5>
		<p class="c-narrow-inline-feedback__content-text">Arama kriterini değiştirerek yeniden deneyebilir ya da yeni müşteri ekleyebilirsiniz.</p>
	</div>



	<!-- Sidebar Use -->

	<div class="c-narrow-inline-feedback c-narrow-inline-feedback__side">
		<div class="c-narrow-inline-feedback__count">
			<i class="icon__n icon__n--ticket icon__n--45"></i>
			<span class="c-narrow-inline-feedback__count__value">0</span>
		</div>
		<h5 class="c-narrow-inline-feedback__content-title">Sepete henüz ürün eklenmemiş.</h5>
	</div>


</body>
</html><!-- End Of Html -->
