<app-dialog-box>
    <div #header class="c-dialog-box__header c-dialog-box__header--border c-dialog-box__header--padding">
        <div class="c-dialog-box__header-bar">
            <h1 class="c-dialog-box__header-title">
                {{title}}
            </h1>
            <div class="c-dialog-box__header-actions">
                <app-button (click)="tetherService.dismiss()" type="icon" icon="close" theme="secondary"></app-button>
            </div>
        </div>
    </div>
    <div #body class="c-dialog-box__body c-dialog-box__body--no-padding">
        <div class="p-container p-container">
          <form [formGroup]="componentForm">
            <div class="p-group">
                <div class="p-group__item">
                    <app-text-input #firstTextInput
                        (changeEvent)="inputChangeHandler($event, 'Name')"
                        theme="underline" placeholder="Başlık" [form]="componentForm" name="Name" [required]='true' [value]="component?.Name"></app-text-input>
                </div>
            </div>
            <div class="p-group">
                <div class="p-group__item">
                    <div class="p-formgroup">
                        <div class="p-form-group__label">
                            TEKİL İSİM
                        </div>
                        <div class="p-form-group__input">
                            <app-text-input 
                              (changeEvent)="inputChangeHandler($event, 'UniqueName')"
                              placeholder="" [value]="component?.UniqueName" [form]="componentForm" name="UniqueName" [required]='true'></app-text-input>
                        </div>
                    </div>
                </div>

                <div class="p-group__item">
                    <div class="p-formgroup">
                        <div class="p-form-group__label">
                            ÇOKLU EKLEMEYE İZİN VER
                        </div>
                        <div class="p-form-group__input">
                            <app-checkbox type="lightswitch"
                              (changeEvent)="inputChangeHandler($event, 'AllowMultiple')"
                              [form]="componentForm" name="AllowMultiple"
                              [isChecked]="component?.AllowMultiple"  ></app-checkbox>
                        </div>
                    </div>
                </div>
            </div>
          </form>
        </div>
    </div>
    <div #footer class="c-dialog-box__footer row">
        <div class="c-dialog-box__footer-content">
            <div class="col-xs-16">
                <app-button (click)="submitClickHandler($event)" [isDisabled]="!isValid" theme="primary" [label]="isEditMode ? 'DÜZENLE' : 'EKLE'"></app-button>
            </div>
        </div>
    </div>

</app-dialog-box>