$z-index: ( header: 1024, main-menu: 2000, tether-dialog: 3000, figure:1, over-figure:2, p-overlay: 100, p-full-content: 200, p-full-page: 2100, notification-bar: 4000, subheader:1023, productItem:5);
$l-vars: ( header: (height: 70px), main-menu: ( max-width: 205px, min-width: 90px));
$l-header: ( height: 70px);
$l-main-menu: ( max-width: 205px, min-width: 90px);
$l-list: ( margin: 0px 30px, margin-aside: 30px);