/**

	TODO:
	- Tüm Alanlar $color prefixi ile başlamalı
	- $color-shadow, $color-default-white,$color-text,

 */

// Main Color Pallette and Default Colors
$color-main-white: #ffffff;
$color-main-black: #000000;
$color-main-theme: #ec4e48;

$color-placeholder: red;

// Text Color Palette
$color-text-white: #fff;


// Ui General Color Palette
$color-ui-primary: $color-placeholder;
$color-ui-sidebar-bg: #35383d;
$color-ui-tab-content-bg: #f7f7f7;
$color-ui-border:#dcdce5;
$color-ui-logo-bg: #ec4e48;
$color-ui-logo-text: $color-text-white;
$color-ui-selectbox-text:#a8adaf;



// Links Color Palette


// Buttons Color Palette
