<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
</head>
<body style="padding:20px;">
	<!-- Your Component Goes Here -->

	<div class="c-content-component-card" style="margin-bottom:50px">
		<ul class="c-content-component-card__box">
			<li>
				<div class="c-content-component-card__box__item">
					<span class="c-content-component-card__label">Sayfa Kartı</span>
					<ul class="c-content-component-card__icons">
						<li><i class="icon__n icon__n--title"></i></li>
						<li><i class="icon__n icon__n--developer_board"></i></li>
						<li><i class="icon__n icon__n--videocam"></i></li>
						<li><i class="icon__n icon__n--text_fields"></i></li>
						<li><i class="icon__n icon__n--audiotrack"></i></li>
					</ul>
				</div>
			</li>

			<li>
				<div class="c-content-component-card__box__item">
					<span class="c-content-component-card__label">Program</span>
					<ul class="c-content-component-card__icons">
						<li><i class="icon__n icon__n--title"></i></li>
						<li><i class="icon__n icon__n--developer_board"></i></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</li>

			<li>
				<div class="c-content-component-card__box__item">
					<span class="c-content-component-card__label">Etkinlik Takvimi</span>
					<ul class="c-content-component-card__icons">
						<li><i class="icon__n icon__n--title"></i></li>
						<li><i class="icon__n icon__n--developer_board"></i></li>
						<li><i class="icon__n icon__n--videocam"></i></li>
						<li><i class="icon__n icon__n--text_fields"></i></li>
						<li><i class="icon__n icon__n--audiotrack"></i></li>
					</ul>
				</div>
			</li>
		</ul>

	</div>

	<div class="c-content-component-card" style="margin-bottom:50px">
		<ul class="c-content-component-card__list c-content-component-card__list--ready">
			<li>
				<div class="c-content-component-card__list-item"><i class="icon__n icon__n--developer_board"></i> <span class="c-content-component-card__text">Sayfa Kartı</span></div>
			</li>
			<li>
				<div class="c-content-component-card__list-item"><i class="icon__n icon__n--developer_board"></i> <span class="c-content-component-card__text">Program</span></div>
			</li>
			<li>
				<div class="c-content-component-card__list-item"><i class="icon__n icon__n--developer_board"></i> <span class="c-content-component-card__text">Etkinlik Takvimi</span>
			</li>
			<li>
				<div class="c-content-component-card__list-item"><i class="icon__n icon__n--developer_board"></i> <span class="c-content-component-card__text">Resim Galerisi</span>
			</li>
		</ul>
	</div>

	<div class="c-content-component-card" style="margin-bottom:50px">
		<ul class="c-content-component-card__list c-content-component-card__list--ready">
			<li>
				<div class="c-content-component-card__list-item"><i class="icon__n icon__n--title"></i> <span class="c-content-component-card__text">İçerik Başlığı</span>
			</li>
			<li>
				<div class="c-content-component-card__list-item"><i class="icon__n icon__n--title"></i> <span class="c-content-component-card__text">İçerik Alt Başlığı</span>
			</li>
			<li>
				<div class="c-content-component-card__list-item"><i class="icon__n icon__n--title"></i> <span class="c-content-component-card__text">İçerik Özeti</span>
			</li>
			<li>
				<div class="c-content-component-card__list-item"><i class="icon__n icon__n--text_fields"></i> <span class="c-content-component-card__text">İçerik Metni</span>
			</li>
			<li>
				<div class="c-content-component-card__list-item"><i class="icon__n icon__n--image"></i> <span class="c-content-component-card__text">Kapak Görseli</span>
			</li>
			<li>
				<div class="c-content-component-card__list-item"><i class="icon__n icon__n--image"></i> <span class="c-content-component-card__text">Küçük Görsel</span>
			</li>
			<li>
				<div class="c-content-component-card__list-item"><i class="icon__n icon__n--videocam"></i> <span class="c-content-component-card__text">İçerik Video</span>
			</li>
			<li>
				<div class="c-content-component-card__list-item"><i class="icon__n icon__n--audiotrack"></i> <span class="c-content-component-card__text">Artist Ön Dinleme</span>
			</li>
		</ul>
	</div>

	<div class="c-content-component-card" style="margin-bottom:50px">
		<ul class="c-content-component-card__list">
			<li>
				<div class="c-content-component-card__list-item"><i class="icon__n icon__n--title"></i> <span class="c-content-component-card__text">İçerik Başlığı</span>
			</li>
			<li>
				<div class="c-content-component-card__list-item"><i class="icon__n icon__n--title"></i> <span class="c-content-component-card__text">İçerik Alt Başlığı</span>
			</li>
			<li>
				<div class="c-content-component-card__list-item"><i class="icon__n icon__n--title"></i> <span class="c-content-component-card__text">İçerik Özeti</span>
			</li>
		</ul>
	</div>

	<div class="c-content-component-card" style="margin-bottom:50px">
		<ul class="c-content-component-card__list">
			<li>
				<div class="c-content-component-card__list-item"><i class="icon__n icon__n--title"></i> <span class="c-content-component-card__text">İçerik Başlığı</span>
			</li>
			<li>
				<div class="c-content-component-card__list-item"><i class="icon__n icon__n--title"></i> <span class="c-content-component-card__text">İçerik Alt Başlığı</span>
			</li>
			<li>
				<div class="c-content-component-card__list-item"><i class="icon__n icon__n--title"></i> <span class="c-content-component-card__text">İçerik Özeti</span>
			</li>
			<li>
				<div class="c-content-component-card__list-item"><i class="icon__n icon__n--text_fields"></i> <span class="c-content-component-card__text">İçerik Metni</span>
			</li>
			<li>
				<div class="c-content-component-card__list-item"><i class="icon__n icon__n--image"></i> <span class="c-content-component-card__text">Kapak Görseli</span>
			</li>
			<li>
				<div class="c-content-component-card__list-item"><i class="icon__n icon__n--image"></i> <span class="c-content-component-card__text">Küçük Görsel</span>
			</li>
			<li>
				<div class="c-content-component-card__list-item"><i class="icon__n icon__n--videocam"></i> <span class="c-content-component-card__text">İçerik Video</span>
			</li>
			<li>
				<div class="c-content-component-card__list-item"><i class="icon__n icon__n--audiotrack"></i> <span class="c-content-component-card__text">Artist Ön Dinleme</span>
			</li>
		</ul>
	</div>


</body>
</html><!-- End Of Html -->
