<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
</head>
<body style="padding:20px;">
	<!-- Your Component Goes Here -->

	<div class="c-feedback-form">

		<div class="c-modal-sub-heading">
			<h1 class="c-modal-sub-heading__text">Lorem Ipsum Dolor Sit Amet Etkinliğini iptal etmek istediğinizden emin misiniz?</h1> <a href="#" class="c-modal-sub-heading__close icon__n icon__n--close"></a>
		</div>

		<div class="c-feedback-form__warning">
			<p><strong>DİKKAT!</strong> İptal işlemi geri alınamaz.</p>
		</div>

		<div class="c-feedback-form__textarea">
			<label class="c-feedback-form__textarea--label">İPTAL SEBEBİ</label>
			<textarea></textarea>	
		</div>
		
		<div class="c-feedback-form__action-bar">
			<a href="#">VAZGEÇ</a>
			<button class="btn btn-danger">İPTAL ET</button>
			<button class="btn btn-flat">ERTELE</button>
		</div>

	</div>



</body>
</html><!-- End Of Html -->
