<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="../../../css/main.css">
</head>
<body style="padding:20px;">
  <!-- Your Component Goes Here -->

  <div class="c-action-box" style="width:220px">
    <h3 class="c-action-box__title">40 adet koltuk bloke edilmiş</h3>
    <p class="c-action-box__text"><strong>İptal</strong> etmek ya da <strong>satışa açmak</strong> istediğiniz koltuk adedini girin</p>
    <div class="c-action-box__input">
      <input type="text" name="text" placeholder="Koltuk Adedi" />
    </div>
    <div class="c-action-box__buttons">
      <div class="c-action-box__button">
        <a href="#" class="c-button btn btn-secondary">SATIŞA AÇ</a>
      </div>
      <div class="c-action-box__button">
        <a href="#" class="c-button btn btn-danger">İPTAL ET</a>
      </div>
    </div>
  </div><!-- end c-action-box -->

</body>
</html>
<!-- End Of Html -->
