<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
</head>
<body style="padding:20px;">
	<!-- Your Component Goes Here -->

<div style="margin-bottom: 50px">

	<h2>
		<span class="c-header-inline-edit">
			<span class="c-header-inline-edit__breadcrumb-text">Primary</span>
			<span class="c-header-inline-edit__breadcrumb-text">Secondary</span>
			<span class="c-header-inline-edit__inline-text">Text <a href="#" class="c-header-inline-edit__edit-button"><i class="icon__n icon__n--edit"></i></a></span>
			<span class="c-header-inline-edit__input"><input type="text" placeholder="Text"></span>
			<a href="#" class="c-header-inline-edit__return"><i class="icon__n icon__n--keyboard_return"></i></a>
		</span>
	</h2>

</div>

<div style="margin-bottom: 50px">

	<h2>
		<span class="c-header-inline-edit c-header-inline-edit--editable">
			<span class="c-header-inline-edit__breadcrumb-text">Primary</span>
			<span class="c-header-inline-edit__breadcrumb-text">Secondary</span>
			<span class="c-header-inline-edit__inline-text">Text <a href="#" class="c-header-inline-edit__edit-button"><i class="icon__n icon__n--edit"></i></a></span>
			<span class="c-header-inline-edit__input"><input type="text" placeholder="Placeholder Text"></span>
			<a href="#" class="c-header-inline-edit__return"><i class="icon__n icon__n--keyboard_return"></i></a>
		</span>
	</h2>

</div>

<div style="margin-bottom: 50px">

	<h2>
		<span class="c-header-inline-edit c-header-inline-edit--editable c-header-inline-edit--processing">
			<span class="c-header-inline-edit__breadcrumb-text">Primary</span>
			<span class="c-header-inline-edit__breadcrumb-text">Secondary</span>
			<span class="c-header-inline-edit__inline-text">Text <a href="#" class="c-header-inline-edit__edit-button"><i class="icon__n icon__n--edit"></i></a></span>
			<span class="c-header-inline-edit__input"><input type="text" placeholder="Text" value="Filled Text"></span>
			<a href="#" class="c-header-inline-edit__return"><i class="icon__n icon__n--keyboard_return"></i></a>
			<div class="c-promise-icon__spinner c-promise-icon__spinner--md">
				<div class="c-promise-icon__spinner-blade"></div>
				<div class="c-promise-icon__spinner-blade"></div>
				<div class="c-promise-icon__spinner-blade"></div>
				<div class="c-promise-icon__spinner-blade"></div>
				<div class="c-promise-icon__spinner-blade"></div>
				<div class="c-promise-icon__spinner-blade"></div>
				<div class="c-promise-icon__spinner-blade"></div>
				<div class="c-promise-icon__spinner-blade"></div>
				<div class="c-promise-icon__spinner-blade"></div>
				<div class="c-promise-icon__spinner-blade"></div>
				<div class="c-promise-icon__spinner-blade"></div>
				<div class="c-promise-icon__spinner-blade"></div>
			</div>
		</span>
	</h2>

</div>

<div style="margin-bottom: 50px">

	<h2>
		<span class="c-header-inline-edit c-header-inline-edit--editable c-header-inline-edit--error">
			<span class="c-header-inline-edit__breadcrumb-text">Primary</span>
			<span class="c-header-inline-edit__breadcrumb-text">Secondary</span>
			<span class="c-header-inline-edit__inline-text">Text <a href="#" class="c-header-inline-edit__edit-button"><i class="icon__n icon__n--edit"></i></a></span>
			<span class="c-header-inline-edit__input"><input type="text" placeholder="Text" value="Error Text"></span>
			<a href="#" class="c-header-inline-edit__return"><i class="icon__n icon__n--keyboard_return"></i></a>
			<div class="c-promise-icon__spinner c-promise-icon__spinner--md">
				<div class="c-promise-icon__spinner-blade"></div>
				<div class="c-promise-icon__spinner-blade"></div>
				<div class="c-promise-icon__spinner-blade"></div>
				<div class="c-promise-icon__spinner-blade"></div>
				<div class="c-promise-icon__spinner-blade"></div>
				<div class="c-promise-icon__spinner-blade"></div>
				<div class="c-promise-icon__spinner-blade"></div>
				<div class="c-promise-icon__spinner-blade"></div>
				<div class="c-promise-icon__spinner-blade"></div>
				<div class="c-promise-icon__spinner-blade"></div>
				<div class="c-promise-icon__spinner-blade"></div>
				<div class="c-promise-icon__spinner-blade"></div>
			</div>
		</span>
	</h2>

</div>

</body>
</html>
<!-- End Of Html -->
