<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Container Canvas</title>
	<link rel="stylesheet" href="../../../css/main.css">
	<style>
	body { padding: 20px }
	.sample { margin-bottom: 50px; }
	h1 { margin-bottom: 20px; }
	</style>
</head>
<body>
	<!-- Your Component Goes Here -->

<div class="sample">
	<h1>Dolgun Kenarlıklı</h1>

	<div class="c-container-canvas">
	</div><!-- /.c-container-canvas -->
</div><!-- /.sample -->

<div class="sample">
	<h1>Kesik Çizgili Kenarlık</h1>

	<div class="c-container-canvas c-container-canvas--dashed-border">
	</div><!-- /.c-container-canvas -->
</div><!-- /.sample -->


</body>
</html>
<!-- End Of Html -->
