<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
</head>
<body style="padding:20px;">
	<!-- Your Component Goes Here -->

	<div class="c-sort-view">
		<a href="#" class="c-sort-view__item c-sort-view__item--active"><i class="icon--m">view_list</i></a>
		<a href="#" class="c-sort-view__item c-sort-view__item__box"><i class="icon--m">view_module</i></a>
	</div>


</body>
</html><!-- End Of Html -->
