<div class="or-boxoffice__header full-width clearfix" [class.or-boxoffice--campaign]="isToggleOpen[1]">
    <h1>Sepet Detayı</h1>

    <app-pill-group *ngIf="!isToggleOpen[1] && result?.Campaigns != null" [theme]="'campaign'" (click)="toggle($event,1)" [pills]="[{ text: 'KAMPANYALAR',isActive:false, count: result?.Campaigns?.length , icon: 'card_giftcard'}]"></app-pill-group>
    <app-button *ngIf="isToggleOpen[1] && result?.Campaigns != null" (click)="toggle(false,1)" theme="secondary">
        <i class="icon__n icon__n--md icon__n--close"></i>
    </app-button>
    <!--<p><span>{{event.SalesBeginDate | relativeDate}} - {{event.SalesEndDate | relativeDate}} </span> / {{event.Venue}}</p>-->
    <div class="or-padding-space" *ngIf="result?.Campaigns !=null || result?.Campaigns != undefined">
        <span *ngFor="let campaign of result?.Campaigns">
              <app-campaign-monitor [errorData]="validationResult" [campaignData]="campaign" (resultEvent)="actionHandler($event)" *ngIf="isToggleOpen[1]"></app-campaign-monitor>
      </span>
    </div>

</div>
<!-- /.o-header -->
<div class="or-boxoffice__row-wrapper" *ngFor="let event of result?.Events">
    <div class="or-boxoffice__product-holder-top">
        <div class="or-boxoffice__product-holder-field-top" [class.or-boxoffice--campaign]="isToggleOpen[event.Id]">
            <div class="or-boxoffice__product-holder-bar">
                <div class="or-boxoffice__product-holder-bar-left">
                    <span class="or-boxoffice__product-holder-info-title">{{event.Name}}</span>
                </div>
                <div class="or-boxoffice__product-holder-bar-right">
                    <span><app-pill-group [isIcon]="true" *ngIf="!isToggleOpen[event.Id] && event.Campaigns != null && event.Campaigns.length > 0" [theme]="'campaign'" (click)="toggle(true,event.Id)" [pills]="[{ text: '',isActive:false, count: event?.Campaigns?.length , icon: 'card_giftcard'}]"></app-pill-group></span>
                    <span *ngIf="event?.Campaigns?.length">
                        <span class="campaign-holder" *ngFor="let eCampaign of event.Campaigns">
                            <app-campaign-monitor [errorData]="validationResult"  [campaignData]="eCampaign" (resultEvent)="actionHandler($event)" *ngIf="isToggleOpen[event.Id]"></app-campaign-monitor>
                        </span>
                    </span>
                    <span *ngIf="isToggleOpen[event.Id] && (event.Campaigns != null && event.Campaigns.length > 0)"><app-button type="icon" icon="close" (click)="toggle(false,event.Id)" theme="secondary"></app-button></span>
                    <span><app-button type="icon" size="md" theme="secondary"(click)="actionHandler({action:'goto',data: event.Id})" icon="edit"></app-button></span>
                </div>
            </div>
        </div>
    </div>

    <div class="or-boxoffice__product-holder" *ngFor="let performance of event.Performances">
        <div class="or-boxoffice__product-holder-field">
            <div class="or-boxoffice__product-holder-bar">
                <div class="or-boxoffice__product-holder-bar-left">
                    <div class="or-boxoffice__product-holder-avatar">
                        <app-avatar size="sm" [letters]="performance?.Name?.charAt(0)" source="{{performance.Images | image: 'Performance'}}"></app-avatar>
                    </div>

                    <div class="or-boxoffice__product-holder-info">
                        <span class="or-boxoffice__product-holder-info-title link" (click)="actionHandler({action:'goto',data: event.Id})">{{performance.Name}}</span>
                        <span class="or-boxoffice__product-holder-info-sub">{{performance.DateTime | relativeDate}}, {{performance.Venue}}</span>
                    </div>
                </div>
                <div class="or-boxoffice__product-holder-bar-right">
                    <span><app-pill-group [isIcon]="true" *ngIf="!isToggleOpen[performance.Id] && (performance.Campaigns != null && performance.Campaigns.length > 0)" [theme]="'campaign'" (click)="toggle(true,performance.Id)" [pills]=" [{ text: '',isActive:false, count: performance?.Campaigns?.length ,icon:'card_giftcard'}]"></app-pill-group></span>
                    <span><app-button type="icon" icon="close" *ngIf="isToggleOpen[performance.Id] && performance.Campaigns != null" (click)="toggle(false,performance.Id)" theme="secondary"></app-button></span>
                    <span *ngFor="let pCampaign of performance.Campaigns">
                        <app-campaign-monitor [campaignData]="pCampaign" (resultEvent)="actionHandler($event)" *ngIf="isToggleOpen[performance.Id]"></app-campaign-monitor>
                    </span>
                </div>
            </div>

        </div>
        <div class="or-boxoffice__product-holder-content" *ngFor="let product of performance.Products">
            <div class="or-boxoffice__product-holder-sub_info" [class.or-boxoffice--campaign]="isToggleOpen[product.Id]">
                <div class="or-boxoffice__product-holder-bar">
                    <div class="or-boxoffice__product-holder-bar-left">
                        <span class="or-boxoffice__product-holder-info-title">{{product?.AllocationType_Desc}}</span>
                    </div>
                    <div class="or-boxoffice__product-holder-bar-right">
                        <span *ngIf="product.Campaigns != null && product.Campaigns.length > 0">
                            <app-pill-group [isIcon]="true" *ngIf="!isToggleOpen[product.Id]" [theme]="'campaign'" (click)="toggle($event,product.Id)" [pills]=" [{ text: '',isActive:false, count: product?.Campaigns?.length ,icon:'card_giftcard'}]"></app-pill-group>
                            <app-button type="icon" icon="close" *ngIf="isToggleOpen[product.Id]" (click)="toggle(false,product.Id)" theme="secondary"></app-button>
                        </span>
                        <span *ngFor="let prCampaign of product.Campaigns" class="or-boxoffice--margin_fix">
                                <app-campaign-monitor [campaignData]="prCampaign" (resultEvent)="actionHandler($event)" *ngIf="isToggleOpen[product.Id]"></app-campaign-monitor>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" *ngFor="let variant of product.Variants; ">

                <app-product-item-line-boxoffice [viewOptions]="{stepper:false,ticketing:true,seatview:true}
                " [class.c-product-item-line-boxoffice--border_bottom]="isToggleOpen[variant.Id]" [isDisabled]="!variant?.IsAvailable" [name]="product.Name | concat : variant.Name:'-'" [hasContent]="true" [routeBasket]="true" [price]="variant.SubTotal.CalculatedPrices.ProductPrice"
                    [currency]="variant.Price.Currency" [event]="event" [variant]="variant" [product]="product" [maxProductCount]="maxProductCount(product)" [minProductCount]=" variant.CountOfProductsSelected > 0 ? variant.CountOfProductsSelected : 0 ">

                    <div subtitle>
                        <time>{{variant.Price?.EndDate | relativeDate}}</time>’a kadar satışta
                    </div>

                    <div campaign *ngIf="variant.Campaigns != null && variant.Campaigns.length > 0">
                        <app-pill-group [isIcon]="true" *ngIf="!isToggleOpen[variant.Id]" [theme]="'campaign'" (click)="toggle($event,variant.Id)" [pills]=" [{ text: '',isActive:false, count: variant?.Campaigns?.length ,icon:'card_giftcard'}]"></app-pill-group>
                        <app-button *ngIf="isToggleOpen[variant.Id]" (click)="toggle(false,variant.Id)" theme="secondary">
                            <i class="icon__n icon__n--md icon__n--close"></i>
                        </app-button>
                    </div>
                    <div campaign-monitor *ngIf="variant.Campaigns != null">
                        <div class="padding-top-10 padding-left-20 padding-right-20 padding-bottom-20 full-width" *ngIf="isToggleOpen[variant.Id]">
                            <span *ngFor="let vCampaign of variant.Campaigns">
                            <app-campaign-monitor [campaignData]="vCampaign" (resultEvent)="actionHandler($event)" *ngIf="isToggleOpen[variant.Id]"></app-campaign-monitor>
                            </span>
                        </div>
                    </div>

                </app-product-item-line-boxoffice>

            </div>


        </div>
        <app-basket-info-bar (actionEvent)="resultEvent($event)" [cartItem]="{state:currentState,data:result}"></app-basket-info-bar>
    </div>
</div>