<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../bower_components/pikaday/css/pikaday.css">
	<link rel="stylesheet" href="../../../css/main.css">
</head>
<body style="padding:20px;">
	<!-- Your Component Goes Here -->

  <style media="screen">
    .sample {
      margin: 100px;
      width: 205px;
      border-right: 1px solid #d1d1d1;
    }
  </style>

  <div class="sample">

    <div class="c-tree-view">
      <span class="c-tree-view__title">Title</span>
      <ul class="c-tree-view__items">
        <li><a href="#" class="c-tree-view__item">Item 1</a></li>
        <li><a href="#" class="c-tree-view__item c-tree-view__item--active">Item 2</a></li>
        <li><a href="#" class="c-tree-view__item">Item 3</a></li>
        <li><a href="#" class="c-tree-view__item">Item 4</a></li>
        <li><a href="#" class="c-tree-view__item">Item 5</a></li>
      </ul><!-- /.c-tree-view__items -->
    </div><!-- /.c-tree-view -->

  </div><!-- /.sample -->

</body>
</html>
<!-- End Of Html -->
