<!DOCTYPE html>
<html lang="tr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
	<script src="../../../bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body style="padding:20px;">
	<!-- Your Component Goes Here -->

  <div class="sample" style="width: 240px"> <!-- Örnek kapsayıcı. Master'a birleştirilirken bu div görmezden gelinecek -->

    <div class="c-narrow-col-action-offer">
      <i class="c-narrow-col-action-offer__icon icon__n icon__n--announcement"></i>
      <p class="c-narrow-col-action-offer__content"><i>Program bilgisi oluşturulmamış.</i> <b>Program bilgisini oluşturmak ister misiniz?</b></p>
      <a href="#" class="c-narrow-col-action-offer__action-link">İçerik Yönetimine Git</a>
    </div><!-- /.c-call-to-action-box -->

    <div class="c-narrow-col-action-offer c-narrow-col-action-offer--light">
      <i class="c-narrow-col-action-offer__icon icon__n icon__n--announcement"></i>
      <p class="c-narrow-col-action-offer__content"><i>Bu performans henüz ürünleştirilmedi.</i> <b>Ürünleştirmek ister misiniz?</b></p>
      <a href="#" class="c-narrow-col-action-offer__action-link">Ürünleştir</a>
    </div><!-- /.c-call-to-action-box -->

  </div>


</body>
</html><!-- End Of Html -->
