<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="../../../css/main.css">
</head>
<body style="padding:20px;">
  <!-- Your Component Goes Here -->

  <div class="c-vertical-kv-list" style="width:220px">
    <ul class="c-vertical-kv-list__section">
      <li class="c-vertical-kv-list__item">
        <div class="c-vertical-kv-list__item-dot">
          <i class="c-vertical-kv-list__item-icon" style="background-color:#6bba18"></i>
        </div>
        <span class="c-vertical-kv-list__item-label">TOPLAM KAPASİTE</span>
        <span class="c-vertical-kv-list__item-action"><a href="#" class="icon__n icon__n--replay"></a></span>
        <span class="c-vertical-kv-list__item-value">1500</span>
      </li>
      <li class="c-vertical-kv-list__item">
        <div class="c-vertical-kv-list__item-dot">
          <i class="c-vertical-kv-list__item-icon" style="background-color:#ffcc00"></i>
        </div>
        <span class="c-vertical-kv-list__item-label">SATIŞA ÇIKAN</span>
        <span class="c-vertical-kv-list__item-action"><a href="#" class="icon__n icon__n--replay"></a></span>
        <span class="c-vertical-kv-list__item-value">60</span>
      </li>
    </ul><!-- end c-vertical-kv-list -->
    <ul class="c-vertical-kv-list__section">
      <li class="c-vertical-kv-list__item">
        <div class="c-vertical-kv-list__item-dot">
          <i class="c-vertical-kv-list__item-icon" style="background-color:#6bba18"></i>
        </div>
        <span class="c-vertical-kv-list__item-label">SATILAN</span>
        <span class="c-vertical-kv-list__item-action"><a href="#" class="icon__n icon__n--replay"></a></span>
        <span class="c-vertical-kv-list__item-value">60</span>
      </li>
      <li class="c-vertical-kv-list__item c-vertical-kv-list__item--status c-vertical-kv-list__item--refresh c-vertical-kv-list__item--active">
        <div class="c-vertical-kv-list__item-dot">
          <i class="c-vertical-kv-list__item-icon" style="background-color:#ffcc00"></i>
        </div>
        <span class="c-vertical-kv-list__item-label">BLOKE</span>
        <span class="c-vertical-kv-list__item-action"><a href="#" class="icon__n icon__n--replay"></a></span>
        <span class="c-vertical-kv-list__item-value">00</span>
      </li>
      <li class="c-vertical-kv-list__item c-vertical-kv-list__item--status c-vertical-kv-list__item--refresh">
        <div class="c-vertical-kv-list__item-dot">
          <i class="c-vertical-kv-list__item-icon" style="background-color:#ec4e48"></i>
        </div>
        <span class="c-vertical-kv-list__item-label">İPTAL</span>
        <span class="c-vertical-kv-list__item-action"><a href="#" class="icon__n icon__n--replay"></a></span>
        <span class="c-vertical-kv-list__item-value">00</span>
      </li>
    </ul><!-- end c-vertical-kv-list -->
    <ul class="c-vertical-kv-list__section">
      <li class="c-vertical-kv-list__item c-vertical-kv-list__item--status">
        <div class="c-vertical-kv-list__item-dot">
          <i class="c-vertical-kv-list__item-icon" style="background-color:#6bba18"></i>
        </div>
        <span class="c-vertical-kv-list__item-label">SATILAN</span>
        <span class="c-vertical-kv-list__item-action"><a href="#" class="icon__n icon__n--replay"></a></span>
        <span class="c-vertical-kv-list__item-value">60</span>
      </li>
      <li class="c-vertical-kv-list__item c-vertical-kv-list__item--status c-vertical-kv-list__item--refresh c-vertical-kv-list__item--active">
        <div class="c-vertical-kv-list__item-dot">
          <i class="c-vertical-kv-list__item-icon" style="background-color:#ffcc00"></i>
        </div>
        <span class="c-vertical-kv-list__item-label">BLOKE</span>
        <span class="c-vertical-kv-list__item-action"><a href="#" class="icon__n icon__n--replay"></a></span>
        <span class="c-vertical-kv-list__item-value">00</span>
      </li>
      <li class="c-vertical-kv-list__item c-vertical-kv-list__item--status">
        <div class="c-vertical-kv-list__item-dot">
          <i class="c-vertical-kv-list__item-icon" style="background-color:#ec4e48"></i>
        </div>
        <span class="c-vertical-kv-list__item-label">İPTAL</span>
        <span class="c-vertical-kv-list__item-action"><a href="#" class="icon__n icon__n--replay"></a></span>
        <span class="c-vertical-kv-list__item-value">00</span>
      </li>
    </ul><!-- end c-vertical-kv-list -->
  </div>

</body>
</html>
<!-- End Of Html -->
