<app-dialog-box>
    <div #header class="c-dialog-box__header c-dialog-box__header--border c-dialog-box__header--padding">
      <div class="c-dialog-box__header-bar">
        <h1 class="c-dialog-box__header-title">Rol Grubu Seçin</h1>
  
        <div class="c-dialog-box__header-actions">
          <app-button (click)="tetherDialog.dismiss()" type="icon" icon="close" theme="secondary"></app-button>
        </div>
      </div>
    </div>

     <div #body  class="c-dialog-box__body c-dialog-box__body--no-padding">
        <div class="p-container p-container--inherit">
          <app-typeahead (actionEvent)="roleSelectActionHandler($event)"
                         (searchEvent)="roleSelectSearchHandler($event)"
                         (resultEvent)="roleSelectResultHandler($event)"
                         (dismissEvent)="roleSelectDismissHandler($event)"
                         searchPlaceholder = "Rol Grubu Ara"
                         [feedback] = '{ title: "Aramanız ile eşleşen rol grubu bulunamadı",
                                        description: "Arama kriterini değiştirerek yeniden deneyebilirsiniz.",
                                        icon: {type: "icon", name: "people"} }'
                         [searchResults] = "roleSelectSearchResults"
                         [presets] = "roleSelectSearchResults"
                         [isPromising]="isPromising"></app-typeahead>
        </div>
      </div>
  
    <div #footer class="c-dialog-box__footer row">
      <div class="c-dialog-box__footer-content">
        <div class="col-xs-16">
          <app-button (clickEvent)="submitClickHandler($event)" theme="primary" label="EKLE"></app-button>
        </div>
      </div>
    </div>
  </app-dialog-box>
  