<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
  <script src="../../../bower_components/jquery/dist/jquery.min.js"></script>


  <style>
    .theme-section {
      padding: 10px 30px
    }

    .theme-section--dark {
      background-color: #35383d;
      color: #aeaeae;
    }

    .theme-section--dark .preview-card {
      border: solid 1px #878787;
    }

    .preview-card {
      display: inline-block;
      position: relative;
      margin: 20px 20px 0px 0px;
      border: solid 1px #ececea;
      width: 540px;
      height: 260px;
      padding: 40px;
      overflow: hidden;
    }

    .preview-card__header {
      color: #acacae;
    }

    .preview-card__content {
      position: absolute;
      bottom: 40px;
      left: 40px;
      width: calc(100% - 80px);
    }
  </style>

</head>
<body>

  <div class="theme-section">

    <div class="preview-card">
      <div class="preview-card__header">
        <h3>Only Title</h3>
      </div>

      <div class="preview-card__content">

        <div class="c-primary-column-line">
            <div class="c-primary-column-line__primary-content">
              <div class="c-primary-column-line__title">
                Kraak & Smaak Live. Powered by Lenovo
              </div>
            </div>

            <div class="c-primary-column-line__secondary-content">

            </div>
        </div>

      </div>

    </div>

    <div class="preview-card">
      <div class="preview-card__header">
        <h3>Only Title</h3>
        <small>with secondary content</small>
      </div>

      <div class="preview-card__content">

        <div class="c-primary-column-line">
            <div class="c-primary-column-line__primary-content">

              <div class="c-primary-column-line__title">
                Kraak & Smaak Live. Powered by Lenovo
              </div>

            </div>

            <div class="c-primary-column-line__secondary-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam venenatis lacinia libero at lacinia. Consectetur adipiscing elit. Nam venenatis lacinia libero at lacinia.
            </div>
        </div>

      </div>

    </div>

    <div class="preview-card">
      <div class="preview-card__header">
        <h3>Title --with-select</h3>
      </div>

      <div class="preview-card__content">

        <div class="c-primary-column-line">
            <div class="c-primary-column-line__primary-content">

              <div class="c-primary-column-line__select">
                <span class="c-checkbox">
                  <input type="checkbox">
                  <span class="c-checkbox__indicator"></span>
                </span>
              </div>
              <div class="c-primary-column-line__title">
                Kraak & Smaak Live. Powered by Lenovo
              </div>

            </div>

            <div class="c-primary-column-line__secondary-content">

            </div>
        </div>

      </div>

    </div>

    <div class="preview-card">
      <div class="preview-card__header">
        <h3>Title --with-select</h3>
        <small>with secondary content</small>
      </div>

      <div class="preview-card__content">

        <div class="c-primary-column-line c-primary-column-line--with-select ">
            <div class="c-primary-column-line__primary-content">

              <div class="c-primary-column-line__select">
                <span class="c-checkbox">
                  <input type="checkbox">
                  <span class="c-checkbox__indicator"></span>
                </span>
              </div>
              <div class="c-primary-column-line__title">
                Kraak & Smaak Live. Powered by Lenovo
              </div>

            </div>

            <div class="c-primary-column-line__secondary-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam venenatis lacinia libero at lacinia. Consectetur adipiscing elit. Nam venenatis lacinia libero at lacinia.
            </div>
        </div>

      </div>

    </div>

    <div class="preview-card">
      <div class="preview-card__header">
        <h3>Title --with-avatar</h3>
      </div>

      <div class="preview-card__content">

        <div class="c-primary-column-line c-primary-column-line--with-select c-primary-column-line--with-avatar">
            <div class="c-primary-column-line__primary-content">

              <div class="c-primary-column-line__avatar">
								<span class="c-avatar c-avatar--autosize c-avatar--circle"><figure><img src="http://lorempixel.com/600/400/people/9" alt=""></figure></span>
              </div>
              <div class="c-primary-column-line__title">
                Kraak & Smaak Live. Powered by Lenovo
              </div>

            </div>

            <div class="c-primary-column-line__secondary-content">

            </div>
        </div>

      </div>

    </div>

    <div class="preview-card">
      <div class="preview-card__header">
        <h3>Title --with-avatar</h3>
        <small>with secondary content</small>
      </div>

      <div class="preview-card__content">

        <div class="c-primary-column-line c-primary-column-line--with-avatar">
            <div class="c-primary-column-line__primary-content">

              <div class="c-primary-column-line__avatar">
								<span class="c-avatar c-avatar--autosize c-avatar--circle"><figure><img src="http://lorempixel.com/600/400/people/9" alt=""></figure></span>
              </div>
              <div class="c-primary-column-line__title">
                Kraak & Smaak Live. Powered by Lenovo
              </div>

            </div>

            <div class="c-primary-column-line__secondary-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam venenatis lacinia libero at lacinia. Consectetur adipiscing elit. Nam venenatis lacinia libero at lacinia.
            </div>
        </div>

      </div>

    </div>

    <div class="preview-card">
      <div class="preview-card__header">
        <h3>Title --with-avatar --with-select</h3>
      </div>

      <div class="preview-card__content">

        <div class="c-primary-column-line">
            <div class="c-primary-column-line__primary-content">

              <div class="c-primary-column-line__select">
                <span class="c-checkbox">
                  <input type="checkbox">
                  <span class="c-checkbox__indicator"></span>
                </span>
              </div>
              <div class="c-primary-column-line__avatar">
								<span class="c-avatar c-avatar--autosize c-avatar--circle"><figure><img src="http://lorempixel.com/600/400/people/9" alt=""></figure></span>
              </div>
              <div class="c-primary-column-line__title">
                Kraak & Smaak Live. Powered by Lenovo
              </div>

            </div>

            <div class="c-primary-column-line__secondary-content">

            </div>
        </div>

      </div>

    </div>

    <div class="preview-card">
      <div class="preview-card__header">
        <h3>Title --with-avatar --with-select</h3>
        <small>with secondary content</small>
      </div>

      <div class="preview-card__content">

        <div class="c-primary-column-line c-primary-column-line--with-select c-primary-column-line--with-avatar">
            <div class="c-primary-column-line__primary-content">

              <div class="c-primary-column-line__select">
                <span class="c-checkbox">
                  <input type="checkbox">
                  <span class="c-checkbox__indicator"></span>
                </span>
              </div>
              <div class="c-primary-column-line__avatar">
                <span class="c-avatar c-avatar--autosize c-avatar--circle"><figure><img src="http://lorempixel.com/600/400/people/9" alt=""></figure></span>
              </div>
              <div class="c-primary-column-line__title">
                Kraak & Smaak Live. Powered by Lenovo
              </div>

            </div>

            <div class="c-primary-column-line__secondary-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam venenatis lacinia libero at lacinia. Consectetur adipiscing elit. Nam venenatis lacinia libero at lacinia.
            </div>
        </div>

      </div>

    </div>

    <div class="preview-card">
      <div class="preview-card__header">
        <h3>Multiline Title --with-avatar --with-select</h3>
      </div>

      <div class="preview-card__content">

        <div class="c-primary-column-line">
            <div class="c-primary-column-line__primary-content">

              <div class="c-primary-column-line__select">
                <span class="c-checkbox">
                  <input type="checkbox">
                  <span class="c-checkbox__indicator"></span>
                </span>
              </div>
              <div class="c-primary-column-line__avatar">
                <span class="c-avatar c-avatar--autosize c-avatar--circle"><figure><img src="http://lorempixel.com/600/400/people/9" alt=""></figure></span>
              </div>
              <div class="c-primary-column-line__title">
                Nam venenatis lacinia libero at lacinia. Consectetur adipiscing elit. Nam venenatis lacinia libero at lacinia. Consectetur adipiscing elit.
              </div>

            </div>

            <div class="c-primary-column-line__secondary-content">

            </div>
        </div>

      </div>

    </div>

    <div class="preview-card">
      <div class="preview-card__header">
        <h3>Multiline Title --with-avatar --with-select</h3>
        <small>with secondary content</small>
      </div>

      <div class="preview-card__content">

        <div class="c-primary-column-line c-primary-column-line--with-select c-primary-column-line--with-avatar">
            <div class="c-primary-column-line__primary-content">

              <div class="c-primary-column-line__select">
                <span class="c-checkbox">
                  <input type="checkbox">
                  <span class="c-checkbox__indicator"></span>
                </span>
              </div>
              <div class="c-primary-column-line__avatar">
                <span class="c-avatar c-avatar--autosize c-avatar--circle"><figure><img src="http://lorempixel.com/600/400/people/9" alt=""></figure></span>
              </div>
              <div class="c-primary-column-line__title">
                Nam venenatis lacinia libero at lacinia. Consectetur adipiscing elit. Nam venenatis lacinia libero at lacinia. Consectetur adipiscing elit.
              </div>

            </div>

            <div class="c-primary-column-line__secondary-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam venenatis lacinia libero at lacinia. Consectetur adipiscing elit. Nam venenatis lacinia libero at lacinia.
            </div>
        </div>

      </div>

    </div>

  </div>

  <script>

  </script>

</body>
</html>
