<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
</head>
<body style="padding:20px;">
	<!-- Your Component Goes Here -->


	<ul class="c-icon-grid">
		<li class="c-icon-grid__item">
			<div class="c-icon-grid__item-content">
				<a href="#">
					<figure><img src="../../../images/icon-grid/seating-arrangement01.jpg" alt="" /></figure>
					<span class="c-icon-grid__item__title">Spor Karşılaşması</span>
				</a>	
			</div>
		</li>
		<li class="c-icon-grid__item">
			<div class="c-icon-grid__item-content">
				<a href="#">
					<figure><img src="../../../images/icon-grid/seating-arrangement02.jpg" alt="" /></figure>
					<span class="c-icon-grid__item__title">Parti</span>
				</a>
			</div>
		</li>
		<li class="c-icon-grid__item c-icon-grid__item--selected">
			<div class="c-icon-grid__item-content">
				<a href="#">
					<figure><img src="../../../images/icon-grid/seating-arrangement03.jpg" alt="" /></figure>
					<span class="c-icon-grid__item__title">Bölümlü Koltuklar</span>
				</a>
			</div>
		</li>
		<li class="c-icon-grid__item">
			<div class="c-icon-grid__item-content">
				<a href="#">
					<figure><img src="../../../images/icon-grid/seating-arrangement04.jpg" alt="" /></figure>
					<span class="c-icon-grid__item__title">Bölümlü Koltuklar &amp; Ayakta</span>
				</a>
			</div>
		</li>
		<li class="c-icon-grid__item">
			<div class="c-icon-grid__item-content">
				<a href="#">
					<figure><img src="../../../images/icon-grid/seating-arrangement05.jpg" alt="" /></figure>
					<span class="c-icon-grid__item__title">Yemek</span>
				</a>
			</div>
		</li>
		<li class="c-icon-grid__item">
			<div class="c-icon-grid__item-content">
				<a href="#">
					<div class="c-icon-grid__item__new">
						<span class="c-add-button c-add-button"><i class="icon__n icon__n--add"></i></span>
					</div>
					<span class="c-icon-grid__item__title">Yeni Düzen</span>
				</a>
			</div>
		</li>
	</ul>


</body>
</html>
<!-- End Of Html -->
