<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
  <script src="../../../bower_components/jquery/dist/jquery.min.js"></script>
  <style>
  .sample-container {
    padding: 50px 50px;
    height: calc(100vh - 70px);
    background-color: #f7f7f7;
  }
  .sample {
    float: left;
    clear: both;
    margin-bottom: 25px;
    padding: 10px;
    background: #fff;
    border: 1px solid #d1d1d1;
  }
</style>

<div class="sample-container">
  <div class="sample" style="width: 200px">

    <span class="c-inline-edit">
      <span class="c-inline-edit__inline-text">
        <span class="c-inline-edit__inline-text-content">This is long text value and it should be override the parent's width</span>
        <a href="#" class="c-inline-edit__edit-button"><i class="icon__n icon__n--edit"></i></a>
      </span>
      <span class="c-inline-edit__input">
        <input type="text" placeholder="Placeholder Text">
        <a href="#" class="c-inline-edit__return">
          <div class="c-promise-icon c-promise-icon--autosize">
            <div class="c-promise-icon__before">
              <i class="icon__n icon__n--keyboard_return"></i>
            </div>
            <div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
            </div>
          </div>
        </a>

      </span>
    </span>

  </div><!-- /.sample -->

  <div class="sample" style="width: 250px">

    <span class="c-inline-edit c-inline-edit--editable">
      <span class="c-inline-edit__inline-text">
        <span class="c-inline-edit__inline-text-content">This is long text value and it should be override the parent's width</span>
        <a href="#" class="c-inline-edit__edit-button"><i class="icon__n icon__n--edit"></i></a>
      </span>
      <span class="c-inline-edit__input">
        <input type="text" placeholder="Placeholder Text">
        <a href="#" class="c-inline-edit__return">
          <div class="c-promise-icon c-promise-icon--autosize">
            <div class="c-promise-icon__before">
              <i class="icon__n icon__n--keyboard_return"></i>
            </div>
            <div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
            </div>
          </div>
        </a>
      </span>
    </span>

  </div><!-- /.sample -->

  <div class="sample">

    <span class="c-inline-edit c-inline-edit--editable c-inline-edit--error">
      <span class="c-inline-edit__inline-text">
        <span class="c-inline-edit__inline-text-content">This is long text value and it should be override the parent's width</span>
        <a href="#" class="c-inline-edit__edit-button"><i class="icon__n icon__n--edit"></i></a>
      </span>
      <span class="c-inline-edit__input">
        <input type="text" placeholder="Placeholder Text" value="Error">
        <a href="#" class="c-inline-edit__return">
          <div class="c-promise-icon c-promise-icon--autosize">
            <div class="c-promise-icon__before">
              <i class="icon__n icon__n--keyboard_return"></i>
            </div>
            <div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
              <div class="c-promise-icon__spinner-blade"></div>
            </div>
          </div>
        </a>
      </span>
    </span>

  </div><!-- /.sample -->
</div><!-- /.sample-container -->


</body>
</html>
