<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
  <link rel="stylesheet" href="../../../css/main.css">
</head>
<body style="padding:20px;">
	<!-- Your Component Goes Here -->

  <ul class="c-color-picker" style="width:240px">
    <li class="c-color-picker__item" style="background-color:#b3d9ff"></li>
    <li class="c-color-picker__item" style="background-color:#00ffff"></li>
    <li class="c-color-picker__item" style="background-color:#99ff33;color:#35383d;"><i class="icon__n icon__n--check"></i></li>
    <li class="c-color-picker__item" style="background-color:#f3f32e"></li>
    <li class="c-color-picker__item c-color-picker__item--disabled" style="background-color:#ffcc66;color:#fda22d;"><i class="icon__n icon__n--do_not_disturb"></i></li>
    <li class="c-color-picker__item c-color-picker__item--disabled" style="background-color:#ff99ff;color:#fb95eb;"><i class="icon__n icon__n--do_not_disturb"></i></li>
    <li class="c-color-picker__item" style="background-color:#0099ff"></li>
    <li class="c-color-picker__item" style="background-color:#00cccc"></li>
    <li class="c-color-picker__item" style="background-color:#43a104;color:#FFFFFF"><i class="icon__n icon__n--check"></i></li>
    <li class="c-color-picker__item" style="background-color:#d3b800"></li>
    <li class="c-color-picker__item" style="background-color:#ff6600"></li>
    <li class="c-color-picker__item" style="background-color:#ff00cc"></li>
    <li class="c-color-picker__item" style="background-color:#0066cc"></li>
    <li class="c-color-picker__item" style="background-color:#038383"></li>
    <li class="c-color-picker__item" style="background-color:#336633"></li>
    <li class="c-color-picker__item" style="background-color:#a27927"></li>
    <li class="c-color-picker__item" style="background-color:#cc3300"></li>
    <li class="c-color-picker__item" style="background-color:#993366"></li>
    <li class="c-color-picker__item" style="background-color:#cc99ff"></li>
    <li class="c-color-picker__item" style="background-color:#cc33ff"></li>
    <li class="c-color-picker__item c-color-picker__item--disabled" style="background-color:#9900cc;color:#972685;"><i class="icon__n icon__n--do_not_disturb"></i></li>
  </ul><!-- /.c-color-picker -->

</body>
</html>
<!-- End Of Html -->
