/**
* Narrow Vertical Kv List:
* Author: Can Sivri
*
*/

$data: 22 !default;



// Variables
$c-narrow-report-statistic: (
  bg: #fff,
  padding: 20px 15px,
  border-color: #dcdce5,
  border-radius-value: 3px,
  text-color: #333333,
  gray-color: #9d9d9d,
  progress-bar-height: 8px,
  progress-bar-bg: #eee
);

// Merge settings and defaults
$c-narrow-report-statistic: map-merge($c-narrow-report-statistic, getSettingsMap("c-narrow-report-statistic"));

// Set shortcuts
$c-map: $c-narrow-report-statistic;


.c-narrow-report-statistic {
  display: block;
  box-sizing:border-box;
  padding: map-get($c-map, padding);
  border: 1px solid map-get($c-map, border-color);
  border-radius: map-get($c-map, border-radius-value);
  background-color: map-get($c-map, bg);
  &__item {
    position: relative;
    margin-bottom: 25px;
    @include clearfix;
    &:last-child {margin-bottom:5px;}
    &-label {
      font-size: 14px;
      @include ffamily("semi");
      color: map-get($c-map, text-color);
    }
    &-progress-bar {
      position: relative;
      margin: 5px 0 8px;
      height: map-get($c-map, progress-bar-height);
      background-color: map-get($c-map, progress-bar-bg);
    }
    &-progress-bar-fill {
      position: absolute;
      top:0;
      left:0;
      height: 100%;
    }
    &-key {
      float: left;
      max-width: 155px;
      font-size: 22px;
      line-height: 22px;
      @include ffamily("bold");
      color: map-get($c-map, text-color);
    }
    &-value {
      float: right;
      font-size: 14px;
      line-height: 16px;
      @include ffamily("semi");
      color: map-get($c-map, text-color);
    }
  }
  &__list {
    position: relative;
    list-style: none;
    &--border {
      padding-top: 20px;
      border-top: 1px solid map-get($c-map, border-color);
    }
    &-item {
      display: table;
      width: 100%;
      margin-bottom: 16px;
      &:last-child {margin-bottom:0;}  
      &-label {
        display: table-cell;
        vertical-align: middle;
        padding-right: 10px;
        font-size: 11px;
        @include ffamily("semi");
        color: map-get($c-map, gray-color);
      }
      &-value {
        display: table-cell;
        vertical-align: middle;
        font-size: 16px;
        line-height: 16px;
        @include ffamily("bold");
        color: map-get($c-map, text-color);
        text-align: right;
      }
    }
  }
  &__visitor {
    padding: 28px 0 38px;
    text-align: center;
    &-count {
      font-size: 40px;
      line-height: 42px;
      @include ffamily("bold");
      color: map-get($c-map, text-color);
    }
    &-label {
      font-size: 11px;
      @include ffamily("semi");
      color: map-get($c-map, text-color);
    }
  }
  &__chart-item {
    margin-bottom: 22px;
    &-wrap {
      position: relative;
      display: table-cell;
      vertical-align: middle;
      width: 47px;
      .circle-chart {
        //&[data-line]:after {content: attr(data-line);} 
      }
      @include t--chart('.chart1', 22, 47px, 8px, #dcdce5, #fff, #2b98f0);
      @include t--chart('.chart2', 52, 47px, 8px, #dcdce5, #fff, #2b98f0);
    }
    &-text {
      display: table-cell;
      vertical-align: middle;
      padding-left: 10px;
      &-label {
        display: block;
        font-size: 14px;
        line-height: 14px;
        @include ffamily("regular");
        color: map-get($c-map, text-color);
      }
      &-value {
        display: block;
        font-size: 22px;
        line-height: 24px;
        @include ffamily("bold");
        color: map-get($c-map, text-color);
      }
    }
  }
}



