<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="../../../css/main.css">
</head>
<body style="padding:20px;">
  <!-- Your Component Goes Here -->

  <div class="c-narrow-report-statistic" style="width:220px;margin-bottom:30px;">

    <div class="c-narrow-report-statistic__visitor">
      <div class="c-narrow-report-statistic__visitor-count">14.854</div>
      <span class="c-narrow-report-statistic__visitor-label">TEKİL ZİYARETÇİ</span>
    </div>

    <ul class="c-narrow-report-statistic__list c-narrow-report-statistic__list--border">
      
      <li class="c-narrow-report-statistic__list-item">
        <span class="c-narrow-report-statistic__list-item-label">GÖRÜNTÜLEME</span>
        <span class="c-narrow-report-statistic__list-item-value">18.567</span>
      </li><!-- end c-narrow-report-statistic__list -->

    </ul><!-- end c-narrow-report-statistic__list-item -->

  </div><!-- end c-narrow-report-statistic -->


  <div class="c-narrow-report-statistic" style="width:220px;margin-bottom:30px;">

    <div class="c-narrow-report-statistic__chart-item">
      <div class="c-narrow-report-statistic__chart-item-wrap">
        <div class="circle-chart chart1" data-line="22">
          <div class="slice one"></div>
          <div class="slice two"></div>
          <div class="chart-center"></div>
        </div>
      </div><!-- end c-narrow-report-statistic__chart-circle -->
      <div class="c-narrow-report-statistic__chart-item-text">
        <span class="c-narrow-report-statistic__chart-item-text-label">Direk Erişim</span>
        <span class="c-narrow-report-statistic__chart-item-text-value">%22</span>
      </div><!-- end c-narrow-report-statistic__chart-item-text -->
    </div><!-- end c-narrow-report-statistic__chart -->

    <div class="c-narrow-report-statistic__chart-item">
      <div class="c-narrow-report-statistic__chart-item-wrap">
        <div class="circle-chart chart2" data-line="52">
          <div class="slice one"></div>
          <div class="slice two"></div>
          <div class="chart-center"></div>
        </div>
      </div><!-- end c-narrow-report-statistic__chart-circle -->
      <div class="c-narrow-report-statistic__chart-item-text">
        <span class="c-narrow-report-statistic__chart-item-text-label">Arama Sonuçları</span>
        <span class="c-narrow-report-statistic__chart-item-text-value">%52</span>
      </div><!-- end c-narrow-report-statistic__chart-item-text -->
    </div><!-- end c-narrow-report-statistic__chart -->

    <ul class="c-narrow-report-statistic__list c-narrow-report-statistic__list--border">
      
      <li class="c-narrow-report-statistic__list-item">
        <span class="c-narrow-report-statistic__list-item-label">E-MAIL</span>
        <span class="c-narrow-report-statistic__list-item-value">%2</span>
      </li><!-- end c-narrow-report-statistic__list -->

      <li class="c-narrow-report-statistic__list-item">
        <span class="c-narrow-report-statistic__list-item-label">SMS</span>
        <span class="c-narrow-report-statistic__list-item-value">%1</span>
      </li><!-- end c-narrow-report-statistic__list -->

      <li class="c-narrow-report-statistic__list-item">
        <span class="c-narrow-report-statistic__list-item-label">ANLIK BİLDİRİM</span>
        <span class="c-narrow-report-statistic__list-item-value">%2</span>
      </li><!-- end c-narrow-report-statistic__list -->

      <li class="c-narrow-report-statistic__list-item">
        <span class="c-narrow-report-statistic__list-item-label">REKLAM</span>
        <span class="c-narrow-report-statistic__list-item-value">%10</span>
      </li><!-- end c-narrow-report-statistic__list -->

    </ul><!-- end c-narrow-report-statistic__list-item -->

  </div><!-- end c-narrow-report-statistic -->


  <div class="c-narrow-report-statistic" style="width:220px;margin-bottom:30px;">

    <div class="c-narrow-report-statistic__item">
      <div class="c-narrow-report-statistic__item-label">Etkinlik Geneli Satılan Bilet</div>
      <div class="c-narrow-report-statistic__item-progress-bar"><span class="c-narrow-report-statistic__item-progress-bar-fill" style="width:54%;background-color:#ec4e48;"></span></div>
      <div class="c-narrow-report-statistic__item-key">15.570</div>
      <div class="c-narrow-report-statistic__item-value">%54</div>
    </div><!-- end c-narrow-report-statistic__item -->

  </div><!-- end c-narrow-report-statistic -->


  <div class="c-narrow-report-statistic" style="width:220px;margin-bottom:30px;">

    <div class="c-narrow-report-statistic__item">
      <div class="c-narrow-report-statistic__item-label">Two Door Cinema Club</div>
      <div class="c-narrow-report-statistic__item-progress-bar"><span class="c-narrow-report-statistic__item-progress-bar-fill" style="width:22%;background-color:#ff9aff;"></span></div>
      <div class="c-narrow-report-statistic__item-key">2779</div>
      <div class="c-narrow-report-statistic__item-value">%22</div>
    </div><!-- end c-narrow-report-statistic__item -->

    <div class="c-narrow-report-statistic__item">
      <div class="c-narrow-report-statistic__item-label">Man With a Plan</div>
      <div class="c-narrow-report-statistic__item-progress-bar"><span class="c-narrow-report-statistic__item-progress-bar-fill" style="width:33%;background-color:#54dddd;"></span></div>
      <div class="c-narrow-report-statistic__item-key">3334</div>
      <div class="c-narrow-report-statistic__item-value">%33</div>
    </div><!-- end c-narrow-report-statistic__item -->

  </div><!-- end c-narrow-report-statistic -->


  <div class="c-narrow-report-statistic" style="width:220px;margin-bottom:30px;">

    <ul class="c-narrow-report-statistic__list">
      
      <li class="c-narrow-report-statistic__list-item">
        <span class="c-narrow-report-statistic__list-item-label">OF TRANSACTIONS</span>
        <span class="c-narrow-report-statistic__list-item-value">200</span>
      </li><!-- end c-narrow-report-statistic__list -->

      <li class="c-narrow-report-statistic__list-item">
        <span class="c-narrow-report-statistic__list-item-label">OF TIX P.TRANSACTIONS</span>
        <span class="c-narrow-report-statistic__list-item-value">3,4</span>
      </li><!-- end c-narrow-report-statistic__list -->

      <li class="c-narrow-report-statistic__list-item">
        <span class="c-narrow-report-statistic__list-item-label">AVERAGE BASKET (TL)</span>
        <span class="c-narrow-report-statistic__list-item-value">100</span>
      </li><!-- end c-narrow-report-statistic__list -->

    </ul><!-- end c-narrow-report-statistic__list-item -->

  </div><!-- end c-narrow-report-statistic -->


  <div class="c-narrow-report-statistic" style="width:220px">

    <div class="c-narrow-report-statistic__item">
      <div class="c-narrow-report-statistic__item-label">HVOB</div>
      <div class="c-narrow-report-statistic__item-progress-bar"><span class="c-narrow-report-statistic__item-progress-bar-fill" style="width:85%;background-color:#43a104;"></span></div>
      <div class="c-narrow-report-statistic__item-key">2165</div>
      <div class="c-narrow-report-statistic__item-value">%85</div>
    </div><!-- end c-narrow-report-statistic__item -->

    <ul class="c-narrow-report-statistic__list c-narrow-report-statistic__list--border">
      
      <li class="c-narrow-report-statistic__list-item">
        <span class="c-narrow-report-statistic__list-item-label">OF TRANSACTIONS</span>
        <span class="c-narrow-report-statistic__list-item-value">200</span>
      </li><!-- end c-narrow-report-statistic__list -->

      <li class="c-narrow-report-statistic__list-item">
        <span class="c-narrow-report-statistic__list-item-label">OF TIX P.TRANSACTIONS</span>
        <span class="c-narrow-report-statistic__list-item-value">3,4</span>
      </li><!-- end c-narrow-report-statistic__list -->

      <li class="c-narrow-report-statistic__list-item">
        <span class="c-narrow-report-statistic__list-item-label">AVERAGE BASKET (TL)</span>
        <span class="c-narrow-report-statistic__list-item-value">100</span>
      </li><!-- end c-narrow-report-statistic__list -->


    </ul><!-- end c-narrow-report-statistic__list-item -->

  </div><!-- end c-narrow-report-statistic -->

</body>
</html>
<!-- End Of Html -->
