<div class="p-group">
    <div class="p-group__header">
        <div class="p-group__header-bar">
            <div class="p-group__header-title">
                Kapasite Bilgileri
            </div>
        </div>
    </div>
    <div class="c-reports-data-table margin-bottom-10">
        <div class="c-reports-data-table-content">
            <table class="c-reports-data-table__capacity">
                <thead>
                    <tr>
                        <th><span class="c-reports-data-table-title">PERFORMANSLAR <i class="icon__n icon__n--unfold_more"></i></span></th>
                        <th><span class="c-reports-data-table-title">UYGUN <i class="icon__n icon__n--unfold_more"></i></span></th>
                        <th><span class="c-reports-data-table-title">SATILDI <i class="icon__n icon__n--unfold_more"></i></span></th>
                        <th><span class="c-reports-data-table-title">COMP? <i class="icon__n icon__n--unfold_more"></i></span></th>
                        <th><span class="c-reports-data-table-title">SOSYAL REZERVE <i class="icon__n icon__n--unfold_more"></i></span></th>
                        <th><span class="c-reports-data-table-title">REZERVE <i class="icon__n icon__n--unfold_more"></i></span></th>
                        <th><span class="c-reports-data-table-title">BLOKE <i class="icon__n icon__n--unfold_more"></i></span></th>
                        <th><span class="c-reports-data-table-title">İPTAL <i class="icon__n icon__n--unfold_more"></i></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>Two Door Cinema Club</strong></td>
                        <td>430</td>
                        <td>2759</td>
                        <td>233</td>
                        <td>85</td>
                        <td>11</td>
                        <td>99</td>
                        <td>123</td>
                    </tr>
                    <tr>
                        <td><strong>Django Django</strong></td>
                        <td>430</td>
                        <td>2759</td>
                        <td>233</td>
                        <td>85</td>
                        <td>11</td>
                        <td>99</td>
                        <td>123</td>
                    </tr>
                    <tr>
                        <td><strong>Man With a Plan</strong></td>
                        <td>430</td>
                        <td>2759</td>
                        <td>233</td>
                        <td>85</td>
                        <td>11</td>
                        <td>99</td>
                        <td>123</td>
                    </tr>
                    <tr>
                        <td><strong>HVOB</strong></td>
                        <td>430</td>
                        <td>2759</td>
                        <td>233</td>
                        <td>85</td>
                        <td>11</td>
                        <td>99</td>
                        <td>123</td>
                    </tr>
                    <tr>
                        <td><strong>Astrofella</strong></td>
                        <td>430</td>
                        <td>2759</td>
                        <td>233</td>
                        <td>85</td>
                        <td>11</td>
                        <td>99</td>
                        <td>123</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td><strong>TOPLAM</strong></td>
                        <td><strong>2185</strong></td>
                        <td><strong>2185</strong></td>
                        <td><strong>2185</strong></td>
                        <td><strong>2185</strong></td>
                        <td><strong>2185</strong></td>
                        <td><strong>2185</strong></td>
                        <td><strong>2185</strong></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<div class="p-group">
    <div class="p-group__header">
        <div class="p-group__header-bar">
            <div class="p-group__header-title">
                Bilet Bedelleri
            </div>
        </div>
    </div>
    <div class="c-reports-data-table margin-bottom-10">
        <div class="c-reports-data-table-content">
            <table class="c-reports-data-table__price">
                <thead>
                    <tr>
                        <th colspan="3"><span class="c-reports-data-table-title">PERFORMANSLAR <i class="icon__n icon__n--unfold_more"></i></span></th>
                        <th><span class="c-reports-data-table-title">ERKEN SATIŞ</span></th>
                        <th><span class="c-reports-data-table-title">NORMAL SATIŞ</span></th>
                        <th><span class="c-reports-data-table-title">KAPI</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="4" class="c-reports-data-table-name"><strong>Two Door Cinema Club</strong></td>
                        <td rowspan="2" class="c-reports-data-table-category">Kategori 1</td>
                        <td class="c-reports-data-table-ticket">ÖĞRENCİ</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                    </tr>
                    <tr>
                        <td class="c-reports-data-table-ticket">TAM</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="c-reports-data-table-category">Kategori 2</td>
                        <td class="c-reports-data-table-ticket">TAM</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                    </tr>
                    <tr>
                        <td class="c-reports-data-table-ticket">ÖĞRENCİ</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                    </tr>
                    <tr>
                        <td rowspan="4" class="c-reports-data-table-name"><strong>Django Django</strong></td>
                        <td rowspan="2" class="c-reports-data-table-category">Kategori 1</td>
                        <td class="c-reports-data-table-ticket">ÖĞRENCİ</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                    </tr>
                    <tr>
                        <td class="c-reports-data-table-ticket">TAM</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="c-reports-data-table-category">Kategori 2</td>
                        <td class="c-reports-data-table-ticket">TAM</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                    </tr>
                    <tr>
                        <td class="c-reports-data-table-ticket">ÖĞRENCİ</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                    </tr>
                    <tr>
                        <td rowspan="4" class="c-reports-data-table-name"><strong>Man With a Plan</strong></td>
                        <td rowspan="2" class="c-reports-data-table-category">Kategori 1</td>
                        <td class="c-reports-data-table-ticket">ÖĞRENCİ</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                    </tr>
                    <tr>
                        <td class="c-reports-data-table-ticket">TAM</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="c-reports-data-table-category">Kategori 2</td>
                        <td class="c-reports-data-table-ticket">TAM</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                    </tr>
                    <tr>
                        <td class="c-reports-data-table-ticket">ÖĞRENCİ</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                    </tr>
                    <tr>
                        <td rowspan="4" class="c-reports-data-table-name"><strong>HVOB</strong></td>
                        <td rowspan="2" class="c-reports-data-table-category">Kategori 1</td>
                        <td class="c-reports-data-table-ticket">ÖĞRENCİ</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                    </tr>
                    <tr>
                        <td class="c-reports-data-table-ticket">TAM</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="c-reports-data-table-category">Kategori 2</td>
                        <td class="c-reports-data-table-ticket">TAM</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                    </tr>
                    <tr>
                        <td class="c-reports-data-table-ticket">ÖĞRENCİ</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                    </tr>
                    <tr>
                        <td rowspan="4" class="c-reports-data-table-name"><strong>Astrofella</strong></td>
                        <td rowspan="2" class="c-reports-data-table-category">Kategori 1</td>
                        <td class="c-reports-data-table-ticket">ÖĞRENCİ</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                    </tr>
                    <tr>
                        <td class="c-reports-data-table-ticket">TAM</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="c-reports-data-table-category">Kategori 2</td>
                        <td class="c-reports-data-table-ticket">TAM</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                    </tr>
                    <tr>
                        <td class="c-reports-data-table-ticket">ÖĞRENCİ</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                        <td>24.00 TRY</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="p-group">
    <div class="p-group__header">
        <div class="p-group__header-bar">
            <div class="p-group__header-title">
                Satış Kanalları
            </div>
        </div>
    </div>
    <div class="c-reports-data-table margin-bottom-10">
        <div class="c-reports-data-table-content">
            <table class="c-reports-data-table__net-sales">
                <thead>
                    <tr>
                        <th colspan="2"></th>
                        <th class="c-reports-data-table__net-sales-narrow-caption">ERKEN SATIŞ</th>
                        <th class="c-reports-data-table__net-sales-narrow-caption">NORMAL SATIŞ</th>
                        <th class="c-reports-data-table__net-sales-narrow-caption">KAPI</th>
                        <th class="c-reports-data-table__net-sales-narrow-caption">TOPLAM</th>
                        <th>GELİR</th>
                        <th>KAMPANYA İNDİRİMİ</th>
                        <th>NET GELİR</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="9" class="c-reports-data-table-name">Two Door Cinema Club</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="c-reports-data-table-category">Kategori 1</td>
                        <td class="c-reports-data-table-ticket">ÖĞRENCİ</td>
                        <td>87</td>
                        <td>87</td>
                        <td>87</td>
                        <td rowspan="2" class="c-reports-data-table-line-total">597</td>
                        <td rowspan="2">13.325,00 TRY</td>
                        <td rowspan="2"><i>-123,00 TRY</i></td>
                        <td rowspan="2"><strong>12.092,00 TRY</strong></td>
                    </tr>
                    <tr>
                        <td class="c-reports-data-table-ticket c-reports-data-table-line-border">TAM</td>
                        <td class="c-reports-data-table-line-border">87</td>
                        <td class="c-reports-data-table-line-border">87</td>
                        <td class="c-reports-data-table-line-border">87</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="c-reports-data-table-category">Kategori 2</td>
                        <td class="c-reports-data-table-ticket">ÖĞRENCİ</td>
                        <td>87</td>
                        <td>87</td>
                        <td>87</td>
                        <td rowspan="2" class="c-reports-data-table-line-total">597</td>
                        <td rowspan="2">13.325,00 TRY</td>
                        <td rowspan="2"><i>-123,00 TRY</i></td>
                        <td rowspan="2"><strong>12.092,00 TRY</strong></td>
                    </tr>
                    <tr>
                        <td class="c-reports-data-table-ticket c-reports-data-table-line-border">TAM</td>
                        <td class="c-reports-data-table-line-border">87</td>
                        <td class="c-reports-data-table-line-border">87</td>
                        <td class="c-reports-data-table-line-border">87</td>
                    </tr>
                    <tr>
                        <td colspan="9" class="c-reports-data-table-name">Django Django</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="c-reports-data-table-category">Kategori 1</td>
                        <td class="c-reports-data-table-ticket">ÖĞRENCİ</td>
                        <td>87</td>
                        <td>87</td>
                        <td>87</td>
                        <td rowspan="2" class="c-reports-data-table-line-total">597</td>
                        <td rowspan="2">13.325,00 TRY</td>
                        <td rowspan="2"><i>-123,00 TRY</i></td>
                        <td rowspan="2"><strong>12.092,00 TRY</strong></td>
                    </tr>
                    <tr>
                        <td class="c-reports-data-table-ticket c-reports-data-table-line-border">TAM</td>
                        <td class="c-reports-data-table-line-border">87</td>
                        <td class="c-reports-data-table-line-border">87</td>
                        <td class="c-reports-data-table-line-border">87</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="c-reports-data-table-category">Kategori 2</td>
                        <td class="c-reports-data-table-ticket">ÖĞRENCİ</td>
                        <td>87</td>
                        <td>87</td>
                        <td>87</td>
                        <td rowspan="2" class="c-reports-data-table-line-total">597</td>
                        <td rowspan="2">13.325,00 TRY</td>
                        <td rowspan="2"><i>-123,00 TRY</i></td>
                        <td rowspan="2"><strong>12.092,00 TRY</strong></td>
                    </tr>
                    <tr>
                        <td class="c-reports-data-table-ticket c-reports-data-table-line-border">TAM</td>
                        <td class="c-reports-data-table-line-border">87</td>
                        <td class="c-reports-data-table-line-border">87</td>
                        <td class="c-reports-data-table-line-border">87</td>
                    </tr>
                    <tr>
                        <td colspan="9" class="c-reports-data-table-name">Man With a Plan</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="c-reports-data-table-category">Kategori 1</td>
                        <td class="c-reports-data-table-ticket">ÖĞRENCİ</td>
                        <td>87</td>
                        <td>87</td>
                        <td>87</td>
                        <td rowspan="2" class="c-reports-data-table-line-total">597</td>
                        <td rowspan="2">13.325,00 TRY</td>
                        <td rowspan="2"><i>-123,00 TRY</i></td>
                        <td rowspan="2"><strong>12.092,00 TRY</strong></td>
                    </tr>
                    <tr>
                        <td class="c-reports-data-table-ticket c-reports-data-table-line-border">TAM</td>
                        <td class="c-reports-data-table-line-border">87</td>
                        <td class="c-reports-data-table-line-border">87</td>
                        <td class="c-reports-data-table-line-border">87</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="c-reports-data-table-category">Kategori 2</td>
                        <td class="c-reports-data-table-ticket">ÖĞRENCİ</td>
                        <td>87</td>
                        <td>87</td>
                        <td>87</td>
                        <td rowspan="2" class="c-reports-data-table-line-total">597</td>
                        <td rowspan="2">13.325,00 TRY</td>
                        <td rowspan="2"><i>-123,00 TRY</i></td>
                        <td rowspan="2"><strong>12.092,00 TRY</strong></td>
                    </tr>
                    <tr>
                        <td class="c-reports-data-table-ticket c-reports-data-table-line-border">TAM</td>
                        <td class="c-reports-data-table-line-border">87</td>
                        <td class="c-reports-data-table-line-border">87</td>
                        <td class="c-reports-data-table-line-border">87</td>
                    </tr>
                    <tr>
                        <td colspan="9" class="c-reports-data-table-name">HVOB</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="c-reports-data-table-category">Kategori 1</td>
                        <td class="c-reports-data-table-ticket">ÖĞRENCİ</td>
                        <td>87</td>
                        <td>87</td>
                        <td>87</td>
                        <td rowspan="2" class="c-reports-data-table-line-total">597</td>
                        <td rowspan="2">13.325,00 TRY</td>
                        <td rowspan="2"><i>-123,00 TRY</i></td>
                        <td rowspan="2"><strong>12.092,00 TRY</strong></td>
                    </tr>
                    <tr>
                        <td class="c-reports-data-table-ticket c-reports-data-table-line-border">TAM</td>
                        <td class="c-reports-data-table-line-border">87</td>
                        <td class="c-reports-data-table-line-border">87</td>
                        <td class="c-reports-data-table-line-border">87</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="c-reports-data-table-category">Kategori 2</td>
                        <td class="c-reports-data-table-ticket">ÖĞRENCİ</td>
                        <td>87</td>
                        <td>87</td>
                        <td>87</td>
                        <td rowspan="2" class="c-reports-data-table-line-total">597</td>
                        <td rowspan="2">13.325,00 TRY</td>
                        <td rowspan="2"><i>-123,00 TRY</i></td>
                        <td rowspan="2"><strong>12.092,00 TRY</strong></td>
                    </tr>
                    <tr>
                        <td class="c-reports-data-table-ticket c-reports-data-table-line-border">TAM</td>
                        <td class="c-reports-data-table-line-border">87</td>
                        <td class="c-reports-data-table-line-border">87</td>
                        <td class="c-reports-data-table-line-border">87</td>
                    </tr>
                    <tr>
                        <td colspan="9" class="c-reports-data-table-name">Astrofella</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="c-reports-data-table-category">Kategori 1</td>
                        <td class="c-reports-data-table-ticket">ÖĞRENCİ</td>
                        <td>87</td>
                        <td>87</td>
                        <td>87</td>
                        <td rowspan="2" class="c-reports-data-table-line-total">597</td>
                        <td rowspan="2">13.325,00 TRY</td>
                        <td rowspan="2"><i>-123,00 TRY</i></td>
                        <td rowspan="2"><strong>12.092,00 TRY</strong></td>
                    </tr>
                    <tr>
                        <td class="c-reports-data-table-ticket c-reports-data-table-line-border">TAM</td>
                        <td class="c-reports-data-table-line-border">87</td>
                        <td class="c-reports-data-table-line-border">87</td>
                        <td class="c-reports-data-table-line-border">87</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="c-reports-data-table-category">Kategori 2</td>
                        <td class="c-reports-data-table-ticket">ÖĞRENCİ</td>
                        <td>87</td>
                        <td>87</td>
                        <td>87</td>
                        <td rowspan="2" class="c-reports-data-table-line-total">597</td>
                        <td rowspan="2">13.325,00 TRY</td>
                        <td rowspan="2"><i>-123,00 TRY</i></td>
                        <td rowspan="2"><strong>12.092,00 TRY</strong></td>
                    </tr>
                    <tr>
                        <td class="c-reports-data-table-ticket c-reports-data-table-line-border">TAM</td>
                        <td class="c-reports-data-table-line-border">87</td>
                        <td class="c-reports-data-table-line-border">87</td>
                        <td class="c-reports-data-table-line-border">87</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="9" class="c-reports-data-table-name">TOPLAM</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="c-reports-data-table-category">Tüm Kategoriler</td>
                        <td class="c-reports-data-table-ticket">ÖĞRENCİ</td>
                        <td>87</td>
                        <td>87</td>
                        <td>87</td>
                        <td rowspan="2" class="c-reports-data-table-line-total">597</td>
                        <td rowspan="2">13.325,00 TRY</td>
                        <td rowspan="2"><i>-123,00 TRY</i></td>
                        <td rowspan="2"><strong>12.092,00 TRY</strong></td>
                    </tr>
                    <tr>
                        <td class="c-reports-data-table-ticket c-reports-data-table-line-border">TAM</td>
                        <td class="c-reports-data-table-line-border">87</td>
                        <td class="c-reports-data-table-line-border">87</td>
                        <td class="c-reports-data-table-line-border">87</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div class="c-reports-data-table margin-bottom-10">
    <div class="c-reports-data-table-content">
        <table class="c-reports-data-table__sales-channel-navigation">
            <tr>
                <td class="c-reports-data-table__sales-channel-navigation-cell">
                    <table class="c-reports-data-table-title-list">
                        <tbody>
                            <tr>
                                <td rowspan="7" class="c-reports-data-table-category">Online</td>
                                <td rowspan="3" class="c-reports-data-table-sub-category">Mobilet</td>
                                <td class="c-reports-data-table-ticket">WEB</td>
                            </tr>
                            <tr>
                                <td class="c-reports-data-table-ticket">APP</td>
                            </tr>
                            <tr class="c-reports-data-table-line-border">
                                <td class="c-reports-data-table-ticket">BUTTON</td>
                            </tr>
                            <tr>
                                <td rowspan="4" class="c-reports-data-table-sub-category">Entegrators</td>
                                <td class="c-reports-data-table-ticket">ZUBIZU</td>
                            </tr>
                            <tr>
                                <td class="c-reports-data-table-ticket">FIZY</td>
                            </tr>
                            <tr>
                                <td class="c-reports-data-table-ticket">GARANTI ONE</td>
                            </tr>
                            <tr class="c-reports-data-table-line-border">
                                <td class="c-reports-data-table-ticket">GARANTI ATM</td>
                            </tr>
                            <tr>
                                <td rowspan="3" class="c-reports-data-table-category">Fiziksel</td>
                                <td rowspan="2" class="c-reports-data-table-sub-category">Mobilet</td>
                                <td class="c-reports-data-table-ticket">TICKET OFFICE</td>
                            </tr>
                            <tr class="c-reports-data-table-line-border">
                                <td class="c-reports-data-table-ticket">KIOSK</td>
                            </tr>
                            <tr>
                                <td class="c-reports-data-table-sub-category">Promoter</td>
                                <td class="c-reports-data-table-ticket">BOX OFFICE</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- end c-reports-data-table-title-list -->
                </td>
                <td class="c-reports-data-table__sales-channel-navigation-cell">

                    <div [ngSwitch]="tableLevel">
                        <table *ngSwitchCase="1" class="c-reports-data-table-list">
                            <thead>
                                <tr>
                                    <th>Two Door Cinema Club Kon...</th>
                                    <th>Django Django</th>
                                    <th>Man With a Plan</th>
                                    <th>HVOB</th>
                                    <th>Astrofella</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                </tr>
                                <tr>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                </tr>
                                <tr class="c-reports-data-table-line-border">
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                </tr>
                                <tr>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                </tr>
                                <tr>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                </tr>
                                <tr>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                </tr>
                                <tr class="c-reports-data-table-line-border">
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                </tr>
                                <tr>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                </tr>
                                <tr class="c-reports-data-table-line-border">
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                </tr>
                                <tr>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                </tr>
                            </tbody>
                        </table>
                        <table *ngSwitchCase="2" class="c-reports-data-table-list">
                            <thead>
                                <tr>
                                    <th>Two Door Cinema Club Kon...</th>
                                    <th>Django Django</th>
                                    <th>Man With a Plan</th>
                                    <th>HVOB</th>
                                    <th>Astrofella</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                </tr>
                                <tr>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                </tr>
                                <tr class="c-reports-data-table-line-border">
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                </tr>
                                <tr>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                </tr>
                                <tr>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                </tr>
                                <tr>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                </tr>
                                <tr class="c-reports-data-table-line-border">
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                </tr>
                                <tr>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                </tr>
                                <tr class="c-reports-data-table-line-border">
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                </tr>
                                <tr>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- end c-reports-data-table-list -->
                    <div class="c-reports-data-table-nav">
                        <span class="c-reports-data-table-nav-prev" (click)="movePrev()"><i class="icon__n icon__n--keyboard_arrow_left"></i></span>
                        <span class="c-reports-data-table-nav-next" (click)="moveNext()"><i class="icon__n icon__n--keyboard_arrow_right"></i></span>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</div>


<div class="c-reports-data-table">
    <div class="c-reports-data-table-content">
        <table class="c-reports-data-table-date">
            <tr>
                <td class="c-reports-data-table-date-cell">
                    <table class="c-reports-data-table-date-label">
                        <thead>
                            <tr>
                                <th><span class="c-reports-data-table-title">PERFORMANSLAR <i class="icon__n icon__n--unfold_more"></i></span></th>
                                <th>ÖNCE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="c-reports-data-table-name">Two Door Cinema Club</td>
                                <td>399</td>
                            </tr>
                            <tr>
                                <td class="c-reports-data-table-name">Django Django</td>
                                <td>399</td>
                            </tr>
                            <tr>
                                <td class="c-reports-data-table-name">Man With a Plan</td>
                                <td>399</td>
                            </tr>
                            <tr>
                                <td class="c-reports-data-table-name">HVOB</td>
                                <td>399</td>
                            </tr>
                            <tr>
                                <td class="c-reports-data-table-name">Astrofella</td>
                                <td>399</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- end c-reports-data-table-date-label -->
                </td>
                <td class="c-reports-data-table-date-cell">
                    <table class="c-reports-data-table-date-content">
                        <thead>
                            <tr>
                                <th>15/06 <i>Pzt</i></th>
                                <th>16/06 <i>Salı</i></th>
                                <th>17/06 <i>Çrş</i></th>
                                <th>18/06 <i>Prş</i></th>
                                <th>19/06 <i>Cum</i></th>
                                <th>20/06 <i>Cts</i></th>
                                <th>21/06 <i>Pzr</i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>399</td>
                                <td>399</td>
                                <td>399</td>
                                <td>399</td>
                                <td>399</td>
                                <td>399</td>
                                <td>399</td>
                            </tr>
                            <tr>
                                <td>399</td>
                                <td>399</td>
                                <td>399</td>
                                <td>399</td>
                                <td>399</td>
                                <td>399</td>
                                <td>399</td>
                            </tr>
                            <tr>
                                <td>399</td>
                                <td>399</td>
                                <td>399</td>
                                <td>399</td>
                                <td>399</td>
                                <td>399</td>
                                <td>399</td>
                            </tr>
                            <tr>
                                <td>399</td>
                                <td>399</td>
                                <td>399</td>
                                <td>399</td>
                                <td>399</td>
                                <td>399</td>
                                <td>399</td>
                            </tr>
                            <tr>
                                <td>399</td>
                                <td>399</td>
                                <td>399</td>
                                <td>399</td>
                                <td>399</td>
                                <td>399</td>
                                <td>399</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- end c-reports-data-table-date-content -->
                    <div class="c-reports-data-table-nav">
                        <span class="c-reports-data-table-nav-prev"><i class="icon__n icon__n--keyboard_arrow_left"></i></span>
                        <span class="c-reports-data-table-nav-next"><i class="icon__n icon__n--keyboard_arrow_right"></i></span>
                    </div>
                </td>
                <td class="c-reports-data-table-date-cell">
                    <table class="c-reports-data-table-date-result">
                        <thead>
                            <tr>
                                <th>GÜN ORT.</th>
                                <th>TOPLAM</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>399</td>
                                <td><strong>2172</strong></td>
                            </tr>
                            <tr>
                                <td>399</td>
                                <td><strong>2172</strong></td>
                            </tr>
                            <tr>
                                <td>399</td>
                                <td><strong>2172</strong></td>
                            </tr>
                            <tr>
                                <td>399</td>
                                <td><strong>2172</strong></td>
                            </tr>
                            <tr>
                                <td>399</td>
                                <td><strong>2172</strong></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- end c-reports-data-table-date-result -->
                </td>
            </tr>
        </table>
    </div>
</div>
