<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
</head>

<body>
	<!-- Your Component Goes Here -->

<div class="c-multi-selection-bar col-xs-16 container-fluid">
	<div class="row">
			<div class="c-multi-selection-bar__selections col-xs-5">
				<i class="icon__n icon__n--radio_button_checked"></i>
				<strong>2</strong> <span class="hidden-sm-down">kayıt seçildi. <a href="#">Tümünü Seç</a></span>
				<span class="c-multi-selection-bar__rows hidden-sm-down">(297 Kayıt)</span>
			</div><!-- /.c-multi-selection-bar__selections -->

			<div class="c-multi-selection-bar__actions col-xs-6">
				<ul>
					<li><a href="#" class="active" title="Kopyala"><i class="icon__n icon__n--layers"></i></a></li>
					<li><a href="#" title="Gizle"><i class="icon__n icon__n--visibility"></i></a></li>
					<li><a href="#" title="Göster"><i class="icon__n icon__n--visibility_off"></i></a></li>
					<li><a href="#" title="Arşivle"><i class="icon__n icon__n--archive"></i></a></li>
					<li><a href="#" title="Sil"><i class="icon__n icon__n--delete"></i></a></li>
				</ul>
			</div><!-- /.c-horizontal-actions -->

			<div class="c-multi-selection-bar__cancel col-xs-5">
				<span class="hidden-sm-down">Seçimleri <a href="#">iptal et</a></span>
				<a href="#" class="c-multi-selection-bar__close"><i class="icon__n icon__n--close"></i></a>
			</div><!-- /.c-multi-selection-bar__cancel -->
	</div><!-- /.row -->
</div><!-- /.c-multi-selection-bar -->

</body>
</html><!-- End Of Html -->
