<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
</head>
<body style="padding:20px;">
	<!-- Your Component Goes Here -->

	<div class="c-tree-view-container">
		
		<ul class="c-tree-view-container__list">
		
			<li class="c-tree-view-container__list-item c-tree-view-container__list-item--opened">
				<div class="c-tree-view-container__list-item-title">
					<div class="c-tree-view-container__list-item-icon">
						<i class="icon__n icon__n--dehaze"></i>
						<i class="icon__n icon__n--folder"></i>
					</div>
					<div class="c-tree-view-container__list-item-label">Rock</div>
					<div class="c-tree-view-container__list-item-action-btn">
						<i class="icon__n icon__n--unfold_more"></i>
						<i class="icon__n icon__n--md icon__n--more_vert"></i>
					</div>
				</div><!-- end c-tree-view-container__list-item-title -->

				<ul class="c-tree-view-container__list">
				
					<li class="c-tree-view-container__list-item">
						<div class="c-tree-view-container__list-item-title">
							<div class="c-tree-view-container__list-item-icon">
								<i class="icon__n icon__n--dehaze"></i>
								<i class="icon__n icon__n--folder_open"></i>
							</div>
							<div class="c-tree-view-container__list-item-label">Hard Rock</div>
							<div class="c-tree-view-container__list-item-action-btn">
								<i class="icon__n icon__n--md icon__n--more_vert"></i>
							</div>
						</div><!-- end c-tree-view-container__list-item-title -->
					</li><!-- end c-tree-view-container-list-item -->

					<li class="c-tree-view-container__list-item">
						<div class="c-tree-view-container__list-item-title">
							<div class="c-tree-view-container__list-item-icon">
								<i class="icon__n icon__n--dehaze"></i>
								<i class="icon__n icon__n--folder_open"></i>
							</div>
							<div class="c-tree-view-container__list-item-label">Soft Rock</div>
							<div class="c-tree-view-container__list-item-action-btn">
								<i class="icon__n icon__n--md icon__n--more_vert"></i>
							</div>
						</div><!-- end c-tree-view-container__list-item-title -->
					</li><!-- end c-tree-view-container-list-item -->

					<li class="c-tree-view-container__list-item">
						<div class="c-tree-view-container__list-item-title">
							<div class="c-tree-view-container__list-item-icon">
								<i class="icon__n icon__n--dehaze"></i>
								<i class="icon__n icon__n--folder"></i>
							</div>
							<div class="c-tree-view-container__list-item-label">Soft Rock</div>
							<div class="c-tree-view-container__list-item-action-btn">
								<i class="icon__n icon__n--md icon__n--more_vert"></i>
							</div>
						</div><!-- end c-tree-view-container__list-item-title -->

						<ul class="c-tree-view-container__list">
						
							<li class="c-tree-view-container__list-item">
								<div class="c-tree-view-container__list-item-title">
									<div class="c-tree-view-container__list-item-icon">
										<i class="icon__n icon__n--dehaze"></i>
										<i class="icon__n icon__n--folder_open"></i>
									</div>
									<div class="c-tree-view-container__list-item-label">Brit Rock</div>
									<div class="c-tree-view-container__list-item-action-btn">
										<i class="icon__n icon__n--md icon__n--more_vert"></i>
									</div>
								</div><!-- end c-tree-view-container__list-item-title -->
							</li><!-- end c-tree-view-container-list-item -->

							<li class="c-tree-view-container__list-item">
								<div class="c-tree-view-container__list-item-title">
									<div class="c-tree-view-container__list-item-icon">
										<i class="icon__n icon__n--dehaze"></i>
										<i class="icon__n icon__n--folder"></i>
									</div>
									<div class="c-tree-view-container__list-item-label">Brit Rock</div>
									<div class="c-tree-view-container__list-item-action-btn">
										<i class="icon__n icon__n--md icon__n--more_vert"></i>
									</div>
								</div><!-- end c-tree-view-container__list-item-title -->

								<ul class="c-tree-view-container__list">
								
									<li class="c-tree-view-container__list-item">
										<div class="c-tree-view-container__list-item-title">
											<div class="c-tree-view-container__list-item-icon">
												<i class="icon__n icon__n--dehaze"></i>
												<i class="icon__n icon__n--folder_open"></i>
											</div>
											<div class="c-tree-view-container__list-item-label">Brit Rock</div>
											<div class="c-tree-view-container__list-item-action-btn">
												<i class="icon__n icon__n--md icon__n--more_vert"></i>
											</div>
										</div><!-- end c-tree-view-container__list-item-title -->
									</li><!-- end c-tree-view-container-list-item -->

									<li class="c-tree-view-container__list-item c-tree-view-container__list-new-item">
										<a href="#"><i class="icon__n icon__n--plus"></i><span>YENİ KATEGORİ EKLE</span></a>
									</li><!-- end c-tree-view-container-list-item -->
								
								</ul><!-- end c-tree-view-container-list -->

							</li><!-- end c-tree-view-container-list-item -->

							<li class="c-tree-view-container__list-item c-tree-view-container__list-new-item">
								<a href="#"><i class="icon__n icon__n--plus"></i><span>YENİ KATEGORİ EKLE</span></a>
							</li><!-- end c-tree-view-container-list-item -->
						
						</ul><!-- end c-tree-view-container-list -->

					</li><!-- end c-tree-view-container-list-item -->

					<li class="c-tree-view-container__list-item">
						<div class="c-tree-view-container__list-item-title">
							<div class="c-tree-view-container__list-item-icon">
								<i class="icon__n icon__n--dehaze"></i>
								<i class="icon__n icon__n--folder"></i>
							</div>
							<div class="c-tree-view-container__list-item-label">Post Rock</div>
							<div class="c-tree-view-container__list-item-action-btn">
								<i class="icon__n icon__n--md icon__n--more_vert"></i>
							</div>
						</div><!-- end c-tree-view-container__list-item-title -->
					</li><!-- end c-tree-view-container-list-item -->

					<li class="c-tree-view-container__list-item c-tree-view-container__list-new-item">
						<a href="#" class="c-add-button"><i class="icon__n icon__n--plus"></i></a>
					</li><!-- end c-tree-view-container-list-item -->
				
				</ul><!-- end c-tree-view-container-list -->

			</li><!-- end c-tree-view-container-list-item -->

			<li class="c-tree-view-container__list-item">
				<div class="c-tree-view-container__list-item-title">
					<div class="c-tree-view-container__list-item-icon">
						<i class="icon__n icon__n--dehaze"></i>
						<i class="icon__n icon__n--folder"></i>
					</div>
					<div class="c-tree-view-container__list-item-label">Indie</div>
					<div class="c-tree-view-container__list-item-action-btn">
						<i class="icon__n icon__n--unfold_more"></i>
						<i class="icon__n icon__n--md icon__n--more_vert"></i>
					</div>
				</div><!-- end c-tree-view-container__list-item-title -->
			</li><!-- end c-tree-view-container-list-item -->

			<li class="c-tree-view-container__list-item">
				<div class="c-tree-view-container__list-item-title">
					<div class="c-tree-view-container__list-item-icon">
						<i class="icon__n icon__n--dehaze"></i>
						<i class="icon__n icon__n--folder"></i>
					</div>
					<div class="c-tree-view-container__list-item-label">Pop</div>
					<div class="c-tree-view-container__list-item-action-btn">
						<i class="icon__n icon__n--unfold_more"></i>
						<i class="icon__n icon__n--md icon__n--more_vert"></i>
					</div>
				</div><!-- end c-tree-view-container__list-item-title -->
			</li><!-- end c-tree-view-container-list-item -->

			<li class="c-tree-view-container__list-item c-tree-view-container__list-new-item">
				<button class="btn btn-secondary">KATEGORİ EKLE</button>
			</li><!-- end c-tree-view-container-list-item -->
		
		</ul><!-- end c-tree-view-container-list -->

	</div><!-- end c-tree-view-container -->



</body>
</html>
<!-- End Of Html -->
