<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="../../../css/main.css">
</head>
<body style="padding:20px;">
  <!-- Your Component Goes Here -->

  <div class="c-seat-selection">
    <div class="c-seat-selection__item">
      <div class="c-seat-selection__item-seat">B01 - C6</div>
      <i class="icon__n icon__n--arrow_forward"></i>
      <div class="c-seat-selection__item-seat c-seat-selection__item-seat--changed">
        B011 - C6 <div class="c-seat-selection__seat-clear"><a href="#" class="icon__n icon__n--close"></a></div>
      </div>
      <div class="c-seat-selection__item-status c-seat-selection__item-status--down"></div>
    </div><!-- end c-seat-selection__item -->
    <div class="c-seat-selection__item">
      <div class="c-seat-selection__item-seat">B01 - C6</div>
      <i class="icon__n icon__n--arrow_forward"></i>
      <div class="c-seat-selection__item-seat c-seat-selection__item-seat--new"></div>
      <div class="c-seat-selection__item-status"></div>
    </div><!-- end c-seat-selection__item -->
    <div class="c-seat-selection__item">
      <div class="c-seat-selection__item-seat">B01 - C6</div>
      <i class="icon__n icon__n--arrow_forward"></i>
      <div class="c-seat-selection__item-seat c-seat-selection__item-seat--new"></div>
      <div class="c-seat-selection__item-status"></div>
    </div><!-- end c-seat-selection__item -->
    <div class="c-seat-selection__item">
      <div class="c-seat-selection__item-seat">B01 - C6</div>
      <i class="icon__n icon__n--arrow_forward"></i>
      <div class="c-seat-selection__item-seat c-seat-selection__item-seat--new"></div>
      <div class="c-seat-selection__item-status c-seat-selection__item-status--up"></div>
    </div><!-- end c-seat-selection__item -->

  </div><!-- end c-seat-selection -->

</body>
</html>
<!-- End Of Html -->
