<app-dialog-box>
    <div #header class="c-dialog-box__header c-dialog-box__header--border c-dialog-box__header--padding">
        <div class="c-dialog-box__header-bar">
            <h1 class="c-dialog-box__header-title">Bilet Geçmişi</h1>

            <div class="c-dialog-box__header-actions">
                <app-button type="icon" (click)="close()" icon="close" theme="secondary"></app-button>
            </div>
        </div>
    </div>
    <div #body class="c-dialog-box__body  c-dialog-box__body--no-padding c-dialog-box__body--height">
        <div class="p-container p-container--inherit">
            <span class="c-access-code-history-modal__info">
                        <strong><i>{{performanceCreateDate | date:'dd.MM.yyyy - HH:mm'}} {{performanceName}}</i></strong> performansı için oluşturulan
                        <strong><i>{{ticketType}} biletin</i></strong> işlem geçmişi listeleniyor.
            </span>            
            <div class="c-access-code-history-modal--table">
                <table>
                  <tr *ngFor="let d of ticketHistories">
                    <td>{{d.CreateDate===null? '-': d.CreateDate | date: 'dd.MM.yyyy - HH:mm'}}</td>
                    <td>{{d.Type_Desc}}</td>
                  </tr>
                </table>
            </div>
        </div>        
    </div>    
</app-dialog-box>